<div class="ui-widget-content">

                        <!-- start global messages -->
                                                    <!-- end global messages -->
    
                        <!-- start content -->
                                <div class="category-head">
        </div>
                <div class="category-description"><p>This collection of papers is another chapter in Little Greene’s ongoing restoration of the best, yet often forgotten, wallpaper designs of the past. These eight patterns are drawn from original 1950s designs found in the extensive wallpaper archive at Manchester's Whitworth Art Gallery, and the collection is named in honour of the wallpaper manufacturer who commissioned the original designers, John Line &amp; Sons.</p></div>
        <div class="listing-type-list subcategory-listing">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody><tr>
                                <td style="width: 25%">
                    <div class="listing-item2" id="subcategory-138">
                    	                        <div class="subcat-product-image">
                            <a href="http://www.littlegreene.eu/wallpaper/collection/1950s-wallpaper/florette" title="Florette c.1954">
                                <img src="http://www.littlegreene.eu/media/catalog/category/Florette.jpg" alt="Florette c.1954" width="100">
                            </a>
                        </div>
                        <div class="cat-box-text">
                        <h5><a href="http://www.littlegreene.eu/wallpaper/collection/1950s-wallpaper/florette" title="Florette c.1954">Florette c.1954</a></h5>
                        </div>
                    </div>
                </td>
                                            <td style="width: 25%">
                    <div class="listing-item2" id="subcategory-139">
                    	                        <div class="subcat-product-image">
                            <a href="http://www.littlegreene.eu/wallpaper/collection/1950s-wallpaper/hampstead" title="Hampstead c.1949">
                                <img src="http://www.littlegreene.eu/media/catalog/category/Hampstead.jpg" alt="Hampstead c.1949" width="100">
                            </a>
                        </div>
                        <div class="cat-box-text">
                        <h5><a href="http://www.littlegreene.eu/wallpaper/collection/1950s-wallpaper/hampstead" title="Hampstead c.1949">Hampstead c.1949</a></h5>
                        </div>
                    </div>
                </td>
                                            <td style="width: 25%">
                    <div class="listing-item2" id="subcategory-140">
                    	                        <div class="subcat-product-image">
                            <a href="http://www.littlegreene.eu/wallpaper/collection/1950s-wallpaper/norcombe" title="Norcombe c.1949">
                                <img src="http://www.littlegreene.eu/media/catalog/category/Norcombe.jpg" alt="Norcombe c.1949" width="100">
                            </a>
                        </div>
                        <div class="cat-box-text">
                        <h5><a href="http://www.littlegreene.eu/wallpaper/collection/1950s-wallpaper/norcombe" title="Norcombe c.1949">Norcombe c.1949</a></h5>
                        </div>
                    </div>
                </td>
                                            <td style="width: 25%">
                    <div class="listing-item2" id="subcategory-141">
                    	                        <div class="subcat-product-image">
                            <a href="http://www.littlegreene.eu/wallpaper/collection/1950s-wallpaper/heath-stripe" title="Heath Stripe c.1959">
                                <img src="http://www.littlegreene.eu/media/catalog/category/file_129.jpg" alt="Heath Stripe c.1959" width="100">
                            </a>
                        </div>
                        <div class="cat-box-text">
                        <h5><a href="http://www.littlegreene.eu/wallpaper/collection/1950s-wallpaper/heath-stripe" title="Heath Stripe c.1959">Heath Stripe c.1959</a></h5>
                        </div>
                    </div>
                </td>
                </tr><tr>                            <td style="width: 25%">
                    <div class="listing-item2" id="subcategory-142">
                    	                        <div class="subcat-product-image">
                            <a href="http://www.littlegreene.eu/wallpaper/collection/1950s-wallpaper/bouquet" title="Bouquet c.1956">
                                <img src="http://www.littlegreene.eu/media/catalog/category/Bouquet.jpg" alt="Bouquet c.1956" width="100">
                            </a>
                        </div>
                        <div class="cat-box-text">
                        <h5><a href="http://www.littlegreene.eu/wallpaper/collection/1950s-wallpaper/bouquet" title="Bouquet c.1956">Bouquet c.1956</a></h5>
                        </div>
                    </div>
                </td>
                                            <td style="width: 25%">
                    <div class="listing-item2" id="subcategory-143">
                    	                        <div class="subcat-product-image">
                            <a href="http://www.littlegreene.eu/wallpaper/collection/1950s-wallpaper/herbes" title="Herbes c.1955">
                                <img src="http://www.littlegreene.eu/media/catalog/category/Herbes.jpg" alt="Herbes c.1955" width="100">
                            </a>
                        </div>
                        <div class="cat-box-text">
                        <h5><a href="http://www.littlegreene.eu/wallpaper/collection/1950s-wallpaper/herbes" title="Herbes c.1955">Herbes c.1955</a></h5>
                        </div>
                    </div>
                </td>
                                            <td style="width: 25%">
                    <div class="listing-item2" id="subcategory-144">
                    	                        <div class="subcat-product-image">
                            <a href="http://www.littlegreene.eu/wallpaper/collection/1950s-wallpaper/cones" title="Cones c.1956">
                                <img src="http://www.littlegreene.eu/media/catalog/category/Aurora.jpg" alt="Cones c.1956" width="100">
                            </a>
                        </div>
                        <div class="cat-box-text">
                        <h5><a href="http://www.littlegreene.eu/wallpaper/collection/1950s-wallpaper/cones" title="Cones c.1956">Cones c.1956</a></h5>
                        </div>
                    </div>
                </td>
                                            <td style="width: 25%">
                    <div class="listing-item2" id="subcategory-145">
                    	                        <div class="subcat-product-image">
                            <a href="http://www.littlegreene.eu/wallpaper/collection/1950s-wallpaper/quilt" title="Quilt c.1956">
                                <img src="http://www.littlegreene.eu/media/catalog/category/Quilt.jpg" alt="Quilt c.1956" width="100">
                            </a>
                        </div>
                        <div class="cat-box-text">
                        <h5><a href="http://www.littlegreene.eu/wallpaper/collection/1950s-wallpaper/quilt" title="Quilt c.1956">Quilt c.1956</a></h5>
                        </div>
                    </div>
                </td>
                </tr><tr><td style="width: 25%">&nbsp;</td>
<td style="width: 25%">&nbsp;</td>
<td style="width: 25%">&nbsp;</td>
<td style="width: 25%">&nbsp;</td>
    </tr>
    </tbody></table>
</div>&nbsp;
                        <!-- end content -->
                    </div>

