<div class="ui-widget-content">

                        <!-- start global messages -->
                                                    <!-- end global messages -->
    
                        <!-- start content -->
                                <div class="category-head">
        </div>
                <div class="category-description"><p>The London Wallpapers collection has been inspired by eight historic wallpapers from the English Heritage archive.</p><br>
<p>Dating from 1760 to 1890, these traditional wallpapers were originally manufactured in London to decorate smart city and country homes and each design has a provenance tracing it back to the original house in which it was discovered.  Stunning flocks, sophisticated prints and use of vivid colours and metallic finishes bring the archive to life for the 21st Century.</p><br>
<p>&nbsp;</p></div>
        <div class="listing-type-list subcategory-listing">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody><tr>
                                <td style="width: 25%">
                    <div class="listing-item2" id="subcategory-66">
                    	                        <div class="subcat-product-image">
                            <a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers/albemarle-st" title="Albemarle St. c.1760">
                                <img src="http://www.littlegreene.eu/media/catalog/category/file_90.jpg" alt="Albemarle St. c.1760" width="100">
                            </a>
                        </div>
                        <div class="cat-box-text">
                        <h5><a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers/albemarle-st" title="Albemarle St. c.1760">Albemarle St. c.1760</a></h5>
                        </div>
                    </div>
                </td>
                                            <td style="width: 25%">
                    <div class="listing-item2" id="subcategory-67">
                    	                        <div class="subcat-product-image">
                            <a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers/bayham-abbey" title="Bayham Abbey c.1880">
                                <img src="http://www.littlegreene.eu/media/catalog/category/file_91.jpg" alt="Bayham Abbey c.1880" width="100">
                            </a>
                        </div>
                        <div class="cat-box-text">
                        <h5><a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers/bayham-abbey" title="Bayham Abbey c.1880">Bayham Abbey c.1880</a></h5>
                        </div>
                    </div>
                </td>
                                            <td style="width: 25%">
                    <div class="listing-item2" id="subcategory-69">
                    	                        <div class="subcat-product-image">
                            <a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers/broadwick-st" title="Broadwick St. c.1775">
                                <img src="http://www.littlegreene.eu/media/catalog/category/file_92.jpg" alt="Broadwick St. c.1775" width="100">
                            </a>
                        </div>
                        <div class="cat-box-text">
                        <h5><a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers/broadwick-st" title="Broadwick St. c.1775">Broadwick St. c.1775</a></h5>
                        </div>
                    </div>
                </td>
                                            <td style="width: 25%">
                    <div class="listing-item2" id="subcategory-55">
                    	                        <div class="subcat-product-image">
                            <a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers/craven-street" title="Craven Street c.1885">
                                <img src="http://www.littlegreene.eu/media/catalog/category/file_106.jpg" alt="Craven Street c.1885" width="100">
                            </a>
                        </div>
                        <div class="cat-box-text">
                        <h5><a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers/craven-street" title="Craven Street c.1885">Craven Street c.1885</a></h5>
                        </div>
                    </div>
                </td>
                </tr><tr>                            <td style="width: 25%">
                    <div class="listing-item2" id="subcategory-70">
                    	                        <div class="subcat-product-image">
                            <a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers/cranford" title="Cranford c.1765">
                                <img src="http://www.littlegreene.eu/media/catalog/category/file_93.jpg" alt="Cranford c.1765" width="100">
                            </a>
                        </div>
                        <div class="cat-box-text">
                        <h5><a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers/cranford" title="Cranford c.1765">Cranford c.1765</a></h5>
                        </div>
                    </div>
                </td>
                                            <td style="width: 25%">
                    <div class="listing-item2" id="subcategory-54">
                    	                        <div class="subcat-product-image">
                            <a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers/great-ormond-street" title="Great Ormond Street c.1890">
                                <img src="http://www.littlegreene.eu/media/catalog/category/file_94.jpg" alt="Great Ormond Street c.1890" width="100">
                            </a>
                        </div>
                        <div class="cat-box-text">
                        <h5><a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers/great-ormond-street" title="Great Ormond Street c.1890">Great Ormond Street c.1890</a></h5>
                        </div>
                    </div>
                </td>
                                            <td style="width: 25%">
                    <div class="listing-item2" id="subcategory-23">
                    	                        <div class="subcat-product-image">
                            <a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers/soho-square-print" title="Soho Square - Print c.1775">
                                <img src="http://www.littlegreene.eu/media/catalog/category/file_95.jpg" alt="Soho Square - Print c.1775" width="100">
                            </a>
                        </div>
                        <div class="cat-box-text">
                        <h5><a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers/soho-square-print" title="Soho Square - Print c.1775">Soho Square - Print c.1775</a></h5>
                        </div>
                    </div>
                </td>
                                            <td style="width: 25%">
                    <div class="listing-item2" id="subcategory-53">
                    	                        <div class="subcat-product-image">
                            <a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers/soho-square-flock" title="Soho Square - Flock c.1775">
                                <img src="http://www.littlegreene.eu/media/catalog/category/file_96.jpg" alt="Soho Square - Flock c.1775" width="100">
                            </a>
                        </div>
                        <div class="cat-box-text">
                        <h5><a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers/soho-square-flock" title="Soho Square - Flock c.1775">Soho Square - Flock c.1775</a></h5>
                        </div>
                    </div>
                </td>
                </tr><tr>                            <td style="width: 25%">
                    <div class="listing-item2" id="subcategory-72">
                    	                        <div class="subcat-product-image">
                            <a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers/st-james-s-place" title="St. James's Place c.1760">
                                <img src="http://www.littlegreene.eu/media/catalog/category/file_97.jpg" alt="St. James's Place c.1760" width="100">
                            </a>
                        </div>
                        <div class="cat-box-text">
                        <h5><a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers/st-james-s-place" title="St. James's Place c.1760">St. James's Place c.1760</a></h5>
                        </div>
                    </div>
                </td>
                <td style="width: 25%">&nbsp;</td>
<td style="width: 25%">&nbsp;</td>
<td style="width: 25%">&nbsp;</td>
    </tr>
    </tbody></table>
</div>&nbsp;
                        <!-- end content -->
                    
</div>

