<div class="ui-widget-content">

                        <!-- start global messages -->
                                                    <!-- end global messages -->
    
                        <!-- start content -->
                                <div class="category-head">
        </div>
                <div class="category-description"><p>London Wallpapers II is the second book of designs drawn from the archives of English Heritage.   Based on documents ranging from small scraps to full drops of wallpaper, the designs have been redrawn and coloured to complement the 21st century interior.   Subtle and striking, the collection features small motifs and larger patterns, enhanced by judicious use of modern matallics and traditional surface detail.</p><br>
<p>&nbsp;</p></div>
        <div class="listing-type-list subcategory-listing">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody><tr>
                                <td style="width: 25%">
                    <div class="listing-item2" id="subcategory-58">
                    	                        <div class="subcat-product-image">
                            <a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers-ii/bedford-square" title="Bedford Square c.1900">
                                <img src="http://www.littlegreene.eu/media/catalog/category/file_98.jpg" alt="Bedford Square c.1900" width="100">
                            </a>
                        </div>
                        <div class="cat-box-text">
                        <h5><a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers-ii/bedford-square" title="Bedford Square c.1900">Bedford Square c.1900</a></h5>
                        </div>
                    </div>
                </td>
                                            <td style="width: 25%">
                    <div class="listing-item2" id="subcategory-59">
                    	                        <div class="subcat-product-image">
                            <a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers-ii/chesterfield-street" title="Chesterfield Street c.1755">
                                <img src="http://www.littlegreene.eu/media/catalog/category/file_99.jpg" alt="Chesterfield Street c.1755" width="100">
                            </a>
                        </div>
                        <div class="cat-box-text">
                        <h5><a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers-ii/chesterfield-street" title="Chesterfield Street c.1755">Chesterfield Street c.1755</a></h5>
                        </div>
                    </div>
                </td>
                                            <td style="width: 25%">
                    <div class="listing-item2" id="subcategory-60">
                    	                        <div class="subcat-product-image">
                            <a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers-ii/chesterfield-plain" title="Chesterfield Plain c.1755">
                                <img src="http://www.littlegreene.eu/media/catalog/category/file_100.jpg" alt="Chesterfield Plain c.1755" width="100">
                            </a>
                        </div>
                        <div class="cat-box-text">
                        <h5><a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers-ii/chesterfield-plain" title="Chesterfield Plain c.1755">Chesterfield Plain c.1755</a></h5>
                        </div>
                    </div>
                </td>
                                            <td style="width: 25%">
                    <div class="listing-item2" id="subcategory-61">
                    	                        <div class="subcat-product-image">
                            <a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers-ii/lauderdale" title="Lauderdale c.1820">
                                <img src="http://www.littlegreene.eu/media/catalog/category/file_101.jpg" alt="Lauderdale c.1820" width="100">
                            </a>
                        </div>
                        <div class="cat-box-text">
                        <h5><a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers-ii/lauderdale" title="Lauderdale c.1820">Lauderdale c.1820</a></h5>
                        </div>
                    </div>
                </td>
                </tr><tr>                            <td style="width: 25%">
                    <div class="listing-item2" id="subcategory-62">
                    	                        <div class="subcat-product-image">
                            <a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers-ii/lower-george-st" title="Lower George Street c.1810">
                                <img src="http://www.littlegreene.eu/media/catalog/category/file_102.jpg" alt="Lower George Street c.1810" width="100">
                            </a>
                        </div>
                        <div class="cat-box-text">
                        <h5><a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers-ii/lower-george-st" title="Lower George Street c.1810">Lower George Street c.1810</a></h5>
                        </div>
                    </div>
                </td>
                                            <td style="width: 25%">
                    <div class="listing-item2" id="subcategory-63">
                    	                        <div class="subcat-product-image">
                            <a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers-ii/lansdowne-walk" title="Lansdowne Walk c.1910">
                                <img src="http://www.littlegreene.eu/media/catalog/category/file_103.jpg" alt="Lansdowne Walk c.1910" width="100">
                            </a>
                        </div>
                        <div class="cat-box-text">
                        <h5><a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers-ii/lansdowne-walk" title="Lansdowne Walk c.1910">Lansdowne Walk c.1910</a></h5>
                        </div>
                    </div>
                </td>
                                            <td style="width: 25%">
                    <div class="listing-item2" id="subcategory-64">
                    	                        <div class="subcat-product-image">
                            <a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers-ii/marlborough" title="Marlborough c.1915">
                                <img src="http://www.littlegreene.eu/media/catalog/category/file_104.jpg" alt="Marlborough c.1915" width="100">
                            </a>
                        </div>
                        <div class="cat-box-text">
                        <h5><a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers-ii/marlborough" title="Marlborough c.1915">Marlborough c.1915</a></h5>
                        </div>
                    </div>
                </td>
                                            <td style="width: 25%">
                    <div class="listing-item2" id="subcategory-65">
                    	                        <div class="subcat-product-image">
                            <a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers-ii/maddox-st" title="Maddox Street c.1810">
                                <img src="http://www.littlegreene.eu/media/catalog/category/file_105.jpg" alt="Maddox Street c.1810" width="100">
                            </a>
                        </div>
                        <div class="cat-box-text">
                        <h5><a href="http://www.littlegreene.eu/wallpaper/collection/london-wallpapers-ii/maddox-st" title="Maddox Street c.1810">Maddox Street c.1810</a></h5>
                        </div>
                    </div>
                </td>
                </tr><tr><td style="width: 25%">&nbsp;</td>
<td style="width: 25%">&nbsp;</td>
<td style="width: 25%">&nbsp;</td>
<td style="width: 25%">&nbsp;</td>
    </tr>
    </tbody></table>
</div>&nbsp;
                        <!-- end content -->
                                        
</div>

