<div class="ui-widget-content">
    <!-- start global messages -->
    <!-- end global messages -->
    <!-- start content -->
    <div class="category-head">
    </div>
    <div class="category-description">
        This collection comprises eight authentic patterns from the 1960s and 1970s and
        is the result of research into a variety of historical sources, including the extensive
        archive at Manchester’s Whitworth Art Gallery. The ‘Retrospective Papers’ tells
        several simultaneous stories about interior design in the late twentieth century,
        combining hallmark ‘retro’ designs that embody the fashion for geometric patterns,
        two-colour silk-screen prints that echo the graphic quality of the pop-art movement,
        and more classic designs that drew inspiration from earlier periods, arguably nostalgic
        in their own time.</div>
    <div class="listing-type-list subcategory-listing">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
                <tr>
                    <td style="width: 25%">
                        <div class="listing-item2" id="subcategory-157">
                            <div class="subcat-product-image">
                                <a href="http://www.littlegreene.eu/wallpaper/collection/retrospective-papers/starflower-c-1967"
                                    title="Starflower c.1967">
                                    <img src="http://www.littlegreene.eu/media/catalog/category/Starflower_Original.jpg"
                                        alt="Starflower c.1967" width="100">
                                </a>
                            </div>
                            <div class="cat-box-text">
                                <h5>
                                    <a href="http://www.littlegreene.eu/wallpaper/collection/retrospective-papers/starflower-c-1967"
                                        title="Starflower c.1967">Starflower c.1967</a></h5>
                            </div>
                        </div>
                    </td>
                    <td style="width: 25%">
                        <div class="listing-item2" id="subcategory-158">
                            <div class="subcat-product-image">
                                <a href="http://www.littlegreene.eu/wallpaper/collection/retrospective-papers/lavaliers-c-1975"
                                    title="Lavaliers c.1975">
                                    <img src="http://www.littlegreene.eu/media/catalog/category/Lavaliers.jpg" alt="Lavaliers c.1975"
                                        width="100">
                                </a>
                            </div>
                            <div class="cat-box-text">
                                <h5>
                                    <a href="http://www.littlegreene.eu/wallpaper/collection/retrospective-papers/lavaliers-c-1975"
                                        title="Lavaliers c.1975">Lavaliers c.1975</a></h5>
                            </div>
                        </div>
                    </td>
                    <td style="width: 25%">
                        <div class="listing-item2" id="subcategory-159">
                            <div class="subcat-product-image">
                                <a href="http://www.littlegreene.eu/wallpaper/collection/retrospective-papers/reverie-c-1971"
                                    title="Reverie c.1971">
                                    <img src="http://www.littlegreene.eu/media/catalog/category/Reverie.jpg" alt="Reverie c.1971"
                                        width="100">
                                </a>
                            </div>
                            <div class="cat-box-text">
                                <h5>
                                    <a href="http://www.littlegreene.eu/wallpaper/collection/retrospective-papers/reverie-c-1971"
                                        title="Reverie c.1971">Reverie c.1971</a></h5>
                            </div>
                        </div>
                    </td>
                    <td style="width: 25%">
                        <div class="listing-item2" id="subcategory-160">
                            <div class="subcat-product-image">
                                <a href="http://www.littlegreene.eu/wallpaper/collection/retrospective-papers/bark-c-1961"
                                    title="Bark c.1961">
                                    <img src="http://www.littlegreene.eu/media/catalog/category/Bark.jpg" alt="Bark c.1961"
                                        width="100">
                                </a>
                            </div>
                            <div class="cat-box-text">
                                <h5>
                                    <a href="http://www.littlegreene.eu/wallpaper/collection/retrospective-papers/bark-c-1961"
                                        title="Bark c.1961">Bark c.1961</a></h5>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 25%">
                        <div class="listing-item2" id="subcategory-161">
                            <div class="subcat-product-image">
                                <a href="http://www.littlegreene.eu/wallpaper/collection/retrospective-papers/poppy-flower-c-1968"
                                    title="Poppy Flower c.1968">
                                    <img src="http://www.littlegreene.eu/media/catalog/category/Poppy_Flower.jpg" alt="Poppy Flower c.1968"
                                        width="100">
                                </a>
                            </div>
                            <div class="cat-box-text">
                                <h5>
                                    <a href="http://www.littlegreene.eu/wallpaper/collection/retrospective-papers/poppy-flower-c-1968"
                                        title="Poppy Flower c.1968">Poppy Flower c.1968</a></h5>
                            </div>
                        </div>
                    </td>
                    <td style="width: 25%">
                        <div class="listing-item2" id="subcategory-162">
                            <div class="subcat-product-image">
                                <a href="http://www.littlegreene.eu/wallpaper/collection/retrospective-papers/fern-c-1960"
                                    title="Fern c.1960">
                                    <img src="http://www.littlegreene.eu/media/catalog/category/Fern.jpg" alt="Fern c.1960"
                                        width="100">
                                </a>
                            </div>
                            <div class="cat-box-text">
                                <h5>
                                    <a href="http://www.littlegreene.eu/wallpaper/collection/retrospective-papers/fern-c-1960"
                                        title="Fern c.1960">Fern c.1960</a></h5>
                            </div>
                        </div>
                    </td>
                    <td style="width: 25%">
                        <div class="listing-item2" id="subcategory-163">
                            <div class="subcat-product-image">
                                <a href="http://www.littlegreene.eu/wallpaper/collection/retrospective-papers/hepworth-c-1973"
                                    title="Hepworth c.1973">
                                    <img src="http://www.littlegreene.eu/media/catalog/category/Hepworth.jpg" alt="Hepworth c.1973"
                                        width="100">
                                </a>
                            </div>
                            <div class="cat-box-text">
                                <h5>
                                    <a href="http://www.littlegreene.eu/wallpaper/collection/retrospective-papers/hepworth-c-1973"
                                        title="Hepworth c.1973">Hepworth c.1973</a></h5>
                            </div>
                        </div>
                    </td>
                    <td style="width: 25%">
                        <div class="listing-item2" id="subcategory-164">
                            <div class="subcat-product-image">
                                <a href="http://www.littlegreene.eu/wallpaper/collection/retrospective-papers/box-c-1962"
                                    title="Box c.1962">
                                    <img src="http://www.littlegreene.eu/media/catalog/category/Box.jpg" alt="Box c.1962"
                                        width="100">
                                </a>
                            </div>
                            <div class="cat-box-text">
                                <h5>
                                    <a href="http://www.littlegreene.eu/wallpaper/collection/retrospective-papers/box-c-1962"
                                        title="Box c.1962">Box c.1962</a></h5>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 25%">
                        &nbsp;
                    </td>
                    <td style="width: 25%">
                        &nbsp;
                    </td>
                    <td style="width: 25%">
                        &nbsp;
                    </td>
                    <td style="width: 25%">
                        &nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    &nbsp;
    <!-- end content -->
</div>
