<div>
    <h3 class="featurette-heading">Компания Мандерс представляет следующие категории продукции Sanderson на Украине</h3>
   
    <hr class="featurette-divider">

    <div class="featurette">
                
        <h2 class="featurette-heading">Sanderson <span class="muted">обои</span></h2>
        
        @Html.Partial("Products/part_Sn/wallpapers_Sanderson")
    </div>

    <hr class="featurette-divider">

    <div class="featurette">
                
        <h2 class="featurette-heading">Sanderson <span class="muted">текстиль</span></h2>
        
        @Html.Partial("Products/part_Sn/fabric_Sanderson")
    </div>
    <hr class="featurette-divider">

    <div class="featurette">
                
        <h2 class="featurette-heading">Sanderson <span class="muted">видео</span></h2>
        
        @Html.Partial("Products/part_Sn/video_Sanderson")
    </div>


</div>
