<div id="myCarousel_Sn_F" class="carousel slide" data-interval="3000">
    <div class="carousel-inner ui-corner-all">
        
        
        <div class="active item"><img src="~/Content/images/Sanderson/fabric/2[1].jpg" /></div>
        <div class="item"><img src="~/Content/images/Sanderson/fabric/3[1].jpg" /></div>
        <div class="item"><img src="~/Content/images/Sanderson/fabric/banner2-porcelaigardenspatternbookcover.jpg" /></div>
        <div class="item"><img src="~/Content/images/Sanderson/fabric/collectionbanners870x320px50slv.jpg" /></div>
        <div class="item"><img src="~/Content/images/Sanderson/fabric/collectionbanners870x320px50sprints2.jpg" /></div>
        <div class="item"><img src="~/Content/images/Sanderson/fabric/dancing-tulips-dps-v2_lr[0].jpg" /></div>
        <div class="item"><img src="~/Content/images/Sanderson/fabric/jubilee-square-bedroom[1].jpg" /></div>
        <div class="item"><img src="~/Content/images/Sanderson/fabric/kewmain_lr.jpg" /></div>
        <div class="item"><img src="~/Content/images/Sanderson/fabric/nc-vintage-1.jpg" /></div>
        <div class="item"><img src="~/Content/images/Sanderson/fabric/poppies-turquoise-lilac-dps-v2[0].jpg" /></div>
        <div class="item"><img src="~/Content/images/Sanderson/fabric/ranee-embroidery-bedroom-dps_lr[0].jpg" /></div>
        <div class="item"><img src="~/Content/images/Sanderson/fabric/sanderson-lymington-damask-landing-banners-1.jpg" /></div>
        <div class="item"><img src="~/Content/images/Sanderson/fabric/sanderson_bloomsbury-canvas-print_05[1].jpg" /></div>
        <div class="item"><img src="~/Content/images/Sanderson/fabric/tournier-dps_lr-v2[0].jpg" /></div>
        <div class="item"><img src="~/Content/images/Sanderson/fabric/varese-living-room-main[0].jpg" /></div>
       
    </div>
    
    <a class="carousel-control left" href="#myCarousel_Sn" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel_Sn" data-slide="next">&rsaquo;</a>
    </div>
<div class="featurette">
        <h2 class="featurette-heading">Текстиль от Sanderson<span class="muted"> представлен в 43 неповторимых коллекциях</span></h2>
      
        <p class="lead">Первые изделия Sanderson серийно отпечатал на хлопке в 1919 году. Теперь Сандерсон предлагает печатные продукты на хлопоке, лне и шелке, а также жаккардовые и вытканые узоры dobby, вышивки и многое другое. Все эти ткани используются для занавесей и штор, а так же обивка и мягкой мебели.</p>
        
        
    </div>
<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
     
<div id="myModal" class="modal hide fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" style="display: none;">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="myModalLabel">Заголовок</h3>
</div>
<div class="modal-body">
<h4>Текст в теле</h4>
<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.</p>
<h4>Всплывающий контент</h4>
<p>При наведении на эту <a data-original-title="Заголовок" href="#" class="btn popover-test" data-content="А здесь супер полезный контент. Завораживает и вдохновляет, неправда ли?">кнопку</a> должен появиться всплывающий контент.</p>
<h4>Всплывающая подсказка (Tooltips)</h4>
<p><a data-original-title="Подсказка" href="#" class="tooltip-test">При наведении на эту ссылку</a> и <a data-original-title="Еще Подсказка" href="#" class="tooltip-test">здесь</a> появится всплывающая подсказка.</p>
<hr>
<h4>Контент превышающий высоту всплывающего окна</h4>
<p>Мы выставили фиксированную высоту <code>max-height</code> для <code>.modal-body</code>. При превышении высоты всплывающего окна контентом появляется скроллбар, это видно на примере текста "lorem ipsum" ниже.</p>
<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal">Закрыть</button>
<button class="btn btn-primary">Сохранить</button>
</div>
</div>    