    <div id="myCarousel_Sn_W" class="carousel slide" data-interval="3000">
    <div class="carousel-inner ui-corner-all">
        
        <div class="active item"><img src="~/Content/images/Sanderson/wallpaper/1[2].jpg" /></div>
        <div class="item"><img src="~/Content/images/Sanderson/wallpaper/3[2].jpg" /></div>
        <div class="item"><img src="~/Content/images/Sanderson/wallpaper/angel-ferns-wallpaper-dps_lr-v2.jpg" /></div>
        <div class="item"><img src="~/Content/images/Sanderson/wallpaper/aspen-emerald-wallpaper-dps-v1[0].jpg" /></div>
        <div class="item"><img src="~/Content/images/Sanderson/wallpaper/banner1-porcelaigardenswallpapercover[0].jpg" /></div>
        <div class="item"><img src="~/Content/images/Sanderson/wallpaper/collectionbanners870x320px50smirowp1.jpg" /></div>
        <div class="item"><img src="~/Content/images/Sanderson/wallpaper/hadham-dps_lr[7].jpg" /></div>
        <div class="item"><img src="~/Content/images/Sanderson/wallpaper/lilacs-dps-3-v1.jpg" /></div>
        <div class="item"><img src="~/Content/images/Sanderson/wallpaper/maple-living-room-dps[2].jpg" /></div>
        <div class="item"><img src="~/Content/images/Sanderson/wallpaper/nc-vintage-2.jpg" /></div>
        <div class="item"><img src="~/Content/images/Sanderson/wallpaper/oleander-main_lr[3].jpg" /></div>
        <div class="item"><img src="~/Content/images/Sanderson/wallpaper/sanderson_bloomsbury_wallpaper_2[0].jpg" /></div>
        <div class="item"><img src="~/Content/images/Sanderson/wallpaper/sussex-downs-wallpaper-main[0].jpg" /></div>
        <div class="item"><img src="~/Content/images/Sanderson/wallpaper/varese-kantu-wp[0].jpg" /></div>
        <div class="item"><img src="~/Content/images/Sanderson/wallpaper/wallpaper-pg-4.jpg" /></div>
        <div class="item"><img src="~/Content/images/Sanderson/wallpaper/website_top-hanfleur.jpg" /></div>
       
    </div>
    
    <a class="carousel-control left" href="#myCarousel_Sn" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel_Sn" data-slide="next">&rsaquo;</a>
    </div>

<div class="featurette">

        <h2 class="featurette-heading">Обои компании Sanderson <span class="muted">представлены в 20 разных коллекциях</span></h2>
      
        <p class="lead">Артур Сандерсон начал свой бизнес в 1860 году с импорта и продажи обоев. На протяжении всей своей долгой истории, Сандерсон продолжал выпускать обои, чтобы удовлетворить моду того времени. Сегодня ассортимент включает в себя смелые стилизованные цветочные мотивы, классический английский ситец, простые текстуры, которые напечатаны в Великобритании на современном оборудовании.</p>
        
        
</div>
<hr class="featurette-divider">
<div class="productbox"><a href="#Options_11_Wallpapers" role="button" class="btn" data-toggle="modal"><img src="~/Content/images/Sanderson/wallpaper/collections/options_11_wp_thumb.jpg" />Options 11 Wallpapers</a></div>
    <div class="productbox"><a href="#Madison_Wallpaper" role="button" class="btn" data-toggle="modal"><img src="~/Content/images/Sanderson/wallpaper/collections/madison-wallpaper.jpg" />Madison Wallpaper</a></div>
    <div class="productbox"><a href="#Maycott_Wallpapers" role="button" class="btn" data-toggle="modal"><img src="~/Content/images/Sanderson/wallpaper/collections/maycott_wallpaper_thumb.jpg" />Maycott Wallpapers</a></div>
    <div class="productbox"><a href="#50s_(W)" role="button" class="btn" data-toggle="modal"><img src="~/Content/images/Sanderson/wallpaper/collections/50s-wallpaper-thumb.jpg" />50s (W)</a></div>
    <div class="productbox"><a href="#A_Painter's_Garden_(W)" role="button" class="btn" data-toggle="modal"><img src="~/Content/images/Sanderson/wallpaper/collections/painters-garden-WP_thumbnai.jpg" />A Painter's Garden (W)</a></div>    
    <div class="productbox"><a href="#Amari_(W)" role="button" class="btn" data-toggle="modal"><img src="~/Content/images/Sanderson/wallpaper/collections/Amari-WP_thumbnail.jpg" />Amari (W)</a></div>
    <div class="productbox"><a href="#Bloomsbury_Canvas_WallPaper" role="button" class="btn" data-toggle="modal"><img src="~/Content/images/Sanderson/wallpaper/collections/Sanderson_Bloomsbury-Wallpaper_02.jpg" />Bloomsbury Canvas WallPaper</a></div>
<div class="productbox"><a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a></div>




<div class="productbox"><a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a></div>
     
<div id="myModal" class="modal hide fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" style="display: none;">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="myModalLabel">Заголовок</h3>
</div>
<div class="modal-body">
<h4>Текст в теле</h4>
<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.</p>
<h4>Всплывающий контент</h4>
<p>При наведении на эту <a data-original-title="Заголовок" href="#" class="btn popover-test" data-content="А здесь супер полезный контент. Завораживает и вдохновляет, неправда ли?">кнопку</a> должен появиться всплывающий контент.</p>
<h4>Всплывающая подсказка (Tooltips)</h4>
<p><a data-original-title="Подсказка" href="#" class="tooltip-test">При наведении на эту ссылку</a> и <a data-original-title="Еще Подсказка" href="#" class="tooltip-test">здесь</a> появится всплывающая подсказка.</p>
<hr>
<h4>Контент превышающий высоту всплывающего окна</h4>
<p>Мы выставили фиксированную высоту <code>max-height</code> для <code>.modal-body</code>. При превышении высоты всплывающего окна контентом появляется скроллбар, это видно на примере текста "lorem ipsum" ниже.</p>
<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal">Закрыть</button>
<button class="btn btn-primary">Сохранить</button>
</div>
</div>    



