<div class="featurette lead" id="Cole&amp;SonAdvice">
     <h2 class="featurette-heading">Рекомендации <span class="muted"> Cole &amp; Son</span></h2>
     <hr class="featurette-divider">
        <h3 class="muted">Инструкция по наклеиванию обоев.</h3>
        <p>Обратите внимание, что Вам необходимо проверить, какие обои Вы планируете клеить, прежде чем следовать этим инструкциям. Если на этикетке указанно "NON-WOVEN WALLCOVERING" ("НЕТКАНЫЕ ОБОИ"), пожалуйста, следуйте инструкциям для нетканых обоев.</p>
        <p>В противном случае вам необходимо следовать инструкциям для стандартных обоев.  Если вы в чем-то совсем не уверены, просьба звонить по телефону обслуживания клиентов.</p>

        <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#nonwoven" title="ПОКЛЕЙКА  НЕТКАНЫХ ОБОЕВ">ПОКЛЕЙКА  НЕТКАНЫХ ОБОЕВ</a></li>
            <li><a data-toggle="tab" href="#swallpaper" title="ПОКЛЕЙКА СТАНДАРТНЫХ БУМАЖНЫХ ОБОЕВ">ПОКЛЕЙКА СТАНДАРТНЫХ БУМАЖНЫХ ОБОЕВ</a></li>
        </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="nonwoven">
            <h3>ПОКЛЕЙКА  НЕТКАНЫХ ОБОЕВ</h3>
            <h3 class="muted">Подготовка стен:</h3>
            <ul>
                <li>После выравнивания стен обработайте их в соответствии с  классом обоев и их основой.</li>
                <li>Если стены с высоким содержанием уровня щелочи, это может повлиять на обои с фольгированным покрытием. В случае сомнений подготовьте стены с щелочной устойчивостью грунтовки.</li>
            </ul>
            <h3 class="muted">Клей:</h3>
            <ul>
                <li>Мы рекомендуем использовать традиционный, на основе крахмала или готовую смесь для всех обоев.</li>
                <li>ПВА или клей типа ПВХ не подходят для наших обоев, так как они могут вызывать на поверхности пятна или проблемы с прилипанием.</li>
                <li>Не следует наносить клей на швы. Клей не должен вступать в контакт с принтованной (лицевой) стороной обоев.</li>
                <li>КЛЕЙ НАНОСИТСЯ НА СТЕНЫ – НЕ НА ОБОИ</li>
                <li>Используйте фетровый ролик для разглаживания. </li>

            </ul>

            <h3 class="muted">Наклеивание обоев Cole & Son:</h3>
            <ul>
                <li>Отрезайте и наклеивайте 1 полосу за один раз.</li>
                <li>Проверьте, где по рисунку располагать верх,  прежде чем поклеить.</li>
                <li>При складывании полосы следите за тем, чтобы ее края не мялись.</li>
                <li>Обрезайте верхнюю и нижнюю части полотна ножницами для бумаги или острым ножом, чтобы края были ровными.</li>
                <li>Швы должны плотно стыковаться  без нахлеста.</li>
                <li>В темных обоях, возможно, потребуется прокрашивать края немного более светлым оттенком мела или пастели, чтобы спрятать белые края.</li>
                <li>Пронумерованные рулоны обоев следует клеить последовательно.</li>
                <li>Оклеивание дизайнов Jaspé или Stipple производится реверсивным методом (встречная наклейка) с изменением последовательности полотен.</li>
            </ul>
            <div class="ui-state-error ui-corner-all">
                <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>ВНИМАНИЕ:</strong>
                <ul>
                    <li>Обязанность декоратора, проверить, что данные обои в порядке.</li>
                    <li>Поверхность некоторых обоев может быть повреждена под воздействием влаги.</li>
                    <li>В течение 14 дней с момента доставки проверьте все обои и свяжитесь с вашим поставщиком немедленно, если  после поклейки 3 полос  возникли проблемы. Претензии к качеству товара не принимаются, если наклеено больше трех полотен обоев. </li>
                </ul>
            </div>
            <p>Эта информация была предоставлена  без гарантии (не может учитывать все нюансы и особенности работы.)</p>

        </div>
        <div class="tab-pane" id="swallpaper">
            <h3>ПОКЛЕЙКА СТАНДАРТНЫХ БУМАЖНЫХ ОБОЕВ</h3>
            <h3 class="muted">Подготовка стен:</h3>
            <ul>
                <li>После выравнивания стен обработайте их в соответствии с  классом обоев и их основой.</li>
            </ul>

            <h3 class="muted">Клей:</h3>
            <ul>
                <li>Мы рекомендуем использовать традиционный клей, на основе крахмала или готовую смесь для всех обоев.</li>
                <li>ПВА или клей типа ПВХ не подходят для наших обоев, так как они могут вызывать на поверхности пятна или проблемы с приставанием.</li>
                <li>Края должны быть хорошо проклеены чтобы обеспечить аккуратные стыки, но не допустить вытекания клея из швов.</li>
                <li>Клей не должен вступать в контакт с принтованной (лицевой) стороной обоев.</li>
                <li>Обеспечьте достаточное время пропитки полотна клеем, чтобы стать пластичным, недостаточное замачивание может спровоцировать пузырьки.</li>
                <li>Используйте фетровый ролик для разглаживания. </li>
            </ul>

            <h3 class="muted">Наклеивание обоев Cole & Son:</h3>
            <ul>
                <li>Отрезайте и наклеивайте 1 полосу за один раз.</li>
                <li>Проверьте, где по рисунку располагать верх,  прежде чем поклеить.</li>
                <li>При складывании полосы следите за тем, чтобы ее края не мялись.</li>
                <li>Обрезайте верхнюю и нижнюю части полотна ножницами для бумаги или острым ножом, чтобы края были ровными.</li>
                <li>Швы должны плотно стыковаться  без нахлеста.</li>
                <li>В темных обоях, возможно, потребуется прокрашивать края немного более светлым оттенком мела или пастели, чтобы спрятать белые края.</li>
                <li>Пронумерованные рулоны обоев наклеивать следует последовательно.</li>
                <li>Оклеивание дизайнов Jaspé или Stipple производится реверсивным методом (встречная поклейка) с изменением последовательности полотен.</li>
            </ul>
            <div class="ui-state-error ui-corner-all">
                <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>ВНИМАНИЕ:</strong>
                <ul>
                    <li>Обязанность декоратора - проверить, что данные обои в порядке.</li>
                    <li>Поверхность некоторых обоев может быть повреждена под воздействием влаги. </li>
                    <li>В течение 14 дней с момента доставки проверьте все обои и свяжитесь с вашим поставщиком немедленно, если  после поклейки 3 полос  возникли проблемы. Претензии к качеству товара не принимаются, если наклеено больше трех полотен обоев. </li>
                </ul>
            </div>
            <p>Эта информация была предоставлена  без гарантии (не может учитывать все нюансы и особенности работы.)</p>
</div>
    </div>
</div>