@{
    ViewBag.Title = "Контакты - manders.com.ua - Manders - Украина";
}
<div class="container marketing">
    <div>
        <h2 class="featurette-heading">@ViewBag.Title</h2>

    </div>

    <section>
        <header>
            <h3>Телефон</h3>
        </header>
        <p>
            <span>Основной:</span>
        <span>044 289-53-89, 289-78-88</span>
        </p>
        <p>
            <span>Мобильный:</span>
        <span>+38 (067) 645-06-99</span> или  <span>(050) 237-24-34</span>
        </p>
    </section>

    <section class="contact">
        <header>
            <h3>Email</h3>
        </header>
        <p>
            <span  >Магазина:</span>
        <span><a href="mailto:shop@manders.com.ua">shop@manders.com.ua</a></span>
        </p>
        <p>
            <span  >Для предложений:
        <span><a href="mailto:info@manders.com.ua">info@manders.com.ua</a></span>
        </p>
    </section>

    <section class="contact">
        <header>
            <h3>Адрес</h3>
        </header>
        <p class="lead">
            Салон-магазин на Горького, 3 в городе Киев
        </p>
        <h3>manders.com.ua</h3>
    </section>
    <div id="map" style="margin: 4px 7px 2px 4px;">
        <iframe width="700" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.ua/maps/ms?msa=0&amp;msid=214556307541085674945.0004cdbe7f0204ca72ee0&amp;hl=ru&amp;ie=UTF8&amp;t=m&amp;ll=50.439755,30.515599&amp;spn=0.002733,0.00751&amp;z=17&amp;iwloc=0004cdbe8793ca4320b1e&amp;output=embed"></iframe>
        <br />
        <small>Просмотреть <a href="https://maps.google.com.ua/maps/ms?msa=0&amp;msid=214556307541085674945.0004cdbe7f0204ca72ee0&amp;hl=ru&amp;ie=UTF8&amp;t=m&amp;ll=50.439755,30.515599&amp;spn=0.002733,0.00751&amp;z=17&amp;iwloc=0004cdbe8793ca4320b1e&amp;source=embed" style="color: #0000FF; text-align: left">dmHouse</a> на карте большего размера</small>
    </div>
</div>
