@{
    ViewBag.Title = "Компания Manders теперь и на Украине";
}


    
        <div>
            <div class="title">
                <h1 class="featurette-heading">@ViewBag.Title</h1>
                <h2 class="muted">@ViewBag.Message</h2>
            </div>
            <p class="lead">
                
            </p>



        </div>
    


