@{
    ViewBag.Title = "Документация к продукции компании Manders";
    Layout = Request.Params["part"] != null && Request.Params["part"] == "true" ? null : "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    
    
    <h2 class="featurette-heading">@ViewBag.Title</h2>
        @Html.Partial("Products/part_WH/William_Howard_catalog")
        @Html.Partial("Products/part_MC/catalog_Morris_and_Co")
  

</div>