<link href="../../Content/themes/manders-theme/jquery-ui-1.9.1.custom.css" rel="stylesheet"
    type="text/css" />


<div class="" id="featuredWallpaper">
    
   <img src="@Url.Content("~/Content/images/FB/wc_wallpaper_brocade.jpg")" alt="Brocade" title="Brocade" />
    
    <h4>
        Brocade</h4>
    <p>
       Brocade это The Broccato Papers, элегантный дизайн с готическим влиянием, разработана детализация богато украшенными листьями цветочными, чертополох мотивы. 
        Доступные в 10 цветовых оттенков.</p>
   
</div>
