<div class="text">
	 
    <h3>@Html.ActionLink("Краски", "Paints", "Products")</h3>
	<br>
	<br>
В наших шоу-румах вы можете приобрести краски для пола, стен и наружных работ английских фабрик: 
    <ul class="unstyled">
        <li><a href="@Url.Action("Farrow_and_Ball", "Products", new { id = "Products__part_FB__paints_Farrow_and_ball" })" title="Краски компании Farrow & Ball">Краски компании Farrow & Ball</a></li>
        <li><a href="@Url.Action("Little_Greene", "Products", new { id = "Products__part_LG__paints_Little_Greene" })" title="Краски компании Little Greene">Краски компании Little Greene</a></li>
    </ul>
@Html.ActionLink("Английские краски", "Paints", "Products") это особая эстетика, отменное качество и широкое разнообразие по ассортименту. <br>


</div>
		

