<div class="text">
	 <style>
          h1, p, a
          {
              color: #000000;
              text-decoration:none;
              text-align:justify;
          }

      </style>
    <h1>@Html.ActionLink("Краски", "Paints", "Products")</h1>
	<br>
	<br>
В наших шоу-румах вы можете приобрести краски для пола, стен и наружных работ английских фабрик: 
    <ul>
        <li>@Html.ActionLink("Little Green", "Little_Greene_paints", "Products")</li>
        <li>@Html.ActionLink("FARROW & BALL", "FARROW_AND_BALL_paints", "Products")</li>
    </ul>
@Html.ActionLink("Английские краски", "paints", "Products") это особая эстетика, отменное качество и широкое разнообразие по ассортименту. <br>


</div>
		

