<div class="text">
	 
    <h3>@Html.ActionLink("Краски", "Paints", "Products")</h3>
	<br>
	<br>
В наших шоу-румах вы можете приобрести краски для пола, стен и наружных работ английских фабрик: 
    <ul>
        <li>@Html.ActionLink("Little Green", "Little_Greene_paints", "Products")</li>
        <li>@Html.ActionLink("FARROW & BALL", "FARROW_AND_BALL_paints", "Products")</li>
    </ul>
@Html.ActionLink("Английские краски", "paints", "Products") это особая эстетика, отменное качество и широкое разнообразие по ассортименту. <br>


</div>
		

