<div class="text"> 
         
    <h3>@Html.ActionLink("William Howard", "William_Howard", "Products") </h1>
    <br />
    <br />
   
    В компании Мандерс плинтуса представлены английским брендом @Html.ActionLink("William Howard", "William_Howard", "Products") . 
    Мы являемся единственным их представителем в Украине.  
    Ведущий производитель Великобритании предлагает клиенту как традиционный английский плинтус Ogee 1, серия Torus, так и розетки для декора плинтуса и архитрава.   
    Вся продукция производится из влагостойкого МДФ и пригодна к использованию на любых объектах и в любых помещениях.  
    Изделия William Howard подчеркивают выразительность и оригинальность любого интерьера.  
    Они превосходно смотрятся как в деловом офисе, так и в жилых помещениях.  
    
        Различные профили и высота (плинтус от 44 мм до 219 мм), возможность подобрать необходимый финишный цвет, экологичность, устойчивость к влаге, легкий монтаж, 
не хрупкость при резке и простота в уходе позволяют Вам найти наилучший вариант для своего дизайна.

  
</div>