@{
    ViewBag.Title = "THE LITTLE GREENE";
}


<div>
<p>
<h2>Добро пожаловать в Little Greene - Manders</h2>
</p>
<ul class="lg">
<li class="zero"><a href="#environment"><h3>Есо – Окружающая среда</h3></a></li>
<li class="one"><a href="#colors_check"><h3>Выбираем цвета</h3></a></li>
<li class="two"><a href="#paint_for_ceiling_wall"><h3>Краски для стен и потолков</h3></a></li>
<li class="three"><a href="#paint_for_kitchen_bathroom"><h3>Краски для кухни и ванной комнаты</h3></a></li> 
<li class="four"><a href="#paints_for_wood_products"><h3>Краски для изделий из дерева</h3></a></li>
<li class="five"><a href="#paint for outdoor use"><h3>Краски для наружных работ</h3></a> </li>
<li class="six"><a href="#traditional_paint"><h3> Традиционные краски </h3></a></li>
<li class="seven"><a href="#primers"><h3> Грунтовки </h3> </a></li>
<li class="eight"><a href="#smart_paint"><h3>«Умные краски» и руководство по использованию</h3></a></li>
<li class="nine"><a href="#wallpaper"> <h3>Выбираем обои</h3></a></li>
<li><a href="#wallpaperXVIII"> <h3>Обои XVIII века</h3></a></li>
<li><a href="#wallpaperXIX"><h3> Обои XIX века</h3></a></li>
<li><a href="#wallpaperXX"><h3> Обои XX века</h3></a></li>
</ul>
Добро пожаловать в Little Greene
Little Greene дарит Вам две палитры – Цвета Англии ‘The Colours of England’ и Цветные шкалы ‘Colour Scales’ – 164 красивых оттенков из наших архивов и архивов English Heritage. Вместе обе палитры объединяют более 300 лет английского интерьерного декора и каждый цвет может рассказать свою историю – от шоколадного ‘Chocolate Colour’, в который была выкрашена входная дверь Георга Фридриха Генделя до цвета ‘Invisible Green’ ландшафтного дизайнера Хамфри Рептона.

Наши сложные и глубокие цвета созданы с использованием традиционных и современных пигментов. В наших красках в среднем на 40% больше пигментов, чем в обычных красках, что делает их непревзойденными по глубине цвета – оттенки, которые неуловимо меняются при разном освещении, наделяя цвет настоящим характером. Чем более сложная пигментация – тем интереснее цвет.

Мы создали один из самых дружелюбных к окружающей среде ассортиментов красок для любого нанесения, по этическим соображениям производимые только в Великобритании, без уступок по качеству или техническим характеристикам.

Как последний английский производитель, до сих пор самостоятельно выпускающий весь свой ассортимент традиционных и современных красок только в Англии, Little Greene продолжает быть образцом высококачественных красок, естественным образом заставляя нас участвовать в исследованиях и реставрационных работах, учреждаемых ассоциацией English Heritage.

Наши красивые краски продуманы до конца. Благодаря тщательно подобранным составляющим наши краски легко наносятся и могут похвастать лучшей кроющей способностью, чем у других, делая Ваш выбор краски Little Greene практичным и экономичным.
Little Greene при содействии
Ассоциация English Heritage существует, чтобы защитить и популяризировать захватывающую историческую среду Англии. Работая вместе с English Heritage, мы разработали палитру исторических цветов, охватывающих все ключевые периоды истории Англии от раннего георгианского периода до конца XX столетия.
Некоторые цвета являются знаковыми, пришедшие через столетнее забвение, а некоторые являются вечными классическими. По сути, все эти полностью достоверные цвета наряду с современными цветами Little Greene создают палитру цветов Англии Colours of England, которые удобно выбрать и среди которых приятно жить. Исторические цвета в нашей палитре отмечены красными кружочками с буквой внутри.
Эксклюзивный дизайн коллекции обоев ‘London Wallpapers’ был создан под впечатлением от сохранившихся кусков обоев, собранных в архивах ассоциации English Heritage и найденных в одних из самых престижных домов столицы Англии. За воскрешение многих моделей обоев XX века мы обязаны художественной галерее Уитворт Арт Гэллери в Манчестере, любезно предоставившую нам свой крупнейший в Англии архив.
Вклад от продаж каждого рулона обоев и каждой банки краски направляется на работу English Heritage в сохранении наших самых заветных зданий для будущих поколений. 

<a  name="environment" ><h3> Окружающая среда </h3></a>
Экологически чистые краски и обои Little Greene являются также одними из самых качественных продуктов. Мы используем только лучшие натуральные, органические и безопасные синтетические красители, которые придают краске превосходную глубину цвета, высокую кроющую способность и длительный срок службы, особо ожидаемый от современных красок.

•	Водные краски, которые значительно превосходят все существующие требования по содержанию летучих органических соединений (ЛОС).
•	Масляные краски, разработанные с использованием природных растительных масел.
•	Лучшая кроющая способность способствует использованию меньшего количества ресурсов.
•	Краски безопасны для детей. В частности, наши краски Absolute Matt, Intelligent Matt и Intelligent Eggshell сертифицированы по стандарту безопасности для детей BS EN 71-3:1995.
•	Переработка – вся упаковка изготовлена с использованием вторично обработанного сырья и также может быть переработана.
•	Безопасность производства сертифицирована по Европейскому стандарту BS EN ISO 14001:2004.

<a name="2">Все краски Little Greene</a> произведены в соответствии с высоким стандартом EN ISO 9001 и пригодны для профессионального и домашнего использования.

Все цвета Little Greene доступны в широком ассортименте экологически чистых водных и масляных красок в соответствии с таблицей.

= Экологически чистая водная краска
= Экологически чистая масляная краска (с пониженным содержанием ЛОС) 
<a name="colors_check"> Выбираем цвета </a>
Несмотря на сложность в выборе цвета, сам процесс может и должен приносить удовольствие. При выборе цвета нужно иметь в виду, что цвет краски должен определяться исходя из имеющихся цветов в интерьере и условий освещения. 
Наша классическая и современная палитра предлагает Вам нужное количество цветов для правильного выбора вне зависимости от стиля вашего интерьера.

Выкрашенные вручную цветовые раскладки
Палитры цветов Англии ‘Colour of England’ и цветная шкала ‘Colour Scales’ имеют 164 цвета, отличающиеся инновационными парящими цветными образцами. Просто согните цветовую раскладку вдоль и высвободите выкрашенный вручную образец цвета – теперь можно видеть его без белого фона.

Пробники
Все наши цвета доступны в маленьких 60мл пробниках краски Absolute Matt и в более крупных пробниках объемом 250мл, если требуется выкрасить большую площадь. В отличие от многих других производителей Little Greene также производит все свои краски в таре объемом 1 литр.

Профессиональные альбомы цвета
Бесценный инструмент для серьезного декоратора и дизайнера, собравший в себя все цвета палитр ‘Colours of England’ и ‘Colour Scales’, выкрашенных на листах формата А5 вручную.

Дощечки
В салонах наших дилеров Вы можете воспользоваться выкрашенными вручную дощечками, идеально передающими истинное представление о цвете и позволяющие Вам сравнивать их друг с другом, помогая выбрать нужный цвет. 

Для окончательного выбора нанесите содержимое пробника на одну или две стены в комнате. Понаблюдайте, как меняется цвет по мере изменения естественного освещения в течение дня и как он выглядит в вечернее время при искусственном освещении. 

Краски для стен и потолков

Экологически чистые водные краски Little Greene обладают высочайшей кроющей способностью, что позволяет ограничиться меньшим количеством более тонких слоев, без подтеков и наплывов на углах. Все эти краски практически не имеют запаха и сохнут в течение двух часов на отлип.

Краски для кухни и ванной комнаты

Краски Little Greene Intelligent Matt и Intelligent Eggshell являются наилучшим выбором для кухни и ванной комнаты. Специально разработанные, чтобы противостоять сырости и образованию загрязнений на поверхности, они настолько износоустойчивы, что их трудно повредить. Идеально подходят для целого ряда поверхностей, которым предстоит выдержать испытания современного образа жизни.


Краски для изделий из дерева
Для столярных изделий из дерева Вы можете выбрать полуматовые и глянцевые краски. Если требуется быстрое высыхание, низкий уровень запаха и экологическая чистота используйте краски на водной основе. С этими красками вы можете быть уверены в исключительном результате – качестве, простоте нанесения и долговечности. 

Краски для наружных работ
Эти краски разработаны для того, чтобы быть пригодными для наружных работ и они прошли соответствующее испытание временем, не требуя обновления на протяжении многих лет. Эти краски легко наносить и они обладают превосходной кроющей способностью, что делает работу легкой.
Традиционные краски
В случаях, когда требуется использование традиционных красок или для тех, кто предпочитает историческую подлинность, здесь представлены краски, которые были разработаны с использованием традиционных и природных материалов, таких как льняное масло, глина и известь.

Грунтовки
Мы предлагаем три грунтовки на выбор для правильной подготовки поверхности перед покраской.
Умные краски

Самым разумным выбором для Вашего дома и Вашей семьи являются водные краски Little Greene Intelligent Matt и Intelligent Eggshell, сочетающие в себе стойкость и красоту. Эти передовые краски предназначены для простого и быстрого нанесения. Они могут быть использованы в большинстве случаев: и для покраски стен, и для деревянных изделий, и для металлических радиаторов.

Водные краски Little Greene Intelligent Matt и Intelligent Eggshell:
•	Две самые экологически чистые краски в ассортименте
•	Безопасны для детей
•	Стойкие к мытью
•	Износоустойчивы
•	Сохнут в течение 2-4 часов
•	Нанесение валиком или кистью
•	Не требуют предварительного грунтования 
•	Одного или двух слоев может быть достаточно
•	Универсальность – краска можно наносить на стены, деревянные изделия и радиаторы отопления
•	В некоторых случаях можно наносить снаружи

Доступны во ВСЕХ цветах Little Greene в таре 5, 2,5 и 1л.

Intelligent Matt Emulsion
Совершенно матовая, но полностью моющаяся альтернатива традиционным водным краскам.

Intelligent Eggshell
Элегантная, с низкой степенью блеска краска, особо рекомендующаяся для деревянных изделий и стен там, где требуется особенная стойкость к мытью.


Выбираем обои

Каждая коллекция совмещает труд специалистов и традиционный метод производства на бумаге высшего сорта. Флексография, глубокая и поверхностная печать с одновременным использованием традиционной бумаги и бумаги на нетканой основе – флизелине – позволяют достичь наивысшей подлинности. Мы используем только водные чернила наивысшего качества, чтобы придать обоям утонченную текстуру, глубину цвета, изящный внешний вид и долговечность. Все обои могут подвергаться деликатной чистке, а некоторые – мытью.
Ко всем обоям мы рекомендуем цвета красок из нашей палитры ‘Colours of England’, чтобы Вам было проще и удобнее создать антураж Вашего дома.

Расчет количества обоев
Чтобы рассчитать количество рулонов, необходимых для оклеивания, обратитесь к помощи декоратора или мастеру, который будет осуществлять работы. Вы также можете воспользоваться нашим онлайн-калькулятором на нашем сайте www.littlegreene.com.
Все обои имеют ширину 52см и длину 10м. Минимальный заказ – от одного рулона.

Обойный клей Little Greene
Для инсталляции обоев Little Greene необходимо использовать готовый к нанесению обойный клей Little Greene Ready Mixed Wallpaper Paste. Специально разработанный для наших обоев клей расфасован в ведрах по 5кг и 2,5кг. Одного ведра 2,5кг хватает до 3 стандартных рулонов.


Образцы обоев
Помочь сделать правильный выбор помогут оригинальные образцы обоев формата А4, доступные во всех дизайнах и цветовых комбинациях. Вы можете заказать до 6 образцов обоев из различных коллекций у ближайшего продавца, либо на сайте www.littlegreene.com

</div>