<div class="text">

    <h3>@Html.ActionLink("ОБОИ", "Wallpapers", "Products")</h3>
    <br />
    <br />
    <span lang="RU">В магазине <span lang="en">Manders представлены обои известных брендов
        <span lang="EN">: 
   
        <ul class="unstyled">
            <li><a href="@Url.Action("Farrow_and_Ball", "Products", new { id = "Products__part_FB__wallpapers_Farrow_and_ball" })" title= "Обои компании Farrow & Ball">Обои компании Farrow & Ball</a></li>
            <li><a href="@Url.Action("Little_Greene", "Products", new { id = "Products__part_FB__wallpapers_Farrow_and_ball" })" title= "Обои комапнии Little Greene">Обои комапнии Little Greene</a></li>
            <li><a href="@Url.Action("Sanderson", "Products", new { id = "Products__part_Sn__wallpapers_Sanderson" })" title="Обои компании Sanderson">Обои компании Sanderson</a></li>
        </ul>
</div>
