@model string
@{
    Layout = "~/Views/Shared/_LayoutFB.cshtml";
    ViewBag.Title = "Краска & Обои люкс от Farrow & Ball из Великобритании теперь доступны на Украине.";
    var part = Model != null ? Model.Replace("__", "/") : "Products/part_FB/Farrow_and_Ball";
    
    
}
<div class="featurette">
    <img class="featurette-image pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/farrow_ball_logo.png")" />
</div>
<h2 class="featurette-heading">@ViewBag.Title</h2>


@Html.Partial(part)