@model string
@{
    @*Layout = "~/Views/Shared/_LayoutProducts.cshtml";*@
    ViewBag.Title = "Краска & Люкс обои Little Greene на manders.com.ua";
    var part = Model != null ? Model.Replace("__", "/") : "Products/part_LG/_Little_Greene";
    
    
}
<div class="featurette">
            <img class="featurette-image pull-right ui-corner-all" src="@Url.Content("~/Content/images/LG/new_logo_little_greene.jpg")" />
</div>
<h2 class="featurette-heading">@ViewBag.Title</h2>


@Html.Partial(part)