@model string
@{
    @*Layout = "~/Views/Shared/_LayoutProducts.cshtml";*@
    ViewBag.Title = "Текстиль от производителя Swaffer";
    var part = Model != null ? Model.Replace("__", "/") : "Products/part_MC/_Morris_and_Co";
    
    
}
<div class="featurette">
            <img class="featurette-image pull-right ui-corner-all" src="@Url.Content("~/Content/images/MC/logo_MC_white.jpg")" />
</div>
<h2 class="featurette-heading">@ViewBag.Title</h2>

<div id="myCarousel_MC" class="carousel slide">
    <div class="carousel-inner ui-corner-all">

        <div class="active item">
            <img src="~/Content/images/MC/baner/homeb_MC_1.jpg" /></div>
        <div class="item">
            <img src="~/Content/images/MC/baner/homeb_MC_2.jpg" /></div>
        <div class="item">
            <img src="~/Content/images/MC/baner/homeb_MC_3.jpg" /></div>
        

    </div>

    <a class="carousel-control left" href="#myCarousel_MC" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel_MC" data-slide="next">&rsaquo;</a>
</div>


@Html.Partial(part)