@{
    ViewBag.Title = "Textile";
}

<h2>Textile</h2>


<h2 class="featurette-heading">Вы сможете найти огромный выбор высококачественного английского текстиля. 
    <span class="muted">В наших магазинах Вы встретите такие бренды как...</span></h2>
<hr class="featurette-divider">
<div>
@Html.Partial("Prodacts/part_Sn/fabric_Sanderson")
</div>
<div>

</div>
