@{
    ViewBag.Title = "Textile";
}
<h2 class="featurette-heading">Вы сможете найти огромный выбор высококачественного английского текстиля. 
    <span class="muted">В наших магазинах Вы встретите такие бренды как...</span></h2>
<hr class="featurette-divider">
<div>
    @Html.Partial("Products/part_Sn/fabric_Sanderson")
</div>
<div>
    @Html.Partial("Products/part_Zf/fabric_Zoffany")
</div>
<div>
    @Html.Partial("Products/part_MC/fabric_Morris_and_Co")
</div>
