@{
    ViewBag.Title = "William Howard - является ведущей компанией по производству профилей в Великобритании. Теперь представлена на Украине.";
    var part = Request.Params["partWH"] != null ? Request.Params["partWH"] : "Products/part_WH/William_Howard_part";
}
@section script_section{
  
    }

<h2 class="featurette-heading">@ViewBag.Title</h2>
@Html.Partial(part)
<div>
<img src="~/Content/images/WH/lang_footer.png" />
    </div>