<div>
    <h3 class="featurette-heading">Компания Мандерс представляет продукцию компании Morris & Co на Украине</h3>
    <hr class="featurette-divider">
    <div class="featurette">
        @Html.Partial("Products/part_MC/_about_Morris_and_Co")
    </div>
    <hr class="featurette-divider">
        <h2 class="featurette-heading">Morris & Co <span class="muted">обои</span></h2>
        @Html.Partial("Products/part_MC/wallpapers_Morris_and_Co")
    <hr class="featurette-divider">
    <div class="featurette">
        <h2 class="featurette-heading">Morris & Co <span class="muted">текстиль</span></h2>
        @Html.Partial("Products/part_MC/fabric_Morris_and_Co")
    </div>
    @*<hr class="featurette-divider">
        <div class="featurette">
        <h2 class="featurette-heading">Sanderson <span class="muted">видео</span></h2>
        @Html.Partial("Products/part_Zf/video_Zoffany")
    </div>*@
</div>

