<h2 class="featurette-heading">Каталог Morris & Co <span class="muted">обои и текстиль</span></h2>

    <hr class="featurette-divider">

    
    <div class="">
            <h2 class="featurette-heading">Archive II <span class="muted">Prints & Wallpapers</span> </h2>
            <img class="ui-corner-all"  src="~/Content/images/MC/pdf/Archive_II.jpg" alt="Archive II" />
            <a href="#Archive_II" role="button" class="btn btn-large btn-inverse" data-toggle="modal" title="Archive II открыть на нашем сайте">Archive II открыть на нашем сайте</a> или
            <a href="~/Content/images/MC/pdf/Archive_II.pdf" class="btn btn-large btn-warning" title="Archive II скачать с нашего сайта">Archive II скачать с нашего сайта</a>
    </div>

    <hr class="featurette-divider">
        <div class="">
            <h2 class="featurette-heading">Morris & Co <span class="muted">Archive Collections</span></h2>
            <img class="ui-corner-all" src="~/Content/images/MC/pdf/Morris_Archive_Collections.jpg" alt="Morris Archive Collections" />
            <a href="#Morris_Archive_Collections" role="button" class="btn btn-large btn-inverse" data-toggle="modal" title="Morris Archive Collections открыть на нашем сайте">Morris Archive Collections открыть на нашем сайте</a> или
            <a href="~/Content/images/MC/pdf/Morris_Archive_Collections.pdf" class="btn btn-large btn-warning" title="Morris Archive Collections скачать с нашего сайта">Morris Archive Collections скачать с нашего сайта</a>
     
        </div>

    <hr class="featurette-divider">
        <div class="">
            <h2 class="featurette-heading">Morris & Co <span class="muted">V</span></h2>
            <img class="ui-corner-all" src="~/Content/images/MC/pdf/Morris_V.jpg" alt="Morris V" />
            <a href="#Morris_V" role="button" class="btn btn-large btn-inverse" data-toggle="modal" title="Morris V открыть на нашем сайте">Morris V открыть на нашем сайте</a> или
            <a href="~/Content/images/MC/pdf/Morris_V.pdf" class="btn btn-large btn-warning" title="Morris V скачать с нашего сайта">Morris V скачать с нашего сайта</a>
     
        </div>
    <hr class="featurette-divider">
        <div class="">
            <h2 class="featurette-heading">Morris & Co <span class="muted">IV</span></h2>
            <img class="ui-corner-all" src="~/Content/images/MC/pdf/MorrisIV.jpg" alt="Morris IV" />
            <a href="#Morris_IV" role="button" class="btn btn-large btn-inverse" data-toggle="modal" title="Morris IV открыть на нашем сайте">Morris IV открыть на нашем сайте</a> или
            <a href="~/Content/images/MC/pdf/MorrisIV.pdf" class="btn btn-large btn-warning" title="Morris IV скачать с нашего сайта">Morris IV скачать с нашего сайта</a>
     
        </div>

    <hr class="featurette-divider">
       
<div class="">
            <h2 class="featurette-heading">Morris & Co <span class="muted">Pimpernel</span></h2>
            <img class="ui-corner-all" src="~/Content/images/MC/pdf/Pimpernel.jpg" alt="Morris Pimpernel" />
            <a href="#Pimpernel" role="button" class="btn btn-large btn-inverse" data-toggle="modal" title="Morris Pimpernel открыть на нашем сайте">Morris Pimpernel открыть на нашем сайте</a> или
            <a href="~/Content/images/MC/pdf/Pimpernel.pdf" class="btn btn-large btn-warning" title="Morris Pimpernel скачать с нашего сайта">Morris Pimpernel скачать с нашего сайта</a>
     
        </div>
<hr class="featurette-divider">








<div id="contrnt_MC">
    <div class="modal hide fade" id="Archive_II" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 620px !important">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Каталог Archive II</h3>
    </div>
    <div class="modal-body" style="min-width: 600px; min-height: 800px;">
    <iframe class="scribd_iframe_embed" src="http://www.scribd.com/embeds/162459087/content?start_page=1&view_mode=scroll&access_key=key-134axtxk4x5ynfitfepw&show_recommendations=false" data-auto-height="false" data-aspect-ratio="0.778257118205349" scrolling="no" id="doc_6851" width="600" height="800" frameborder="0"></iframe>
    </div>
    <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</a>
    </div>
    </div>

    <div class="modal hide fade" id="Morris_Archive_Collections" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 620px !important">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Каталог Morris Archive Collections</h3>
    </div>
    <div class="modal-body" style="min-width: 600px; min-height: 800px;">
    
<iframe class="scribd_iframe_embed" src="http://www.scribd.com/embeds/114001909/content?start_page=1&view_mode=scroll&access_key=key-2im8a2p6s1ivxkae6i9f&show_recommendations=false" data-auto-height="false" data-aspect-ratio="0.778257118205349" scrolling="no" id="doc_3425" width="600" height="800" frameborder="0"></iframe>
    </div>
    <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</a>
    </div>
    </div>

    <div class="modal hide fade" id="Morris_V" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 620px !important">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Каталог Morris V</h3>
    </div>
    <div class="modal-body" style="min-width: 600px; min-height: 800px;">
    
<iframe class="scribd_iframe_embed" src="http://www.scribd.com/embeds/114001070/content?start_page=1&view_mode=scroll&access_key=key-nm0fxhlwiuuazjqz1b&show_recommendations=false" data-auto-height="false" data-aspect-ratio="0.778929188255613" scrolling="no" id="doc_13805" width="600" height="800" frameborder="0"></iframe>
    </div>
    <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</a>
    </div>
    </div>

    <div class="modal hide fade" id="Morris_IV" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 620px !important">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Каталог Morris IV</h3>
    </div>
    <div class="modal-body" style="min-width: 600px; min-height: 800px;">
    
<iframe class="scribd_iframe_embed" src="http://www.scribd.com/embeds/114000673/content?start_page=1&view_mode=scroll&access_key=key-19rz19xul64yv0tlpi9z&show_recommendations=false" data-auto-height="false" data-aspect-ratio="0.707450980392157" scrolling="no" id="doc_77449" width="600" height="800" frameborder="0"></iframe>
    </div>
    <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</a>
    </div>
    </div>

    <div class="modal hide fade" id="Pimpernel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 620px !important">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Каталог Morris Pimpernel</h3>
    </div>
    <div class="modal-body" style="min-width: 600px; min-height: 800px;">
    
<iframe class="scribd_iframe_embed" src="http://www.scribd.com/embeds/114000673/content?start_page=1&view_mode=scroll&access_key=key-19rz19xul64yv0tlpi9z&show_recommendations=false" data-auto-height="false" data-aspect-ratio="0.707450980392157" scrolling="no" id="doc_77449" width="600" height="800" frameborder="0"></iframe>
    </div>
    <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</a>
    </div>
    </div>
</div>
