<div class="row" >
    <h2 class="featurette-heading">Morris & Co <span class="muted">обои и текстиль</span></h2>
    <div class="featurette span11">

        <div class="span2"><a href="#Archive_II_Print" role="button" class="btn" data-toggle="modal" title="Archive II Print">
            <img src="~/Content/images/MC/textil_wallpaper/Archive_II_Print.jpg" />Archive II Print
            </a>
        </div>
        <div class="span2"><a href="#Archive_II_Wallpaper" role="button" class="btn" data-toggle="modal" title="Archive II Wallpaper">
            <img src="~/Content/images/MC/textil_wallpaper/Archive_II_Wallpaper.jpg" />Archive II Wallpaper
            </a>
        </div>
        <div class="span2"><a href="#myModal" role="button" class="btn" data-toggle="modal" title="Archive Wallpaper">
            <img src="~/Content/images/MC/textil_wallpaper/ArchiveWallpaper.jpg" />Archive Wallpaper
            </a>
        </div>
        <div class="span2"><a href="#myModal" role="button" class="btn" data-toggle="modal" title="Archive Prints">
            <img src="~/Content/images/MC/textil_wallpaper/ArchivePrints.jpg" />Archive Prints
            </a>
        </div>
        <div class="span2"><a href="#myModal" role="button" class="btn" data-toggle="modal" title="Archive Embroideries">
            <img src="~/Content/images/MC/textil_wallpaper/ArchiveEmbroideries.jpg" />Archive Embroideries
            </a>
        </div>
    </div>
    <div class="featurette span11">
        <div class="span2"><a href="#myModal" role="button" class="btn" data-toggle="modal" title="Archive Weaves">
            <img src="~/Content/images/MC/textil_wallpaper/ArchiveWeaves.jpg" />Archive Weaves
            </a>
        </div>
        <div class="span2"><a href="#myModal" role="button" class="btn" data-toggle="modal" title="Pimpernel">
            <img src="~/Content/images/MC/textil_wallpaper/Pimpernel.jpg" />Pimpernel
            </a>
        </div>
        <div class="span2"><a href="#myModal" role="button" class="btn" data-toggle="modal" title="Embroideries">
            <img src="~/Content/images/MC/textil_wallpaper/Embroideries.jpg" />Embroideries
            </a>
        </div>
        <div class="span2"><a href="#myModal" role="button" class="btn" data-toggle="modal" title="Morris Volume V">
            <img src="~/Content/images/MC/textil_wallpaper/Morris_Volume_V.jpg" />Morris Volume V
            </a>
        </div>
        <div class="span2"><a href="#myModal" role="button" class="btn" data-toggle="modal" title="Morris Volume IV">
            <img src="~/Content/images/MC/textil_wallpaper/Morris_Volume_IV.jpg" />Morris Volume IV
            </a>
        </div>

    </div>
</div>
<div id="contrnt_MC">
    <div class="modal hide fade" id="Archive_II_Print" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Archive_II_Print</h3>
    </div>
    <div class="modal-body">
    <p>One fine body…</p>
    </div>
    <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
    </div>
    </div>
</div>
