
<p class="lead">За недолгую историю существования — всего лишь треть столетия — английский бренд Zoffany завоевал статус одного из выдающихся мировых производителей текстиля и обоев.</p>
<p class="lead">В 1981 году Хамфри Болул (Hamphrey Bowl), специалист по истории искуств и дизайнер, получил задание воспроизвести орнаменты, украшавшие стены известного поместья Темпл Ньюссем в английском городке Лидс. Во время работы в усадьбе господин Боул обнаружил под верхним слоем обоев более старое покрытие с восхитительными дамасками и элегантными полосами. Найденные артефакты вдохновили дизайнера на создание собственной компании и стали основой для первых коллекций.</p>

<div class="featurette">
    <img class="featurette-image pull-right ui-corner-all" title="Про компанию: Zoffany" src="~/Content/images/Zoffany/about/Screen-Shot-2013-01-20-at-12.59.36-AM.png" alt="" height="481" width="533"></div>
<div class="featurette">
    <img class="featurette-image pull-left ui-corner-all" title="Про компанию: Zoffany" src="~/Content/images/Zoffany/about/Screen-Shot-2013-01-20-at-12.59.24-AM.png" alt="" height="484" width="533"></div>
<div class="featurette">
    <img class="featurette-image pull-right ui-corner-all" title="Про компанию: Zoffany" src="~/Content/images/Zoffany/about/Screen-Shot-2013-01-20-at-12.59.14-AM.png" alt="" height="480" width="533"></div>
<div class="featurette">
    <img class="featurette-image pull-left ui-corner-all" title="Про компанию: Zoffany" src="~/Content/images/Zoffany/about/Screen-Shot-2013-01-20-at-12.59.00-AM.png" alt="" height="481" width="533"></div>
<div class="featurette">
    <img class="featurette-image pull-right ui-corner-all" title="Про компанию: Zoffany" src="~/Content/images/Zoffany/about/Screen-Shot-2013-01-20-at-12.58.52-AM.png" alt="" height="480" width="532"></div>
<div class="featurette">
    <img class="featurette-image pull-left ui-corner-all" title="Про компанию: Zoffany" src="~/Content/images/Zoffany/about/Screen-Shot-2013-01-20-at-12.58.36-AM.png" alt="" height="482" width="532"></div>
<p class="lead">Название Zoffany компания получила в честь художника неоклассической школы <a href="http://en.wikipedia.org/wiki/Johann_Zoffany">Иоганна Цоффани</a> (Johann Zoffany). Родившийся во Франкфурте, большую часть жизни, однако, он жил и работал в Англии под покровительством короля Георга III и королевы Шарлотты.</p>
<div class="featurette">
    <img class="featurette-image pull-right ui-corner-all" title="Про компанию: Zoffany" src="~/Content/images/Zoffany/about/zoffany.jpg" alt="" height="620" width="533"></div>
<p class="lead">Концепция бренда заключается в утонченной, элегантной и яркой интерпретации культурного наследия. Вдохновляясь историческими образцами (компания располагает уникальным архивом по истории обработки текстиля и тканевым узорам XVII-XIX веков), дизайнеры Zoffany разрабатывают решения на грани классики и самых горячих современных тенденций.</p>
<p class="lead">Текстиль и обои Zoffany представлены Manders.</p>
<div class="featurette">
    <img class="featurette-image pull-left ui-corner-all" title="Про компанию: Zoffany" src="~/Content/images/Zoffany/about/Screen-Shot-2013-01-20-at-12.55.50-AM.png" alt="" height="482" width="533">
</div>
<div class="featurette">
    <img class="featurette-image pull-right ui-corner-all" title="Про компанию: Zoffany" src="~/Content/images/Zoffany/about/zoffany-13.jpg" alt="" height="670" width="533"></div>
<div class="featurette">
    <img class="featurette-image pull-left ui-corner-all" title="Про компанию: Zoffany" src="~/Content/images/Zoffany/about/Screen-Shot-2013-01-20-at-12.55.22-AM.png" alt="" height="483" width="533"></div>
<div class="featurette">
    <img class="featurette-image pull-right ui-corner-all" title="Про компанию: Zoffany" src="~/Content/images/Zoffany/about/zoffany-12.jpg" alt="" height="360" width="533"></div>
<div class="featurette">
    <img class="featurette-image pull-left ui-corner-all" title="Про компанию: Zoffany" src="~/Content/images/Zoffany/about/Screen-Shot-2013-01-20-at-12.54.47-AM.png" alt="" height="483" width="533"></div>
<div class="featurette">
    <img class="featurette-image pull-right ui-corner-all" title="Про компанию: Zoffany" src="~/Content/images/Zoffany/about/zoffany-14.jpg" alt="" height="380" width="533"></div>
<div class="featurette">
    <img class="featurette-image pull-left ui-corner-all" title="Про компанию: Zoffany" src="~/Content/images/Zoffany/about/Screen-Shot-2013-01-20-at-12.53.45-AM.png" alt="" height="485" width="533"></div>
<div class="featurette">
    <img class="featurette-image pull-right ui-corner-all" title="Про компанию: Zoffany" src="~/Content/images/Zoffany/about/zoffany-10.jpg" alt="" height="660" width="533"></div>
