<div>
    <h3 class="featurette-heading">Компания Мандер представляет продукцию Zoffany на Украине</h3>
   
    <hr class="featurette-divider">
    <div class="featurette">
        <p class="lead">Английская компания ZOFFANY — королева классического и неоклассического стилей в обоях и текстиле. Источник вдохновения ее дизайнеров — огромная (свыше 3000 образцов) коллекция старинных тканей и обоев. И архив, и собственно бренд ZOFFANY обязаны своим созданием дизайнеру Хемфри Бойлу (Humphrey Boyle), который 20 лет назад взялся выполнить заказ по воссозданию обоев ручной печати, найденных в одном из старинных зданий в городе Лидс.</p>
        <p class="lead">Поклонники ZOFFANY эпатажу предпочитают трогательную радость узнавания. Вот, например, характерный рисунок французского шелкового переплетения. Его, хоть и в адаптированном виде, несложно узнать на орнаменте Lys новой коллекции Town & Country.</p>
    </div>
       <hr class="featurette-divider">
    <div class="featurette">
        @Html.Partial("Products/part_Zf/_about_Zoffany")
    </div>


    <hr class="featurette-divider">
    <div class="featurette">
                
        <h2 class="featurette-heading">Zoffany <span class="muted">обои</span></h2>
        
        @Html.Partial("Products/part_Zf/wallpapers_Zoffany")
    </div>

    <hr class="featurette-divider">

    <div class="featurette">
        @Html.Partial("Products/part_Zf/fabric_Zoffany")
    </div>
    @*<hr class="featurette-divider">

    <div class="featurette">
                
        <h2 class="featurette-heading">Sanderson <span class="muted">видео</span></h2>
        
        @Html.Partial("Products/part_Zf/video_Zoffany")
    </div>*@


</div>
