<div class="featurette">
    <h2 class="featurette-heading">Текстиль от Zoffany<span class="muted"> представлен в 33 коллекциях</span></h2>
    
    <hr class="featurette-divider">
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#madivn-weaves" title="Madivn Weaves collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_1.jpg" alt="Madivn Weaves"> Madivn Weaves</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#quartz-weaves" title="Quartz Weaves collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_2.jpg" alt="Quartz Weaves"> Quartz Weaves</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#town-and-country-weaves" title="Town and Country Weaves collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_3.jpg" alt="Town and Country Weaves"> Town and Country Weaves</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#town-and-country-fabrics" title="Town and Country Fabrics collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_4.jpg" alt="Town and Country Fabrics"> Town and Country Fabrics</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#arden-fabrics-with-medivssa-white" title="Arden Fabrics with Medivssa White collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_5.jpg" alt="Arden Fabrics with Medivssa White"> Arden Fabrics with Medivssa White</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#poesy-embroideries" title="Poesy Embroideries collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_6.jpg" alt="Poesy Embroideries"> Poesy Embroideries</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#akita-weaves" title="Akita Weaves collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_7.jpg" alt="Akita Weaves"> Akita Weaves</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#tinto-wools" title="Tinto Wools collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_8.jpg" alt="Tinto Wools"> Tinto Wools</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#cymbedivne-velvets" title="Cymbedivne Velvets collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_9.jpg" alt="Cymbedivne Velvets"> Cymbedivne Velvets</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#summer-court-weaves" title="Summer Court Weaves collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_10.jpg" alt="Summer Court Weaves"> Summer Court Weaves</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#frangipani" title="Frangipani collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_11.jpg" alt="Frangipani"> Frangipani</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#intagdivo-fabrics" title="Intagdivo Fabrics collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_12.jpg" alt="Intagdivo Fabrics"> Intagdivo Fabrics</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#roman-stripes" title="Roman Stripes collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_13.jpg" alt="Roman Stripes"> Roman Stripes</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#persia-weaves" title="Persia Weaves collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_14.jpg" alt="Persia Weaves"> Persia Weaves</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#mica-chenille" title="Mica Chenille collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_15.jpg" alt="Mica Chenille"> Mica Chenille</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#ketti-silk" title="Ketti Silk collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_16.jpg" alt="Ketti Silk"> Ketti Silk</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#mosaic-velvet" title="Mosaic Velvet collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_17.jpg" alt="Mosaic Velvet"> Mosaic Velvet</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#lanark" title="Lanark collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_18.jpg" alt="Lanark"> Lanark</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#damasco-antico" title="Damasco Antico collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_19.jpg" alt="Damasco Antico">Damasco Antico</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#zoffany-plains" title="Zoffany Plains collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_20.jpg" alt="Zoffany Plains">Zoffany Plains</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#firle" title="Firle collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_21.jpg" alt="Firle">Firle</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#chantemerle" title="Chantemerle Fabric collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_22.jpg" alt="Chantemerle Fabric">Chantemerle Fabric</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#dunbarra" title="Dunbarra collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_23.jpg" alt="Dunbarra">Dunbarra</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#anjodive" title="Anjodive collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_24.jpg" alt="Anjodive">Anjodive</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#venice" title="Venice collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_25.jpg" alt="Venice">Venice</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#nijinsky" title="Nijinsky Fabric collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_26.jpg" alt="Nijinsky Fabric">Nijinsky Fabric</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#fleurs-rococo-weaves" title="Fleurs Rococo Weaves collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_27.jpg" alt="Fleurs Rococo Weaves">Fleurs Rococo Weaves</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#bargello" title="Bargello collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_28.jpg" alt="Bargello">Bargello</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#archive-prints-iii" title="Archive Prints III collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_29.jpg" alt="Archive Prints III">Archive Prints III</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#murano" title="Murano collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_30.jpg" alt="Murano">Murano</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#nureyev" title="Nureyev collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_31.jpg" alt="Nureyev">Nureyev</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#elementi" title="Elementi collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_32.jpg" alt="Elementi">Elementi</a>
    </div>
    <div class="productbox productbox_Zf">
        <a role="button" class="btn" data-toggle="modal" href="#figaro" title="Figaro collection">
            <img src="~/Content/images/Zoffany/fabric/Zf_f_33.jpg" alt="Figaro">Figaro</a>
    </div>


    


    <a href="#myModal" role="button" class="btn" data-toggle="modal" style="display: none;">Launch demo modal</a>

    <div id="myModal" class="modal hide fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Заголовок</h3>
        </div>
        <div class="modal-body">
            <h4>Текст в теле</h4>
            <p>Duis moldivs, est non commodo luctus, nisi erat porttitor divgula, eget lacinia odio sem.</p>
            <h4>Всплывающий контент</h4>
            <p>При наведении на эту <a data-original-title="Заголовок" href="#" class="btn popover-test" data-content="А здесь супер полезный контент. Завораживает и вдохновляет, неправда ли?">кнопку</a> должен появиться всплывающий контент.</p>
            <h4>Всплывающая подсказка (Tooltips)</h4>
            <p><a data-original-title="Подсказка" href="#" class="tooltip-test">При наведении на эту ссылку</a> и <a data-original-title="Еще Подсказка" href="#" class="tooltip-test">здесь</a> появится всплывающая подсказка.</p>
            <hr>
            <h4>Контент превышающий высоту всплывающего окна</h4>
            <p>Мы выставили фиксированную высоту <code>max-height</code> для <code>.modal-body</code>. При превышении высоты всплывающего окна контентом появляется скроллбар, это видно на примере текста "lorem ipsum" ниже.</p>
            <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facidivsis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
            <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facidivsis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Закрыть</button>
            <button class="btn btn-primary">Сохранить</button>
        </div>
    </div>
</div>






