<div class="featurette">
    <h2 class="featurette-heading">Обои компании Zoffany<span class="muted"> представлены в 18 коллекциях</span></h2>
    
    <hr class="featurette-divider">
    
    <img src="~/Content/images/Zoffany/walpapers/Zf_w_1.jpg" />

<div class="productbox productbox_Zf">
<a role="button" class="btn" data-toggle="modal" href="#lexington-wallpaper" title="Lexington Wallpaper collection"><img src="~/Content/images/Zoffany/walpapers/Zf_w_1.jpg" alt="Lexington Wallpaper">Lexington Wallpaper</a>
</div>
<div class="productbox productbox_Zf">
<a role="button" class="btn" data-toggle="modal" href="#quartz-wallpapers" title="Quartz Wallpapers collection"><img src="~/Content/images/Zoffany/walpapers/Zf_w_2.jpg" alt="Quartz Wallpapers">Quartz Wallpapers</a>
</div>
<div class="productbox productbox_Zf">
<a role="button" class="btn" data-toggle="modal" href="#town-and-country-wallpapers" title="Town and Country Wallpapers collection"><img src="~/Content/images/Zoffany/walpapers/Zf_w_3.jpg" alt="Town and Country Wallpapers">Town and Country Wallpapers</a>
</div>
<div class="productbox productbox_Zf">
<a role="button" class="btn" data-toggle="modal" href="#arden-wallpapers-with-medivssa-white" title="Arden Wallpapers with Medivssa White collection"><img src="~/Content/images/Zoffany/walpapers/Zf_w_4.jpg" alt="Arden Wallpapers with Medivssa White">Arden Wallpapers with Medivssa White</a>
</div>
<div class="productbox productbox_Zf">
<a role="button" class="btn" data-toggle="modal" href="#akita-vinyl-wallpapers" title="Akita Vinyl Wallpapers collection"><img src="~/Content/images/Zoffany/walpapers/Zf_w_5.jpg" alt="Akita Vinyl Wallpapers">Akita Vinyl Wallpapers</a>
</div>
<div class="productbox productbox_Zf">
<a role="button" class="btn" data-toggle="modal" href="#poesy-wallpapers" title="Poesy Wallpapers collection"><img src="~/Content/images/Zoffany/walpapers/Zf_w_6.jpg" alt="Poesy Wallpapers">Poesy Wallpapers</a>
</div>
<div class="productbox productbox_Zf">
<a role="button" class="btn" data-toggle="modal" href="#intagdivo-wallpapers" title="Intagdivo Wallpapers collection"><img src="~/Content/images/Zoffany/walpapers/Zf_w_7.jpg" alt="Intagdivo Wallpapers">Intagdivo Wallpapers</a>
</div>
<div class="productbox productbox_Zf">
<a role="button" class="btn" data-toggle="modal" href="#classic-damasks-wallpapers" title="Classic Damask Wallpapers collection"><img src="~/Content/images/Zoffany/walpapers/Zf_w_8.jpg" alt="Classic Damask Wallpapers">Classic Damask Wallpapers</a>
</div>
<div class="productbox productbox_Zf">
<a role="button" class="btn" data-toggle="modal" href="#persia-wallpapers" title="Persia Wallpapers collection"><img src="~/Content/images/Zoffany/walpapers/Zf_w_9.jpg" alt="Persia Wallpapers">Persia Wallpapers</a>
</div>
<div class="productbox productbox_Zf">
<a role="button" class="btn" data-toggle="modal" href="#papered-walls-wallpapers" title="Papered Walls Wallpapers collection"><img src="~/Content/images/Zoffany/walpapers/Zf_w_10.jpg" alt="Papered Walls Wallpapers">Papered Walls Wallpapers</a>
</div>
<div class="productbox productbox_Zf">
<a role="button" class="btn" data-toggle="modal" href="#mosaic-wallpaper" title="Mosaic Wallpaper collection"><img src="/phpThumb/phpThumb.php?src=http://www.zoffany.com/images/uploads/Mosaic-W-new-coll-thumb_1.jpg&amp;w=135&amp;h=145&amp;zc=1" alt="Mosaic Wallpaper">Mosaic Wallpaper</a>


</div>





<div class="productbox productbox_Zf">
<a role="button" class="btn" data-toggle="modal" href="#gustavus" title="Gustavus collection"><img src="/phpThumb/phpThumb.php?src=http://www.zoffany.com/images/uploads/Gustavus-wallpaper-thumb.jpg&amp;w=135&amp;h=145&amp;zc=1" alt="Gustavus">Gustavus</a>


</div>





<div class="productbox productbox_Zf">
<a role="button" class="btn" data-toggle="modal" href="#trade-routes" title="Trade Routes collection"><img src="/phpThumb/phpThumb.php?src=http://www.zoffany.com/images/uploads/TradeRoutes-thumb.jpg&amp;w=135&amp;h=145&amp;zc=1" alt="Trade Routes">Trade Routes</a>


</div>





<div class="productbox productbox_Zf">
<a role="button" class="btn" data-toggle="modal" href="#chantemerle-wallpaper" title="Chantemerle Wallpaper collection"><img src="/phpThumb/phpThumb.php?src=http://www.zoffany.com/images/uploads/wallpaper thumbnail_1.jpg&amp;w=135&amp;h=145&amp;zc=1" alt="Chantemerle Wallpaper">Chantemerle Wallpaper</a>


</div>





<div class="productbox productbox_Zf">
<a role="button" class="btn" data-toggle="modal" href="#nijinsky-wallpaper" title="Nijinsky Wallpaper collection"><img src="/phpThumb/phpThumb.php?src=http://www.zoffany.com/images/uploads/Nijinsky Thumbnail 2.jpg&amp;w=135&amp;h=145&amp;zc=1" alt="Nijinsky Wallpaper">Nijinsky Wallpaper</a>


</div>





<div class="productbox productbox_Zf">
<a role="button" class="btn" data-toggle="modal" href="#fleurs-rococo-wallpapers" title="Fleurs Rococo Wallpapers collection"><img src="/phpThumb/phpThumb.php?src=http://www.zoffany.com/images/uploads/Fleurs Rococo Thumbnail_1.jpg&amp;w=135&amp;h=145&amp;zc=1" alt="Fleurs Rococo Wallpapers">Fleurs Rococo Wallpapers</a>


</div>





<div class="productbox productbox_Zf">
<a role="button" class="btn" data-toggle="modal" href="#nureyev1" title="Nureyev Wallpaper collection"><img src="/phpThumb/phpThumb.php?src=http://www.zoffany.com/images/uploads/Nureyev_2.jpg&amp;w=135&amp;h=145&amp;zc=1" alt="Nureyev Wallpaper">Nureyev Wallpaper</a>


</div>





<div class="productbox productbox_Zf">
<a role="button" class="btn" data-toggle="modal" href="#elementi1" title="Elementi Wallpaper collection"><img src="/phpThumb/phpThumb.php?src=http://www.zoffany.com/images/uploads/Elementi.jpg&amp;w=135&amp;h=145&amp;zc=1" alt="Elementi Wallpaper">Elementi Wallpaper</a>


</div>




</div>
    


    <a role="button" class="btn" data-toggle="modal" href="#myModal" role="button" class="btn" data-toggle="modal" style="display: none;">Launch demo modal</a>

    <div id="myModal" class="modal hide fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Заголовок</h3>
        </div>
        <div class="modal-body">
            <h4>Текст в теле</h4>
            <p>Duis moldivs, est non commodo luctus, nisi erat porttitor divgula, eget lacinia odio sem.</p>
            <h4>Всплывающий контент</h4>
            <p>При наведении на эту <a role="button" class="btn" data-toggle="modal" data-original-title="Заголовок" href="#" class="btn popover-test" data-content="А здесь супер полезный контент. Завораживает и вдохновляет, неправда ли?">кнопку</a> должен появиться всплывающий контент.</p>
            <h4>Всплывающая подсказка (Tooltips)</h4>
            <p><a role="button" class="btn" data-toggle="modal" data-original-title="Подсказка" href="#" class="tooltip-test">При наведении на эту ссылку</a> и <a role="button" class="btn" data-toggle="modal" data-original-title="Еще Подсказка" href="#" class="tooltip-test">здесь</a> появится всплывающая подсказка.</p>
            <hr>
            <h4>Контент превышающий высоту всплывающего окна</h4>
            <p>Мы выставили фиксированную высоту <code>max-height</code> для <code>.modal-body</code>. При превышении высоты всплывающего окна контентом появляется скроллбар, это видно на примере текста "lorem ipsum" ниже.</p>
            <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facidivsis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
            <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facidivsis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Закрыть</button>
            <button class="btn btn-primary">Сохранить</button>
        </div>
    </div>
</div>

<h2 id="lobotmargin">Wallpapers</h2>




