

<div>
<h1 class="featurette-heading">Добро пожаловать в W. Howard Limited </h1>
        <h2 class="featurette-heading">Революционные технологии ...</h2>
    
<div style="background-color: #000000; padding : 7px 5px 5px 5px; margin-right: 10px" class="featurette pull-left ui-corner-all">
    <iframe width="640" height="360" src="http://www.youtube.com/embed/ZIyD5BmcwF4?rel=0"></iframe>
</div>
<div class="lead">
<p>W. Howard Limited является ведущей компанией по производству профилей из МДФ в Великобритании. Наша продукция включает плинтусы, архитравы, внутренние подоконники, дверные коробки и дверные наличники. Ассортимент состоит из более чем 200 наименований профилей различных размеров с прогрунтованным, фанерным или ламинированным покрытием. Хотя у нас есть широкий спектр готовой продукции, мы также можем изготовить изделие на заказ.<br><br>
Наш центр расположен в Манчестере. Здесь находятся административные службы, а также производственные мощности. Именно отсюда продукция распространяется по назначению. Наш вспомогательный производственный участок расположен в г.Поуис. Здесь изготавливают продукцию из ламината и фанеры. Складское помещение и дистрибьюторский пункт находятся в Лондоне.<br><br>
Кроме профилей из МДФ, мы также предлагаем композитные деревянные плиты.
</p>
<div>
    <a href="@Url.Action("William_Howard", "Products", new { id = "Products__part_WH__William_Howard_catalog" })"><img src="@Url.Content("~/Content/images/WH/pdf/catalog.png")" title="Каталог компании W. Howard Limited"/></a>
   
</div>
<h2>Забота об окружающей среде</h2> 

<p>Компания W.Howard серьезно относится к вопросам охраны окружающей среды, управляя и контролируя процессы на производстве согласно нормативным стандартам.
Вся наша продукция производится согласно стандарту ISO9001, что гарантирует соответствующий уровень качества.
Все профили из МДФ и фанеры, которые используются при изготовлении продукции, сертифицированы Советом по экологически рациональному лесному хозяйству (FSC).
Наша цель: быть основным партнером продавцов лесо- и строительных материалов в Великобритании и Европе
Наша идеология: нашу продукцию - в каждый дом </p> 



<h2>Торговые марки</h2> 

<p><img height="443" width="578" src="@Url.Content("~/Content/images/WH/lang_products_russian.png")"></p>




 
</div>




</div>
<div>
<img src="~/Content/images/WH/lang_footer.png" />
    </div>
