<div class="">
                    
        <h2 class="featurette-heading">Swaffer<span class="muted"> Текстиль для Вашей души.</span></h2>
        <p class="lead">Коллекция натуральных английских тканей с крупным цветочным рисунком в стиле ручной росписи. Фуксии, ирисы, лилии представлены в разной палитре красок от нежных пастельных до ярких контрастных. Идеально подходит для штор и обивки мебели.</p>
       
    </div>
