<div class="">
    <h3 class="featurette-heading">Компания Мандерс представляет продукцию компании Anne and Robert Swaffer на Украине</h3>
    <hr class="featurette-divider">
    <div class="">
        @Html.Partial("Products/part_Sf/_about_Swaffer")
    </div>
    <hr class="featurette-divider">
        
        @Html.Partial("Products/part_Sf/fabric_Swaffer")
    <hr class="featurette-divider">

</div>


