<div class="collection_block">
    
    <ul>
        <li>
            <a href="#acer">
                <img class="ui-corner-all" src="~/Content/images/Swaffer/collections/Acer1.jpg" alt="Acer">Acer</a>            </li>
        <li>
            <a href="#aspects">
                <img class="ui-corner-all" src="~/Content/images/Swaffer/collections/aspects-ci.jpg" alt="Aspects">Aspects</a>            </li>
        <li>
            <a href="#cafe">
                <img class="ui-corner-all" src="~/Content/images/Swaffer/collections/cafe-ci.jpg" alt="Cafe">Cafe</a>            </li>
        <li>
            <a href="#cane">
                <img class="ui-corner-all" src="~/Content/images/Swaffer/collections/cane-ci1.jpg" alt="Cane">Cane</a>            </li>
        <li>
            <a href="#chartwell">
                <img class="ui-corner-all" src="~/Content/images/Swaffer/collections/chartwell-ci.jpg" alt="Chartwell">Chartwell</a>            </li>
        <li>
            <a href="#coppice">
                <img class="ui-corner-all" src="~/Content/images/Swaffer/collections/copppice-ci.jpg" alt="Coppice">Coppice</a>            </li>
        <li>
            <a href="#delta">
                <img class="ui-corner-all" src="~/Content/images/Swaffer/collections/delta-ci.jpg" alt="Delta">Delta</a>            </li>
        <li>
            <a href="#discovery">
                <img class="ui-corner-all" src="~/Content/images/Swaffer/collections/discovery-ci.jpg" alt="Discovery">Discovery</a>            </li>
        <li>
            <a href="#expressions">
                <img class="ui-corner-all" src="~/Content/images/Swaffer/collections/expressions-ci.jpg" alt="Expressions">Expressions</a>            </li>
        <li>
            <a href="#gallery">
                <img class="ui-corner-all" src="~/Content/images/Swaffer/collections/gallery-ci.jpg" alt="Gallery">Gallery</a>            </li>
        <li>
            <a href="#handpicked">
                <img class="ui-corner-all" src="~/Content/images/Swaffer/collections/handpicked-armchairs1.jpg" alt="Handpicked">Handpicked</a>            </li>
        <li>
            <a href="#haze">
                <img class="ui-corner-all" src="~/Content/images/Swaffer/collections/haze.jpg" alt="Haze">Haze</a>            </li>
        <li>
            <a href="#imperio">
                <img class="ui-corner-all" src="~/Content/images/Swaffer/collections/imperio-ci.jpg" alt="Imperio">Imperio</a>            </li>
        <li>
            <a href="#in_bloom">
                <img class="ui-corner-all" src="~/Content/images/Swaffer/collections/inbloom-ci.jpg" alt="In Bloom">In Bloom</a>            </li>
        <li>
            <a href="#legacy">
                <img class="ui-corner-all" src="~/Content/images/Swaffer/collections/legacy-ci1.jpg" alt="Legacy">Legacy</a>            </li>
        <li>
            <a href="#oceana">
                <img class="ui-corner-all" src="~/Content/images/Swaffer/collections/oceana-sofa-preflip.jpg" alt="Oceana">Oceana</a>            </li>
        <li>
            <a href="#palais">
                <img class="ui-corner-all" src="~/Content/images/Swaffer/collections/pavilion-ci1.jpg" alt="Palais">Palais</a>            </li>
        <li>
            <a href="#panache">
                <img class="ui-corner-all" src="~/Content/images/Swaffer/collections/panache-ci.jpg" alt="Panache">Panache</a>            </li>
        <li>
            <a href="#paradis">
                <img class="ui-corner-all" src="~/Content/images/Swaffer/collections/paradis-sofa-close-ip2.jpg" alt="Paradis">Paradis</a>            </li>
        <li>
            <a href="#selvas">
                <img class="ui-corner-all" src="~/Content/images/Swaffer/collections/selvas-ci1.jpg" alt="Selvas">Selvas</a>            </li>
        <li>
            <a href="#serengeti">
                <img class="ui-corner-all" src="~/Content/images/Swaffer/collections/serengeti-armchairs1.jpg" alt="Serengeti">Serengeti</a>            </li>
        <li>
            <a href="#venice">
                <img class="ui-corner-all" src="~/Content/images/Swaffer/collections/venice-ci1.jpg" alt="Venice">Venice</a>            </li>
        <li>
            <a href="#visage">
                <img class="ui-corner-all" src="~/Content/images/Swaffer/collections/visage-ci1.jpg" alt="Visage">Visage</a>            </li>
        <li>
            <a href="#visage_ii">
                <img class="ui-corner-all" src="~/Content/images/Swaffer/collections/visageII-ci.jpg" alt="Visage II">Visage II</a>            </li>
        <li>
            <a href="#zen">
                <img class="ui-corner-all" src="~/Content/images/Swaffer/collections/zen-ci.jpg" alt="Zen">Zen</a>            </li>

    </ul>
</div>
