

<a id="_new_colours_2013"></a>
<hr class="featurette-divider">
<div class="lead" >


<h1 class="featurette-heading">Новые соблазнительные оттенки от Farrow&Ball</h1>
<p>Компания Farrow&Ball, эксперт цвета в красках и обоях, рада представить вашему вниманию 9 новых бесподобных оттенков. Они созданы по той же эксклюзивной технологии, что и все краски Farrow&Ball, и потрясают насыщенностью и глубиной цвета. </p>
<p>Как все другие цвета Farrow&Ball, новинки обладают интригующими названиями и любопытными историями создания. От нежного Wevet до сильного Yellowcake, они пронизаны шармом, что делает их неподвластными времени, а потому подходящими и для загородных домов, и для романтических мансард. </p>
<p>Farrow&Ball создали две группы оттенков в нейтральных сероватых тонах, отдавая дань современной моде. Такие цвета как Wevet, Ammonite и Purbeck Stone волшебно сочетаются с бессмертным Cornforth White и навевают мысли о стиле Густавиан. Добавив же Dimpse, можно создать законченный дизайн в прохладных серых тонах для нежилых и проходных помещений.</p>
<p>Напомним, что в палитру Farrow&Ball неизменно входят 132 оттенка экологически чистых красок, предназначенных для внутренних и внешних работ. Когда новые 9 оттенков будут введены в палитру, то они заменят собой некоторые другие цвета. Однако эти «отправившиеся на покой» оттенки будут перемещены в архивную палитру и по-прежнему будут доступны для заказа.</p>
    <div class="" style="text-align:center;">
                <a class=""  href="http://new.manders.com.ua" title="Нажмите для перехода к презентации">
                    <img class="ui-corner-all" src="~/Content/images/FB/News/NewColours2013.jpg" /></a>
                <br />
                
                
            </div>

<h2 class="featurette-heading"> НОВЫЕ ОТТЕНКИ:</h2>

<h3 class="muted">Dimpse (Сумерки)</h3>
<p>Это слово пришло из диалекта западной части Великобритании, где оно обозначает мглистый неясный отсвет в сумерках. Этот лирический оттенок станет прекрасным партнером для Pavilion Gray и Blackened.</p>

<h3 class="muted">Wevet (Паутинка)</h3>
<p>Так раньше в графстве Дорсет называли паутину. Этот деликатный и свежий белый оттенок очень подвижен и может быть использован во многих интерьерах. Он – современная версия знаменитого Pointing.</p>
<h3 class="muted">Ammonite (Аммонит)</h3>
<p>Это – оттенок ископаемого моллюска, найденного на побережье графства Дорсет. Он прекрасно сыграет на контрасте с чуть более темным Cornforth White.  </p>
<h3 class="muted">Purbeck Stone (Пурбекский камень)</h3>
<p>Это – насыщенный и при том нейтральный оттенок, очень похожий на цвет камня, найденного на острове Пурбек. Наилучшего цветового решения можно добиться при сочетании его с Ammonite и Cornforth White, а для красных и зеленых оттенков Farrow&Ball он станет прекрасным обрамлением.</p>
<h3 class="muted">Mole’s Breath (Дыхание крота)</h3>
<p>Это – тот самый серый, который может быть использован с абсолютно всеми нейтральными тонами Farrow&Ball. Он не столь красный, как Charleston Gray, и не такой зеленый, как Mouse’s Back, и не такой синеватый, как Plummett, а потому он может поддержать любой насыщенный цвет.</p>
<h3 class="muted">Yellowcake (Желтый пирог) </h3>
<p>Это – классический ярко-желтый цвет, вошедший в моду в 1960-х гг. и не потерявший актуальности в наше время. Он чище, веселее, солнечнее и современнее, чем знаменитый Babouche, и идеально подходит для блокировки цвета.</p>
<h3 class="muted">St Giles Blue (Голубой из Сент Джилес)</h3>
<p>Это – чистый и яркий голубой цвет, найденный в холле особняка XVII века Сент Джилес Хаус. Он прекрасно играет на контрасте с белыми тонами, как Cabbage White, насыщенными, как Drawing Room Blue, или же яркими, как Charlotte’s Locks.</p>
<h3 class="muted">Stiffkey Blue (Синий из Стифки)</h3>
<p>Это – удивительный оттенок грязи, обнаруженной в деревушке Стифки в Норфолке. В нем немного больше голубизны, чем в схожем Down Pipe, и он станет отличным компаньоном для всей группки новых нейтральных тонов.</p>
<h3 class="muted">Nancy’s Blushes (Ненси покраснела)</h3>
<p>В этом прелестном розовом оттенке таится подлинное очарование. Он может использоваться и в современных, и в традиционных интерьерах, а лучшее окружение и одновременно контраст – это All White или же Black Blue. </p>

<h2 class="featurette-heading, muted">ВНИМАНИЮ ИЗДАТЕЛЕЙ:</h2>
<p>Компания Farrow&Ball производит неповторимые краски и обои. С тех самых пор как она была основана пионерами в лакокрасочной индустрии Джоном Фарроу и Ричардом Боллом, нашим главным кредо остается стремление использовать в производстве как можно больше натуральных компонентов и технологии, проверенных временем. </p>
<p>Великолепные оттенки Farrow&Ball достигаются за счет применения природных пигментов и оригинальных рецептур, а обои создаются практически вручную с использованием только наших красок и традиционных методов печати.</p>
<p>Все производство сосредоточено в графстве Дорсет, Англия, где оно и находилось с момента основании компании. Каждая партия подвергается тщательнейшему контролю и проверке, дабы убедиться, что наш знаменитый оттенок Elephant’s Breath® ни в коем случае не похож на Dead Salmon, а обои сохранили свою уникальную приятную на ощупь текстуру. </p>
<p>Продукция компании Farrow&Ball доступна в открытой продаже в шоу-румах и магазинах по всему миру, и конечно @Html.ActionLink("в нашем магазине", "Contact", "Home") . </p>
    </div>
