<div class="featurette">
    <table class="table table-bordered table-striped table-hover table-condensed" style="font-size: 10px !important; text-align: center !important;">
        <thead>
            <tr>
                <th>Отделочная краска</th>
                <th>Размеры</th>
                <th>Внутренние стеновые покрытия и потолки</th>
                <th>Внутренние деревянные и металлические изделия</th>
                <th>Полы внутри помещений</th>
                <th>Наружные стены</th>
                <th>Наружные деревянные и металлические изделия</th>
                <th>Кроющая способность</th>
                <th>Время высыхания</th>
                <th>Степень блеска</th>
                <th>Содержание ЛОС (летучих органических соединений)</th>
                <th>Слой первичного покрытия/грунтовки</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>Estate&reg; Emulsion</td>
                <td>100 ml 2.5 litres 5 litres</td>
                <td>V</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>70m<sup>2</sup> per 5 litres</td>
                <td>Сухая на ощупь 1 час / повторная окраска 2 часа</td>
                <td>2%</td>
                <td>Минимальный</td>
                <td>Wall &amp; Ceiling Primer &amp; Undercoat or Stabilising Primer</td>
            </tr>
            <tr>
                <td>Modem Emulsion</td>
                <td>2.5 litres 5 litres</td>
                <td>V</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>60m<sup>2</sup> per 5 litres</td>
                <td>Сухая на ощупь 1 час/ повторная окраска 4 часа</td>
                <td>7%</td>
                <td>Слабый</td>
                <td>Wall &amp; Ceiling Primer &amp; Undercoat or Stabilising Primer</td>
            </tr>
            <tr>
                <td>Estate&reg; Eggshell</td>
                <td>750 ml 2.5 litres 5 litres</td>
                <td>&nbsp;</td>
                <td>V</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>60m<sup>2</sup> per 5 litres</td>
                <td>Сухая на ощупь 1 час/повторная окраска 4 часа</td>
                <td>20%</td>
                <td>Слабый</td>
                <td>Interior Wood Primer &amp; Undercoat, Metal Primer or Stain Block Primer</td>
            </tr>
            <tr>
                <td>Floor Paint</td>
                <td>750 ml 2.5 litres 5 litres</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>V</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>60m<sup>2</sup> per 5 litres</td>
                <td>Сухая на ощупь 1 час/ повторная окраска 4 часа</td>
                <td>40%</td>
                <td>Слабый</td>
                <td>Stain Block Primer or Stabilising Primer</td>
            </tr>
            <tr>
                <td>Full Gloss</td>
                <td>750 ml 2.5 litres</td>
                <td>V</td>
                <td>V</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>V</td>
                <td>30m<sup>2</sup> per 2.5 litres</td>
                <td>Сухая на ощупь 1 час/ повторная окраска 4 часа</td>
                <td>95%</td>
                <td>Слабый</td>
                <td>Interior Wood Primer &amp; Undercoat, Metal Primer, Stain Block Primer or Exterior Primer &amp; Undercoat</td>
            </tr>
            <tr>
                <td>Dead Rat</td>
                <td>750 ml 2.5 litres 5 litres</td>
                <td>V</td>
                <td>V</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>60m<sup>2</sup> per 5 litres</td>
                <td>Сухая на ощупь 1 час/ повторная окраска 4 часа</p>
                </td>
                <td>2%</td>
                <td>Слабый</td>
                <td>Interior Wood Primer &amp; Undercoat, Metal Primer or Stain Block Primer</td>
            </tr>
            <tr>
                <td>Casein Distemper</td>
                <td>2.5 litres 5 litres</td>
                <td>V</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>65m<sup>2</sup> per 5 litres</td>
                <td>1-2 часов/до затвердевания в течение одной ночи</td>
                <td>2%</td>
                <td>Слабый</td>
                <td>Грунтовка не требуется</td>
            </tr>
            <tr>
                <td>Soft Distemper</td>
                <td>5 litres</td>
                <td>V</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>65m<sup>2</sup> per 5 litres</td>
                <td>1-2 часов/ затвердевания в течение одной ночи</td>
                <td>1.5%</td>
                <td>Минимальный</td>
                <td>Грунтовка не требуется</td>
            </tr>
            <tr>
                <td>Limewash</td>
                <td>5 litres</td>
                <td>V</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>V</td>
                <td>&nbsp;</td>
                <td>varies depending on conditions</td>
                <td>12 часов</td>
                <td>2%</td>
                <td>Минимальный</td>
                <td>Грунтовка не требуется</td>
            </tr>
            <tr>
                <td>Dead Flat Varnish</td>
                <td>750 ml 2.5 litres</td>
                <td>&nbsp;</td>
                <td>V</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>30m<sup>2</sup> per 2.5 litres</td>
                <td>Сухая на ощупь 1 час/ повторная окраска 4 часа</td>
                <td>2%</td>
                <td>Слабый</td>
                <td>Грунтовка не требуется</td>
            </tr>
            <tr>
                <td>Eggshell Varnish</td>
                <td>750 ml 2.5 litres</td>
                <td>&nbsp;</td>
                <td>V</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>30m<sup>2</sup> per 2.5 litres</td>
                <td>Сухая на ощупь 1 час/ повторная окраска 4 часа</td>
                <td>20%</td>
                <td>Слабый</td>
                <td>Грунтовка не требуется</td>
            </tr>
            <tr>
                <td>Exterior Masonry</td>
                <td>5 litres</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>V</td>
                <td>&nbsp;</td>
                <td>40m<sup>2</sup> per 5 litres</td>
                <td>Сухая на ощупь 1 час/ повторная окраска 5 часов</td>
                <td>2%</td>
                <td>Минимальный</td>
                <td>Stabilising Primer</td>
            </tr>
            <tr>
                <td>Exterior Eggshell</td>
                <td>750 ml 2.5 litres</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>V</td>
                <td>32m<sup>2</sup> per 2.5 litres</td>
                <td>Сухая на ощупь 1 час/ повторная окраска 4 часа</td>
                <td>20%</td>
                <td>Минимальный</td>
                <td>Exterior Primer &amp; Undercoat, Metal Primer or Stain Block Primer</td>
            </tr>
        </tbody>
    </table>
</div>
