
<style>
&lt;!--
 /* Font Definitions */
@@font-face
	{font-family:"\FF2D\FF33 \660E\671D";}
@@font-face
	{font-family:"\FF2D\FF33 \660E\671D";}
@@font-face
	{font-family:Cambria;
	panose-1:2 4 5 3 5 4 6 3 2 4;}
 /* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:Cambria;}
.MsoChpDefault
	{font-family:Cambria;}
@@page WordSection1
	{size:1191.0pt 842.0pt;
	margin:42.55pt 40.8pt 17.85pt 17.85pt;}
div.WordSection1
	{page:WordSection1;}
--&gt;
</style>


<div class="WordSection1">
 <table class="MsoNormalTable" style="border-collapse:collapse" border="0" cellpadding="0" cellspacing="0" width="1156">
 <tbody><tr style="height:81.6pt">
  <td style="width:113.5pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:gray;padding:0cm .5pt 0cm .5pt;height:81.6pt" width="114">
  <p class="MsoNormal" style="text-align:center" align="center"><span style="color:white">Отделочная краска</span></p>
  </td>
  <td style="width:130.95pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:gray;padding:0cm .5pt 0cm .5pt;height:81.6pt" width="131">
  <p class="MsoNormal" style="text-align:center" align="center"><span style="color:white">Размеры</span></p>
  </td>
  <td style="width:89.2pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:gray;padding:0cm .5pt 0cm .5pt;height:81.6pt" width="89">
  <p class="MsoNormal" style="text-align:center" align="center"><span style="color:white">Внутренние стеновые покрытия и потолки</span></p>
  </td>
  <td style="width:99.2pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:gray;padding:0cm .5pt 0cm .5pt;height:81.6pt" width="99">
  <p class="MsoNormal" style="text-align:center" align="center"><span style="color:white">Внутренние деревянные и металлические изделия</span></p>
  </td>
  <td style="width:70.9pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:gray;padding:0cm .5pt 0cm .5pt;height:81.6pt" width="71">
  <p class="MsoNormal" style="text-align:center" align="center"><span style="color:white">Полы внутри помещений</span></p>
  </td>
  <td style="width:63.75pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:gray;padding:0cm .5pt 0cm .5pt;height:81.6pt" width="64">
  <p class="MsoNormal" style="text-align:center" align="center"><span style="color:white">Наружные</span></p>
  <p class="MsoNormal" style="text-align:center" align="center"><span style="color:white">стены</span></p>
  </td>
  <td style="width:3.0cm;border-top:solid windowtext 1.0pt;border-left:
  solid windowtext 1.0pt;border-bottom:none;border-right:none;background:gray;
  padding:0cm .5pt 0cm .5pt;height:81.6pt" width="85">
  <p class="MsoNormal" style="text-align:center" align="center"><span style="color:white">Наружные деревянные и металлические изделия</span></p>
  </td>
  <td style="width:99.25pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:gray;padding:0cm .5pt 0cm .5pt;height:81.6pt" width="99">
  <p class="MsoNormal" style="text-align:center" align="center"><span style="color:white">Кроющая</span></p>
  <p class="MsoNormal" style="text-align:center" align="center"><span style="color:white">способность</span></p>
  </td>
  <td style="width:134.65pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:gray;padding:0cm .5pt 0cm .5pt;height:81.6pt" width="135">
  <p class="MsoNormal" style="text-align:center" align="center"><span style="color:white">Время</span></p>
  <p class="MsoNormal" style="text-align:center" align="center"><span style="color:white">высыхания</span></p>
  </td>
  <td style="width:2.0cm;border:solid windowtext 1.0pt;border-bottom:
  none;background:gray;padding:0cm .5pt 0cm .5pt;height:81.6pt" width="57">
  <p class="MsoNormal" style="text-align:center" align="center"><span style="color:white">Степень</span></p>
  <p class="MsoNormal" style="text-align:center" align="center"><span style="color:white">блеска</span></p>
  </td>
  <td style="width:88.5pt;border:none;border-top:solid windowtext 1.0pt;
  background:gray;padding:0cm .5pt 0cm .5pt;height:81.6pt" width="89">
  <p class="MsoNormal" style="text-align:center" align="center"><span style="color:white">Содержание ЛОС (летучих органических соединений)</span></p>
  </td>
  <td style="width:124.15pt;border:solid windowtext 1.0pt;border-bottom:
  none;background:gray;padding:0cm .5pt 0cm .5pt;height:81.6pt" width="124">
  <p class="MsoNormal" style="text-align:center" align="center"><span style="color:white">Слой первичного покрытия/грунтовки</span></p>
  </td>
 </tr>
 <tr style="height:61.8pt">
  <td style="width:113.5pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:61.8pt" width="114">
  <p class="MsoNormal" style="text-align:center" align="center">Estate</p>
  <p class="MsoNormal" style="text-align:center" align="center">Emulsion</p>
  </td>
  <td style="width:130.95pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:61.8pt" width="131">
  <p class="MsoNormal">100 ml 2.5 litres 5 litres</p>
  </td>
  <td style="width:89.2pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:61.8pt" width="89">
  <p class="MsoNormal" style="text-align:center" align="center"><i>V</i></p>
  </td>
  <td style="width:99.2pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:61.8pt" valign="top" width="99">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:70.9pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:61.8pt" valign="top" width="71">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:63.75pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:61.8pt" valign="top" width="64">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:3.0cm;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:61.8pt" valign="top" width="85">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:99.25pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:61.8pt" width="99">
  <p class="MsoNormal">70m<sup>2</sup> per 5 litres</p>
  </td>
  <td style="width:134.65pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:61.8pt" valign="bottom" width="135">
  <p class="MsoNormal">Сухая на ощупь 1 часов/ повторная окраска 2 часов</p>
  </td>
  <td style="width:2.0cm;border:solid windowtext 1.0pt;border-bottom:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:61.8pt" width="57">
  <p class="MsoNormal" style="text-align:center" align="center">2%</p>
  </td>
  <td style="width:88.5pt;border:none;border-top:solid windowtext 1.0pt;
  background:white;padding:0cm .5pt 0cm .5pt;height:61.8pt" width="89">
  <p class="MsoNormal">Минимальный</p>
  </td>
  <td style="width:124.15pt;border:solid windowtext 1.0pt;border-bottom:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:61.8pt" width="124">
  <p class="MsoNormal">Wall &amp; Ceiling Primer &amp; Undercoat or Stabilising
  Primer</p>
  </td>
 </tr>
 <tr style="height:61.5pt">
  <td style="width:113.5pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:61.5pt" width="114">
  <p class="MsoNormal" style="text-align:center" align="center">Modem Emulsion</p>
  </td>
  <td style="width:130.95pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:61.5pt" width="131">
  <p class="MsoNormal">2.5 litres 5 litres</p>
  </td>
  <td style="width:89.2pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:61.5pt" width="89">
  <p class="MsoNormal" style="text-align:center" align="center"><i>V</i></p>
  </td>
  <td style="width:99.2pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:61.5pt" valign="top" width="99">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:70.9pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:61.5pt" valign="top" width="71">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:63.75pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:61.5pt" valign="top" width="64">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:3.0cm;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:61.5pt" valign="top" width="85">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:99.25pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:61.5pt" width="99">
  <p class="MsoNormal">60т<sup>2</sup> per 5 litres</p>
  </td>
  <td style="width:134.65pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:61.5pt" valign="bottom" width="135">
  <p class="MsoNormal">Сухая на ощупь 1 часов/ повторная окраска 4 часов</p>
  </td>
  <td style="width:2.0cm;border:solid windowtext 1.0pt;border-bottom:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:61.5pt" width="57">
  <p class="MsoNormal" style="text-align:center" align="center"><i>7%</i></p>
  </td>
  <td style="width:88.5pt;border:none;border-top:solid windowtext 1.0pt;
  background:white;padding:0cm .5pt 0cm .5pt;height:61.5pt" width="89">
  <p class="MsoNormal">Слабый</p>
  </td>
  <td style="width:124.15pt;border:solid windowtext 1.0pt;border-bottom:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:61.5pt" width="124">
  <p class="MsoNormal">Wall &amp; Ceiling Primer &amp; Undercoat or Stabilising
  Primer</p>
  </td>
 </tr>
 <tr style="height:58.8pt">
  <td style="width:113.5pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:58.8pt" width="114">
  <p class="MsoNormal" style="text-align:center" align="center">Estate*</p>
  <p class="MsoNormal" style="text-align:center" align="center">Eggshell</p>
  </td>
  <td style="width:130.95pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:58.8pt" width="131">
  <p class="MsoNormal">750 ml 2.5 litres 5 litres</p>
  </td>
  <td style="width:89.2pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:58.8pt" valign="top" width="89">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:99.2pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:58.8pt" width="99">
  <p class="MsoNormal" style="text-align:center" align="center"><i>V</i></p>
  </td>
  <td style="width:70.9pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:58.8pt" valign="top" width="71">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:63.75pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:58.8pt" valign="top" width="64">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:3.0cm;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:58.8pt" valign="top" width="85">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:99.25pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:58.8pt" width="99">
  <p class="MsoNormal">60т<sup>2</sup> per 5 litres</p>
  </td>
  <td style="width:134.65pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:58.8pt" valign="bottom" width="135">
  <p class="MsoNormal">Сухая на ощупь 1 wacoe/recoat 4 часов</p>
  </td>
  <td style="width:2.0cm;border:solid windowtext 1.0pt;border-bottom:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:58.8pt" width="57">
  <p class="MsoNormal" style="text-align:center" align="center">20%</p>
  </td>
  <td style="width:88.5pt;border:none;border-top:solid windowtext 1.0pt;
  background:white;padding:0cm .5pt 0cm .5pt;height:58.8pt" width="89">
  <p class="MsoNormal">Слабый</p>
  </td>
  <td style="width:124.15pt;border:solid windowtext 1.0pt;
  border-bottom:none;background:white;padding:0cm .5pt 0cm .5pt;height:58.8pt" valign="bottom" width="124">
  <p class="MsoNormal">Interior Wood Primer &amp; Undercoat, Metal Primer or
  Stain Block Primer</p>
  </td>
 </tr>
 <tr style="height:67.5pt">
  <td style="width:113.5pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:67.5pt" width="114">
  <p class="MsoNormal" style="text-align:center" align="center">Floor Paint</p>
  </td>
  <td style="width:130.95pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:67.5pt" width="131">
  <p class="MsoNormal">750 ml 2.5 litres 5 litres</p>
  </td>
  <td style="width:89.2pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:67.5pt" valign="top" width="89">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:99.2pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:67.5pt" valign="top" width="99">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:70.9pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:67.5pt" width="71">
  <p class="MsoNormal" style="text-align:center" align="center"><i>V</i></p>
  </td>
  <td style="width:63.75pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:67.5pt" valign="top" width="64">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:3.0cm;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:67.5pt" valign="top" width="85">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:99.25pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:67.5pt" width="99">
  <p class="MsoNormal">60m<sup>2</sup> per 5 litres</p>
  </td>
  <td style="width:134.65pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:67.5pt" width="135">
  <p class="MsoNormal">Сухая на ощупь 1 часов/ повторная окраска 4</p>
  </td>
  <td style="width:2.0cm;border:solid windowtext 1.0pt;border-bottom:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:67.5pt" width="57">
  <p class="MsoNormal" style="text-align:center" align="center">40%</p>
  </td>
  <td style="width:88.5pt;border:none;border-top:solid windowtext 1.0pt;
  background:white;padding:0cm .5pt 0cm .5pt;height:67.5pt" width="89">
  <p class="MsoNormal">Слабый</p>
  </td>
  <td style="width:124.15pt;border:solid windowtext 1.0pt;border-bottom:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:67.5pt" width="124">
  <p class="MsoNormal">Stain Block Primer or Stabilising Primer</p>
  </td>
 </tr>
 <tr style="height:78.35pt">
  <td style="width:113.5pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:78.35pt" width="114">
  <p class="MsoNormal" style="text-align:center" align="center">Full Gloss</p>
  </td>
  <td style="width:130.95pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:78.35pt" width="131">
  <p class="MsoNormal">750 ml 2.5 litres</p>
  </td>
  <td style="width:89.2pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:78.35pt" width="89">
  <p class="MsoNormal" style="text-align:center" align="center"><i>V</i></p>
  </td>
  <td style="width:99.2pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:78.35pt" width="99">
  <p class="MsoNormal" style="text-align:center" align="center"><i>V</i></p>
  </td>
  <td style="width:70.9pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:78.35pt" valign="top" width="71">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:63.75pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:78.35pt" valign="top" width="64">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:3.0cm;border-top:solid windowtext 1.0pt;border-left:
  solid windowtext 1.0pt;border-bottom:none;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:78.35pt" width="85">
  <p class="MsoNormal" style="text-align:center" align="center"><i>V</i></p>
  </td>
  <td style="width:99.25pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:78.35pt" width="99">
  <p class="MsoNormal">30m<sup>2</sup> per 2.5 litres</p>
  </td>
  <td style="width:134.65pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:78.35pt" width="135">
  <p class="MsoNormal">Сухая на ощупь 1 часов/ повторная окраска 4</p>
  </td>
  <td style="width:2.0cm;border:solid windowtext 1.0pt;border-bottom:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:78.35pt" width="57">
  <p class="MsoNormal" style="text-align:center" align="center">95%</p>
  </td>
  <td style="width:88.5pt;border:none;border-top:solid windowtext 1.0pt;
  background:white;padding:0cm .5pt 0cm .5pt;height:78.35pt" width="89">
  <p class="MsoNormal">Слабый</p>
  </td>
  <td style="width:124.15pt;border:solid windowtext 1.0pt;border-bottom:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:78.35pt" width="124">
  <p class="MsoNormal">Interior Wood Primer &amp; Undercoat, Metal Primer, Stain
  Block Primer or Exterior Primer &amp; Undercoat</p>
  </td>
 </tr>
 <tr style="height:66.0pt">
  <td style="width:113.5pt;border:solid windowtext 1.0pt;border-right:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:66.0pt" width="114">
  <p class="MsoNormal" style="text-align:center" align="center">Dead Rat</p>
  </td>
  <td style="width:130.95pt;border:solid windowtext 1.0pt;border-right:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:66.0pt" width="131">
  <p class="MsoNormal">750 ml 2.5 litres 5 litres</p>
  </td>
  <td style="width:89.2pt;border:solid windowtext 1.0pt;border-right:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:66.0pt" width="89">
  <p class="MsoNormal" style="text-align:center" align="center"><i>V</i></p>
  </td>
  <td style="width:99.2pt;border:solid windowtext 1.0pt;border-right:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:66.0pt" width="99">
  <p class="MsoNormal" style="text-align:center" align="center"><i>V</i></p>
  </td>
  <td style="width:70.9pt;border:solid windowtext 1.0pt;
  border-right:none;background:white;padding:0cm .5pt 0cm .5pt;height:66.0pt" valign="top" width="71">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:63.75pt;border:solid windowtext 1.0pt;
  border-right:none;background:white;padding:0cm .5pt 0cm .5pt;height:66.0pt" valign="top" width="64">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:3.0cm;border:solid windowtext 1.0pt;
  border-right:none;background:white;padding:0cm .5pt 0cm .5pt;height:66.0pt" valign="top" width="85">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:99.25pt;border:solid windowtext 1.0pt;border-right:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:66.0pt" width="99">
  <p class="MsoNormal">60m<sup>2</sup> per 5 litres</p>
  </td>
  <td style="width:134.65pt;border:solid windowtext 1.0pt;
  border-right:none;background:white;padding:0cm .5pt 0cm .5pt;height:66.0pt" valign="bottom" width="135">
  <p class="MsoNormal">Сухая на ощупь 1 часов/ повторная окраска 4 часов</p>
  </td>
  <td style="width:2.0cm;border:solid windowtext 1.0pt;background:
  white;padding:0cm .5pt 0cm .5pt;height:66.0pt" width="57">
  <p class="MsoNormal" style="text-align:center" align="center">2%</p>
  </td>
  <td style="width:88.5pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:66.0pt" width="89">
  <p class="MsoNormal">Слабый</p>
  </td>
  <td style="width:124.15pt;border:solid windowtext 1.0pt;background:
  white;padding:0cm .5pt 0cm .5pt;height:66.0pt" width="124">
  <p class="MsoNormal">Interior Wood <i>Primer &amp; </i>Undercoat, Metal Primer
  or Stain Block Primer</p>
  </td>
 </tr>
 <tr style="height:47.1pt">
  <td style="width:113.5pt;border-top:none;border-left:
  solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:47.1pt" valign="top" width="114">
  <p class="MsoNormal" style="text-align:center" align="center">Casein</p>
  <p class="MsoNormal" style="text-align:center" align="center">Distemper</p>
  </td>
  <td style="width:130.95pt;border-top:none;border-left:
  solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:47.1pt" valign="top" width="131">
  <p class="MsoNormal">2.5 litres 5 litres</p>
  </td>
  <td style="width:89.2pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:47.1pt" valign="top" width="89">
  <p class="MsoNormal" style="text-align:center" align="center">V</p>
  </td>
  <td style="width:99.2pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:47.1pt" valign="top" width="99">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:70.9pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:47.1pt" valign="top" width="71">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:63.75pt;border-top:none;border-left:
  solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:47.1pt" valign="top" width="64">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:3.0cm;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:47.1pt" valign="top" width="85">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:99.25pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:47.1pt" width="99">
  <p class="MsoNormal">65m<sup>2</sup> per 5 litres</p>
  </td>
  <td style="width:134.65pt;border-top:none;border-left:
  solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:47.1pt" valign="bottom" width="135">
  <p class="MsoNormal">1-2 часов/до затвердевания в течение одной ночи</p>
  </td>
  <td style="width:2.0cm;border:solid windowtext 1.0pt;border-top:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:47.1pt" width="57">
  <p class="MsoNormal" style="text-align:center" align="center">2%</p>
  </td>
  <td style="width:88.5pt;border:none;border-bottom:solid windowtext 1.0pt;
  background:white;padding:0cm .5pt 0cm .5pt;height:47.1pt" width="89">
  <p class="MsoNormal">Слабый</p>
  </td>
  <td style="width:124.15pt;border:solid windowtext 1.0pt;border-top:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:47.1pt" width="124">
  <p class="MsoNormal">Грунтовка не требуется</p>
  </td>
 </tr>
 <tr style="height:45.9pt">
  <td style="width:113.5pt;border-top:none;border-left:
  solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:45.9pt" valign="top" width="114">
  <p class="MsoNormal" style="text-align:center" align="center">Soft Distemper</p>
  </td>
  <td style="width:130.95pt;border-top:none;border-left:
  solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:45.9pt" valign="top" width="131">
  <p class="MsoNormal">5 litres</p>
  </td>
  <td style="width:89.2pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:45.9pt" valign="top" width="89">
  <p class="MsoNormal" style="text-align:center" align="center"><i>V</i></p>
  </td>
  <td style="width:99.2pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:45.9pt" valign="top" width="99">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:70.9pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:45.9pt" valign="top" width="71">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:63.75pt;border-top:none;border-left:
  solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:45.9pt" valign="top" width="64">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:3.0cm;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:45.9pt" valign="top" width="85">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:99.25pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:45.9pt" width="99">
  <p class="MsoNormal">65m<sup>2</sup> per 5 litres</p>
  </td>
  <td style="width:134.65pt;border-top:none;border-left:
  solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:45.9pt" valign="bottom" width="135">
  <p class="MsoNormal">1-2 часов<i>1 </i>затвердевания в течение одной ночи</p>
  </td>
  <td style="width:2.0cm;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:none;border-right:solid windowtext 1.0pt;background:white;
  padding:0cm .5pt 0cm .5pt;height:45.9pt" width="57">
  <p class="MsoNormal" style="text-align:center" align="center">1.5%</p>
  </td>
  <td style="width:88.5pt;border:none;background:white;padding:0cm .5pt 0cm .5pt;
  height:45.9pt" width="89">
  <p class="MsoNormal">Минимальный</p>
  </td>
  <td style="width:124.15pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:none;border-right:solid windowtext 1.0pt;background:white;
  padding:0cm .5pt 0cm .5pt;height:45.9pt" width="124">
  <p class="MsoNormal">Г рунтовка не требуется</p>
  </td>
 </tr>
 <tr style="height:51.6pt">
  <td style="width:113.5pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:51.6pt" width="114">
  <p class="MsoNormal" style="text-align:center" align="center">Limewash</p>
  </td>
  <td style="width:130.95pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:51.6pt" width="131">
  <p class="MsoNormal">5 litres</p>
  </td>
  <td style="width:89.2pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:51.6pt" width="89">
  <p class="MsoNormal" style="text-align:center" align="center"><i>V</i></p>
  </td>
  <td style="width:99.2pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:51.6pt" valign="top" width="99">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:70.9pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:51.6pt" valign="top" width="71">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:63.75pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:51.6pt" width="64">
  <p class="MsoNormal" style="text-align:center" align="center"><i>V</i></p>
  </td>
  <td style="width:3.0cm;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:51.6pt" valign="top" width="85">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:99.25pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:51.6pt" width="99">
  <p class="MsoNormal">varies depending on conditions</p>
  </td>
  <td style="width:134.65pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:51.6pt" width="135">
  <p class="MsoNormal">12 часов</p>
  </td>
  <td style="width:2.0cm;border:solid windowtext 1.0pt;background:
  white;padding:0cm .5pt 0cm .5pt;height:51.6pt" width="57">
  <p class="MsoNormal" style="text-align:center" align="center">2%</p>
  </td>
  <td style="width:88.5pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:51.6pt" width="89">
  <p class="MsoNormal">Минимальный</p>
  </td>
  <td style="width:124.15pt;border:solid windowtext 1.0pt;background:
  white;padding:0cm .5pt 0cm .5pt;height:51.6pt" width="124">
  <p class="MsoNormal">Г рунтовка не требуется</p>
  </td>
 </tr>
 <tr style="height:57.0pt">
  <td style="width:113.5pt;border-top:none;border-left:
  solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:57.0pt" valign="top" width="114">
  <p class="MsoNormal" style="text-align:center" align="center">Dead Flat Varnish</p>
  </td>
  <td style="width:130.95pt;border-top:none;border-left:
  solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:57.0pt" valign="top" width="131">
  <p class="MsoNormal">750 ml 2.5 litres</p>
  </td>
  <td style="width:89.2pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:57.0pt" valign="top" width="89">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:99.2pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:57.0pt" width="99">
  <p class="MsoNormal" style="text-align:center" align="center"><i>V</i></p>
  </td>
  <td style="width:70.9pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:57.0pt" valign="top" width="71">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:63.75pt;border-top:none;border-left:
  solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:57.0pt" valign="top" width="64">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:3.0cm;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:57.0pt" valign="top" width="85">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:99.25pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:57.0pt" width="99">
  <p class="MsoNormal">30m<sup>2</sup> per 2.5 litres</p>
  </td>
  <td style="width:134.65pt;border-top:none;border-left:
  solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:57.0pt" valign="bottom" width="135">
  <p class="MsoNormal">Сухая на ощупь 1 часов/ повторная окраска 4 часов</p>
  </td>
  <td style="width:2.0cm;border:solid windowtext 1.0pt;border-top:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:57.0pt" width="57">
  <p class="MsoNormal" style="text-align:center" align="center">2%</p>
  </td>
  <td style="width:88.5pt;border:none;border-bottom:solid windowtext 1.0pt;
  background:white;padding:0cm .5pt 0cm .5pt;height:57.0pt" width="89">
  <p class="MsoNormal">Слабый</p>
  </td>
  <td style="width:124.15pt;border:solid windowtext 1.0pt;border-top:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:57.0pt" width="124">
  <p class="MsoNormal">Г рунтовка не требуется</p>
  </td>
 </tr>
 <tr style="height:11.5pt">
  <td style="width:113.5pt;border:none;border-left:solid windowtext 1.0pt;
  background:white;padding:0cm .5pt 0cm .5pt;height:11.5pt" valign="top" width="114">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:130.95pt;border:none;border-left:solid windowtext 1.0pt;
  background:white;padding:0cm .5pt 0cm .5pt;height:11.5pt" valign="top" width="131">
  <p class="MsoNormal">&nbsp;</p>
  </td>
  <td style="width:89.2pt;border:none;border-left:solid windowtext 1.0pt;
  background:white;padding:0cm .5pt 0cm .5pt;height:11.5pt" valign="top" width="89">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:99.2pt;border:none;border-left:solid windowtext 1.0pt;
  background:white;padding:0cm .5pt 0cm .5pt;height:11.5pt" width="99">
  <p class="MsoNormal" style="text-align:center" align="center"><i>&nbsp;</i></p>
  </td>
  <td style="width:70.9pt;border:none;border-left:solid windowtext 1.0pt;
  background:white;padding:0cm .5pt 0cm .5pt;height:11.5pt" valign="top" width="71">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:63.75pt;border:none;border-left:solid windowtext 1.0pt;
  background:white;padding:0cm .5pt 0cm .5pt;height:11.5pt" valign="top" width="64">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:3.0cm;border:none;border-left:solid windowtext 1.0pt;
  background:white;padding:0cm .5pt 0cm .5pt;height:11.5pt" valign="top" width="85">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:99.25pt;border:none;border-left:solid windowtext 1.0pt;
  background:white;padding:0cm .5pt 0cm .5pt;height:11.5pt" width="99">
  <p class="MsoNormal">&nbsp;</p>
  </td>
  <td style="width:134.65pt;border:none;border-left:
  solid windowtext 1.0pt;background:white;padding:0cm .5pt 0cm .5pt;height:
  11.5pt" valign="bottom" width="135">
  <p class="MsoNormal">&nbsp;</p>
  </td>
  <td style="width:2.0cm;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:none;border-right:solid windowtext 1.0pt;background:white;
  padding:0cm .5pt 0cm .5pt;height:11.5pt" width="57">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:88.5pt;border:none;background:white;padding:0cm .5pt 0cm .5pt;
  height:11.5pt" width="89">
  <p class="MsoNormal">&nbsp;</p>
  </td>
  <td style="width:124.15pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:none;border-right:solid windowtext 1.0pt;background:white;
  padding:0cm .5pt 0cm .5pt;height:11.5pt" width="124">
  <p class="MsoNormal">&nbsp;</p>
  </td>
 </tr>
 <tr style="height:63.0pt">
  <td style="width:113.5pt;border-top:none;border-left:
  solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:63.0pt" valign="top" width="114">
  <p class="MsoNormal" style="text-align:center" align="center">Eggshell</p>
  <p class="MsoNormal" style="text-align:center" align="center">Varnish</p>
  </td>
  <td style="width:130.95pt;border-top:none;border-left:
  solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:63.0pt" valign="top" width="131">
  <p class="MsoNormal">750 ml 2.5 litres</p>
  </td>
  <td style="width:89.2pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:63.0pt" valign="top" width="89">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:99.2pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:63.0pt" width="99">
  <p class="MsoNormal" style="text-align:center" align="center"><i>V</i></p>
  </td>
  <td style="width:70.9pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:63.0pt" valign="top" width="71">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:63.75pt;border-top:none;border-left:
  solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:63.0pt" valign="top" width="64">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:3.0cm;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:63.0pt" valign="top" width="85">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:99.25pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:63.0pt" width="99">
  <p class="MsoNormal">30m<sup>2</sup> per 2.5 litres</p>
  </td>
  <td style="width:134.65pt;border-top:none;border-left:
  solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:63.0pt" valign="bottom" width="135">
  <p class="MsoNormal">Сухая на ощупь 1 часов/ повторная окраска 4 часов</p>
  </td>
  <td style="width:2.0cm;border:solid windowtext 1.0pt;border-top:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:63.0pt" width="57">
  <p class="MsoNormal" style="text-align:center" align="center">20%</p>
  </td>
  <td style="width:88.5pt;border:none;border-bottom:solid windowtext 1.0pt;
  background:white;padding:0cm .5pt 0cm .5pt;height:63.0pt" width="89">
  <p class="MsoNormal">Слабый</p>
  </td>
  <td style="width:124.15pt;border:solid windowtext 1.0pt;border-top:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:63.0pt" width="124">
  <p class="MsoNormal">Г рунтовка не требуется</p>
  </td>
 </tr>
 <tr style="height:64.5pt">
  <td style="width:113.5pt;border-top:none;border-left:
  solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:64.5pt" valign="top" width="114">
  <p class="MsoNormal" style="text-align:center" align="center">Exterior</p>
  <p class="MsoNormal" style="text-align:center" align="center">Masonry</p>
  </td>
  <td style="width:130.95pt;border-top:none;border-left:
  solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:64.5pt" valign="top" width="131">
  <p class="MsoNormal">5 litres</p>
  </td>
  <td style="width:89.2pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:64.5pt" valign="top" width="89">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:99.2pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:64.5pt" valign="top" width="99">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:70.9pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:64.5pt" valign="top" width="71">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:63.75pt;border:none;border-left:solid windowtext 1.0pt;
  background:white;padding:0cm .5pt 0cm .5pt;height:64.5pt" width="64">
  <p class="MsoNormal" style="text-align:center" align="center"><i>V</i></p>
  </td>
  <td style="width:3.0cm;border:none;border-left:solid windowtext 1.0pt;
  background:white;padding:0cm .5pt 0cm .5pt;height:64.5pt" valign="top" width="85">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:99.25pt;border:none;border-left:solid windowtext 1.0pt;
  background:white;padding:0cm .5pt 0cm .5pt;height:64.5pt" width="99">
  <p class="MsoNormal">40m<sup>2</sup> per 5 litres</p>
  </td>
  <td style="width:134.65pt;border:none;border-left:
  solid windowtext 1.0pt;background:white;padding:0cm .5pt 0cm .5pt;height:
  64.5pt" valign="bottom" width="135">
  <p class="MsoNormal">Сухая на ощупь 1 часов/ повторная окраска 5 часов</p>
  </td>
  <td style="width:2.0cm;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:none;border-right:solid windowtext 1.0pt;background:white;
  padding:0cm .5pt 0cm .5pt;height:64.5pt" width="57">
  <p class="MsoNormal" style="text-align:center" align="center">2%</p>
  </td>
  <td style="width:88.5pt;border:none;background:white;padding:0cm .5pt 0cm .5pt;
  height:64.5pt" width="89">
  <p class="MsoNormal">Минимальный</p>
  </td>
  <td style="width:124.15pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:none;border-right:solid windowtext 1.0pt;background:white;
  padding:0cm .5pt 0cm .5pt;height:64.5pt" width="124">
  <p class="MsoNormal">Stabilising Primer</p>
  </td>
 </tr>
 <tr style="height:76.2pt">
  <td style="width:113.5pt;border-top:none;border-left:
  solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:76.2pt" valign="top" width="114">
  <p class="MsoNormal" style="text-align:center" align="center">Exterior</p>
  <p class="MsoNormal" style="text-align:center" align="center">Eggshell</p>
  </td>
  <td style="width:130.95pt;border-top:none;border-left:
  solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:76.2pt" valign="top" width="131">
  <p class="MsoNormal">750 ml 2.5 litres</p>
  </td>
  <td style="width:89.2pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:76.2pt" valign="top" width="89">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:99.2pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:76.2pt" valign="top" width="99">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:70.9pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;background:white;
  padding:0cm .5pt 0cm .5pt;height:76.2pt" valign="top" width="71">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:63.75pt;border:solid windowtext 1.0pt;
  border-right:none;background:white;padding:0cm .5pt 0cm .5pt;height:76.2pt" valign="top" width="64">
  <p class="MsoNormal" style="text-align:center" align="center">&nbsp;</p>
  </td>
  <td style="width:3.0cm;border:solid windowtext 1.0pt;border-right:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:76.2pt" width="85">
  <p class="MsoNormal" style="text-align:center" align="center">V</p>
  </td>
  <td style="width:99.25pt;border:solid windowtext 1.0pt;border-right:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:76.2pt" width="99">
  <p class="MsoNormal">32m<sup>2</sup> per 2.5 litres</p>
  </td>
  <td style="width:134.65pt;border:solid windowtext 1.0pt;border-right:
  none;background:white;padding:0cm .5pt 0cm .5pt;height:76.2pt" width="135">
  <p class="MsoNormal">Сухая на ощупь 1 часов/ повторная окраска 4 часов</p>
  </td>
  <td style="width:2.0cm;border:solid windowtext 1.0pt;background:
  white;padding:0cm .5pt 0cm .5pt;height:76.2pt" width="57">
  <p class="MsoNormal" style="text-align:center" align="center">20%</p>
  </td>
  <td style="width:88.5pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:none;
  background:white;padding:0cm .5pt 0cm .5pt;height:76.2pt" width="89">
  <p class="MsoNormal">Минимальный</p>
  </td>
  <td style="width:124.15pt;border:solid windowtext 1.0pt;background:
  white;padding:0cm .5pt 0cm .5pt;height:76.2pt" width="124">
  <p class="MsoNormal">Exterior Primer &amp; Undercoat, Metal Primer or Stain
  Block Primer</p>
  </td>
 </tr>
</tbody></table>

<p class="MsoNormal">&nbsp;</p>


</div>