@{
    ViewBag.Title = "FARROW & BALL Примеры";
}

<script src="../../Scripts/customFB.js" type="text/javascript"></script>


<div id="cms_content">
    <h1 class="cms_heading">
        <cufon class="cufon cufon-canvas" alt="Gallery" style="width: 115px; height: 24.2px;"><canvas width="127" height="28" style="width: 127px; height: 28px; top: -2px; left: -3px;"></canvas><cufontext>Gallery</cufontext></cufon>
    </h1>
    <div id="gallery_window">
        <div id="gallery_slider" style="width: 7664px;">
            <img width="7664" height="412" alt="Farrow &amp; Ball Gallery" src="/pws/client/images/content/gallery/gallery0207.jpg"
                id="gallery_image">
            <div class="gallery_item_button" style="left: 0px; top: 0px; height: 412px; width: 247px;
                z-index: 0;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 392px; width: 227px;">
                </div>
                <div class="gallery_modal" style="display: none;">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Walls painted in <a href="/churlish-green/colours//fcp-product/100251">Churlish Green
                                    No.251</a> Estate Emulsion.</p>
                            <p>
                                Skirting Board painted in <a href="/slipper-satin/colours//fcp-product/102004">Slipper
                                    Satin No.2004</a> Estate Eggshell.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 248px; top: 0px; height: 179px; width: 254px;
                z-index: 0;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 159px; width: 234px;">
                </div>
                <div class="gallery_modal" style="display: none;">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Wall painted in <a href="/oval-room-blue/colours//fcp-product/100085">Oval Room Blue
                                    No.85</a> Estate Emulsion.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 248px; top: 180px; height: 232px; width: 254px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 212px; width: 234px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Wallpaper <a href="/the-ringwold-papers-bp-1649/ringwold//fcp-product/201649">The Ringwold
                                    Papers BP 1649</a>.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 503px; top: 0px; height: 412px; width: 288px;
                z-index: 0;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 392px; width: 268px;">
                </div>
                <div class="gallery_modal" style="display: none;">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Walls painted in <a href="/hardwick-white/colours//fcp-product/100005">Hardwick White
                                    No.5</a> Modern Emulsion.</p>
                            <p>
                                Stairs painted in <a href="/pointing/colours//fcp-product/102003">Pointing No.2003</a>
                                Floor Paint.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 792px; top: 0px; height: 214px; width: 166px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 194px; width: 146px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Walls painted in <a href="/lulworth-blue/colours//fcp-product/100089">Lulworth Blue
                                    No.89</a> Estate Emulsion.</p>
                            <p>
                                Cupboard painted in <a href="/strong-white/colours//fcp-product/102001">Strong White
                                    No.2001</a> Estate Eggshell.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 792px; top: 215px; height: 197px; width: 166px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 177px; width: 146px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Wallpaper <a href="/the-lotus-papers-bp-2013///fcp-product/202013">The Lotus Papers
                                    BP 2013</a>.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 958px; top: 0px; height: 412px; width: 288px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 392px; width: 268px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Walls painted in <a href="/french-gray/colours//fcp-product/100018">French Gray No.18</a>
                                Estate Emulsion.</p>
                            <p>
                                Mantelpiece painted in <a href="/all-white/colours//fcp-product/102005">All White No.2005</a>
                                Estate Eggshell.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 1247px; top: 0px; height: 214px; width: 273px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 194px; width: 253px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Bench painted in <a href="/oval-room-blue/colours//fcp-product/100085">Oval Room Blue
                                    No.85</a> Estate Eggshell.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 1247px; top: 215px; height: 197px;
                width: 273px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 177px; width: 253px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Walls painted in <a href="/pavilion-blue/colours//fcp-product/100252">Pavilion Blue
                                    No.252</a> Estate Emulsion.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 1521px; top: 0px; height: 412px; width: 140px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 392px; width: 120px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Wallpaper <a href="/polka-square-bp-1076/polka-square//fcp-product/201076">Polka Square
                                    BP 1076</a>.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 1662px; top: 0px; height: 233px; width: 254px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 213px; width: 234px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Wallpaper <a href="/rosslyn-papers-bp-1936/rosslyn//fcp-product/201936">Rosslyn Papers
                                    BP 1936</a>.</p>
                            <p>
                                Chair painted in <a href="/wimborne-white/colours//fcp-product/100239">Wimborne White
                                    No.239</a> Estate Eggshell.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 1662px; top: 234px; height: 178px;
                width: 254px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 158px; width: 234px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Wallpaper <a href="/melrose-bp-1420/melrose//fcp-product/201420">Melrose BP 1420</a>.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 1916px; top: 0px; height: 206px; width: 214px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 186px; width: 194px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Panelling painted in <a href="/teresas-green/colours//fcp-product/100236">Teresas Green
                                    No.236</a> Estate Eggshell.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 1916px; top: 207px; height: 205px;
                width: 214px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 185px; width: 194px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Wall painted in <a href="/pavilion-gray/colours//fcp-product/100242">Pavilion Gray No.242</a>
                                Estate Emulsion.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 2131px; top: 0px; height: 412px; width: 441px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 392px; width: 421px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Walls painted in <a href="/blue-gray/colours//fcp-product/100091">Blue Gray No.91</a>
                                Modern Emulsion.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 2573px; top: 0px; height: 206px; width: 301px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 186px; width: 281px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Wallpaper <a href="/petal-stripe-bp-2415/petal-stripe//fcp-product/202415">Petal Stripe
                                    BP 2415</a>.</p>
                            <p>
                                Butchers Table painted in <a href="/parma-gray/colours//fcp-product/100027">Parma Gray
                                    No.27</a> Estate Eggshell.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 2573px; top: 207px; height: 205px;
                width: 301px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 185px; width: 281px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Walls painted in <a href="/london-clay/colours//fcp-product/100244">London Clay No.244</a>
                                Estate Emulsion.</p>
                            <p>
                                Bedhead painted in <a href="/pale-powder/colours//fcp-product/100204">Pale Powder No.204</a>
                                Estate Emulsion.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 2874px; top: 0px; height: 412px; width: 247px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 392px; width: 227px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Wallpaper <a href="/the-st-antoine-papers-bp-953/st-antoine//fcp-product/200953">St
                                    Antoine BP 953</a>.</p>
                            <p>
                                Panelling painted in <a href="/mahogany/colours//fcp-product/100036">Mahogony No.36</a>
                                Estate Eggshell.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 3122px; top: 0px; height: 412px; width: 254px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 392px; width: 234px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Walls painted in <a href="/all-white/colours//fcp-product/102005">All White No.2005</a>
                                Estate Emulsion.</p>
                            <p>
                                Floor painted in <a href="/down-pipe/colours//fcp-product/100026">Down Pipe No.26</a>
                                Floor Paint.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 3377px; top: 0px; height: 412px; width: 288px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 392px; width: 268px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Wall painted in <a href="/rectory-red/colours//fcp-product/100217">Rectory Red No.217</a>
                                Estate Emulsion.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 3666px; top: 0px; height: 214px; width: 166px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 194px; width: 146px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Gate painted in <a href="/off-white/colours//fcp-product/100003">Off-White No.3</a>
                                Exterior Eggshell.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 3666px; top: 215px; height: 197px;
                width: 166px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 177px; width: 146px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Wallpaper <a href="/rosslyn-papers-bp-1947/rosslyn//fcp-product/201947">Rosslyn Papers
                                    BP 1947</a>.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 3832px; top: 0px; height: 412px; width: 239px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 392px; width: 219px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Wall painted in <a href="/wimborne-white/colours//fcp-product/100239">Wimborne White
                                    No.239</a> Estate Emulsion.</p>
                            <p>
                                Dado rail painted in <a href="/incarnadine/colours//fcp-product/100248">Incarnadine
                                    No.248</a> Estate Eggshell.</p>
                            <p>
                                Wall below dado rail painted in <a href="/incarnadine/colours//fcp-product/100248">Incarnadine
                                    No.248</a> Estate Emulsion.</p>
                            <p>
                                Chest of Drawers painted in <a href="/drawing-room-blue/colours//fcp-product/100253">
                                    Drawing Room Blue No.253</a> Estate Eggshell.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 4072px; top: 0px; height: 412px; width: 238px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 392px; width: 218px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Walls painted in <a href="/shaded-white/colours//fcp-product/100201">Shaded White No.201</a>
                                Modern Emulsion.</p>
                            <p>
                                Woodwork painted in <a href="/london-stone/colours//fcp-product/100006">London Stone
                                    No.6</a> Estate Eggshell.</p>
                            <p>
                                Ceiling painted in <a href="/strong-white/colours//fcp-product/102001">Strong White
                                    No.2001</a> Modern Emulsion.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 4311px; top: 0px; height: 412px; width: 239px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 392px; width: 219px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Panelling painted in <a href="/porphyry-pink/colours//fcp-product/100049">Porphyry Pink
                                    No.49</a> Estate Eggshell.</p>
                            <p>
                                Woodwork painted in <a href="/off-white/colours//fcp-product/100003">Off-White No.3</a>
                                Estate Eggshell.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 4551px; top: 0px; height: 412px; width: 239px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 392px; width: 219px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Door painted in <a href="/lichen/colours//fcp-product/100019">Lichen No.19</a> Exterior
                                Eggshell.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 4790px; top: 0px; height: 412px; width: 219px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 392px; width: 199px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Walls painted in <a href="/string/colours//fcp-product/100008">String No.8</a> Estate
                                Emulsion.</p>
                            <p>
                                Woodwork painted in <a href="/off-white/colours//fcp-product/100003">Off-White No.3</a>
                                Estate Eggshell.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 5010px; top: 0px; height: 412px; width: 219px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 392px; width: 199px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Wallpaper <a href="/wisteria-bp-2206/wisteria//fcp-product/202206">Wisteria BP 2206</a>.</p>
                            <p>
                                Skirting board painted in <a href="/charleston-gray/colours//fcp-product/100243">Charleston
                                    Gray No.243</a> Estate Eggshell.</p>
                            <p>
                                Floor painted in <a href="/pitch-black/colours//fcp-product/100256">Pitch Black No.256</a>
                                Floor Paint.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 5230px; top: 0px; height: 259px; width: 299px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 239px; width: 279px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Bird house painted in <a href="/lulworth-blue/colours//fcp-product/100089">Lulworth
                                    Blue No.89</a> Exterior Eggshell.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 5230px; top: 261px; height: 151px;
                width: 299px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 131px; width: 279px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Wallpaper <a href="/the-bamboo-papers-bp-2113/bamboo//fcp-product/202113">The Bamboo
                                    Papers BP 2113</a>.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 5529px; top: 0px; height: 412px; width: 219px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 392px; width: 199px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Walls painted in <a href="/stone-blue/colours//fcp-product/100086">Stone Blue No.86</a>
                                Estate Emulsion.</p>
                            <p>
                                Woodwork painted in <a href="/all-white/colours//fcp-product/102005">All White No.2005</a>
                                Estate Eggshell.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 5748px; top: 0px; height: 412px; width: 241px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 392px; width: 221px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Walls painted in <a href="/down-pipe/colours//fcp-product/100026">Down Pipe No.26</a>
                                Estate Emulsion.</p>
                            <p>
                                Floor and stairs painted in <a href="/off-white/colours//fcp-product/100003">Off White
                                    No.3</a> Floor Paint.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 5990px; top: 0px; height: 412px; width: 241px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 392px; width: 221px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Wallpaper <a href="/peony-bp-2316/peony//fcp-product/202316">Peony BP 2316</a>.</p>
                            <p>
                                Floor painted in <a href="/lamp-room-gray/colours//fcp-product/100088">Lamp Room Gray
                                    No.88</a> Floor Paint.</p>
                            <p>
                                Skirting board painted in <a href="/all-white/colours//fcp-product/102005">All White
                                    No.2005</a> Estate Eggshell.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 6232px; top: 0px; height: 205px; width: 232px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 185px; width: 212px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Walls painted in <a href="/hague-blue/colours//fcp-product/100030">Hague Blue No.30</a>
                                Modern Emulsion.</p>
                            <p>
                                Skirting board painted in <a href="/all-white/colours//fcp-product/102005">All White
                                    No.2005</a> Estate Eggshell.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 6232px; top: 207px; height: 205px;
                width: 232px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 185px; width: 212px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Wallpaper <a href="/block-print-stripe-bp-754/block-print-stripe//fcp-product/200754">
                                    Block Print Stripe BP 754</a>.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 6465px; top: 0px; height: 412px; width: 241px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 392px; width: 221px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Woodwork painted in <a href="/slipper-satin/colours//fcp-product/102004">Slipper Satin
                                    No.2004</a> Estate Eggshell.</p>
                            <p>
                                Walls painted in <a href="/archive/colours//fcp-product/100227">Archive No.227</a>
                                Estate Emulsion.</p>
                            <p>
                                Dado Rail and below painted in <a href="/london-stone/colours//fcp-product/100006">London
                                    Stone No.6</a> Estate Emulsion.</p>
                            <p>
                                Ceiling painted in <a href="/white-tie/colours//fcp-product/102002">White Tie No.2002</a>
                                Estate Emulsion.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 6706px; top: 0px; height: 412px; width: 214px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 392px; width: 194px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Door painted in <a href="/skimming-stone/colours//fcp-product/100241">Skimming Stone
                                    No.241</a> Exterior Eggshell.</p>
                            <p>
                                Walls painted in <a href="/wimborne-white/colours//fcp-product/100239">Wimborne White
                                    No.239</a> Exterior Masonry.</p>
                            <p>
                                Railings painted in <a href="/pitch-black/colours//fcp-product/100256">Pitch Black No.256</a>
                                Full Gloss.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 6920px; top: 0px; height: 412px; width: 529px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 392px; width: 509px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Walls painted in <a href="/slipper-satin/colours//fcp-product/102004">Slipper Satin
                                    No.2004</a> Modern Emulsion.</p>
                            <p>
                                Skirting Board painted in <a href="/pointing/colours//fcp-product/102003">Pointing No.2003</a>
                                Estate Eggshell.</p>
                            <p>
                                Kitchen painted in <a href="/lime-white/colours//fcp-product/100001">Lime White No.1</a>
                                Full Gloss.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 7450px; top: 0px; height: 206px; width: 214px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 186px; width: 194px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Wallpaper <a href="/the-ranelagh-papers-bp-1817/ranelagh//fcp-product/201817">The Ranelagh
                                    Papers BP 1817</a>.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
            <div class="gallery_item_button" style="left: 7450px; top: 207px; height: 205px;
                width: 214px;">
                <div class="gallery_knockback" style="border-width: 10px; border-style: solid; border-color: rgb(255, 255, 255);
                    opacity: 0.01; height: 185px; width: 194px;">
                </div>
                <div class="gallery_modal">
                    <div class="gallery_modal_top">
                    </div>
                    <div class="gallery_modal_middle">
                        <div class="gallery_modal_content">
                            <p class="gallery_heading">
                                <strong class="cms_subHeading">
                                    <cufon class="cufon cufon-canvas" alt="Featuring" style="width: 60px; height: 15.4px;"><canvas width="71" height="18" style="width: 71px; height: 18px; top: -1px; left: -2px;"></canvas><cufontext>Featuring</cufontext></cufon>
                                </strong>
                            </p>
                            <p>
                                Walls painted in <a href="/down-pipe/colours//fcp-product/100026">Down Pipe No.26</a>
                                Estate Emulsion.</p>
                            <p>
                                Door painted in <a href="/down-pipe/colours//fcp-product/100026">Down Pipe No.26</a>
                                Estate Eggshell.</p>
                            <p>
                                Floor and stairs painted in <a href="/slipper-satin/colours//fcp-product/102004">Slipper
                                    Satin No.2004</a> Floor Paint.</p>
                        </div>
                    </div>
                    <div class="gallery_modal_bottom">
                    </div>
                </div>
            </div>
        </div>
        <div id="gallery_left_button" style="opacity: 0;" class="disabled">
        </div>
        <div id="gallery_right_button" style="opacity: 1;">
        </div>
    </div>
    <script type="text/javascript">
$(function() {
		   
	var galleryConfig = [
		
		{
			title: 'Featuring',
			top: 0,
			left: 0,
			height: 412,
			width: 247,
			description: '&lt;p&gt;Walls painted in &lt;a href="/churlish-green/colours//fcp-product/100251"&gt;Churlish Green No.251&lt;/a&gt; Estate Emulsion.&lt;/p&gt;&lt;p&gt;Skirting Board painted in &lt;a href="/slipper-satin/colours//fcp-product/102004"&gt;Slipper Satin No.2004&lt;/a&gt; Estate Eggshell.&lt;/p&gt;'
		},
		
		{
			title: 'Featuring',
			top: 0,
			left: 248,
			height: 179,
			width: 254,
			description: '&lt;p&gt;Wall painted in &lt;a href="/oval-room-blue/colours//fcp-product/100085"&gt;Oval Room Blue No.85&lt;/a&gt; Estate Emulsion.&lt;/p&gt;'
		},
		
		{
			title: 'Featuring',
			top: 180,
			left: 248,
			height: 232,
			width: 254,
			description: '&lt;p&gt;Wallpaper &lt;a href="/the-ringwold-papers-bp-1649/ringwold//fcp-product/201649"&gt;The Ringwold Papers BP 1649&lt;/a&gt;.&lt;/p&gt;'
		},
		
		{
			title: 'Featuring',
			top: 0,
			left: 503,
			height: 412,
			width: 288,
			description: '&lt;p&gt;Walls painted in &lt;a href="/hardwick-white/colours//fcp-product/100005"&gt;Hardwick White No.5&lt;/a&gt; Modern Emulsion.&lt;/p&gt;&lt;p&gt;Stairs painted in &lt;a href="/pointing/colours//fcp-product/102003"&gt;Pointing No.2003&lt;/a&gt; Floor Paint.&lt;/p&gt;'
		},
		
		 {
			title: 'Featuring',
			top: 0,
			left: 792,
			height: 214,
			width: 166,
			description: '&lt;p&gt;Walls painted in &lt;a href="/lulworth-blue/colours//fcp-product/100089"&gt;Lulworth Blue No.89&lt;/a&gt; Estate Emulsion.&lt;/p&gt;&lt;p&gt;Cupboard painted in &lt;a href="/strong-white/colours//fcp-product/102001"&gt;Strong White No.2001&lt;/a&gt; Estate Eggshell.&lt;/p&gt;'
                 },


                {
			title: 'Featuring',
			top: 215,
			left: 792,
			height: 197,
			width: 166,
			description: '&lt;p&gt;Wallpaper &lt;a href="/the-lotus-papers-bp-2013///fcp-product/202013"&gt;The Lotus Papers BP 2013&lt;/a&gt;.&lt;/p&gt;'
		},
		
		{
			title: 'Featuring',
			top: 0,
			left: 958,
			height: 412,
			width: 288,
			description: '&lt;p&gt;Walls painted in &lt;a href="/french-gray/colours//fcp-product/100018"&gt;French Gray No.18&lt;/a&gt; Estate Emulsion.&lt;/p&gt;&lt;p&gt;Mantelpiece painted in &lt;a href="/all-white/colours//fcp-product/102005"&gt;All White No.2005&lt;/a&gt; Estate Eggshell.&lt;/p&gt;'
		},

		{
			title: 'Featuring',
			top: 0,
			left: 1247,
			height: 214,
			width: 273,
			description: '&lt;p&gt;Bench painted in &lt;a href="/oval-room-blue/colours//fcp-product/100085"&gt;Oval Room Blue No.85&lt;/a&gt; Estate Eggshell.&lt;/p&gt;'
		},

		{
			title: 'Featuring',
			top: 215,
			left: 1247,
			height: 197,
			width: 273,
			description: '&lt;p&gt;Walls painted in &lt;a href="/pavilion-blue/colours//fcp-product/100252"&gt;Pavilion Blue No.252&lt;/a&gt; Estate Emulsion.&lt;/p&gt;'
		},

		{
			title: 'Featuring',
			top: 0,
			left: 1521,
			height: 412,
			width: 140,
			description: '&lt;p&gt;Wallpaper &lt;a href="/polka-square-bp-1076/polka-square//fcp-product/201076"&gt;Polka Square BP 1076&lt;/a&gt;.&lt;/p&gt;'
		},

			{
			title: 'Featuring',
			top: 0,
			left: 1662,
			height: 233,
			width: 254,
			description: '&lt;p&gt;Wallpaper &lt;a href="/rosslyn-papers-bp-1936/rosslyn//fcp-product/201936"&gt;Rosslyn Papers BP 1936&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;Chair painted in &lt;a href="/wimborne-white/colours//fcp-product/100239"&gt;Wimborne White No.239&lt;/a&gt; Estate Eggshell.&lt;/p&gt;'
		},
		
		{
			title: 'Featuring',
			top: 234,
			left: 1662,
			height: 178,
			width: 254,
			description: '&lt;p&gt;Wallpaper &lt;a href="/melrose-bp-1420/melrose//fcp-product/201420"&gt;Melrose BP 1420&lt;/a&gt;.&lt;/p&gt;'
		},

		{
			title: 'Featuring',
			top: 0,
			left: 1916,
			height: 206,
			width: 214,
			description: '&lt;p&gt;Panelling painted in &lt;a href="/teresas-green/colours//fcp-product/100236"&gt;Teresas Green No.236&lt;/a&gt; Estate Eggshell.&lt;/p&gt;'
		},
		
		{
			title: 'Featuring',
			top: 207,
			left: 1916,
			height: 205,
			width: 214,
			description: '&lt;p&gt;Wall painted in &lt;a href="/pavilion-gray/colours//fcp-product/100242"&gt;Pavilion Gray No.242&lt;/a&gt; Estate Emulsion.&lt;/p&gt;'
		},

		{
			title: 'Featuring',
			top: 0,
			left: 2131,
			height: 412,
			width: 441,
			description: '&lt;p&gt;Walls painted in &lt;a href="/blue-gray/colours//fcp-product/100091"&gt;Blue Gray No.91&lt;/a&gt; Modern Emulsion.&lt;/p&gt;'
		},
		
		{
			title: 'Featuring',
			top: 0,
			left: 2573,
			height: 206,
			width: 301,
			description: '&lt;p&gt;Wallpaper &lt;a href="/petal-stripe-bp-2415/petal-stripe//fcp-product/202415"&gt;Petal Stripe BP 2415&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;Butchers Table painted in &lt;a href="/parma-gray/colours//fcp-product/100027"&gt;Parma Gray No.27&lt;/a&gt; Estate Eggshell.&lt;/p&gt;'
		},

		{
			title: 'Featuring',
			top: 207,
			left: 2573,
			height: 205,
			width: 301,
			description: '&lt;p&gt;Walls painted in &lt;a href="/london-clay/colours//fcp-product/100244"&gt;London Clay No.244&lt;/a&gt; Estate Emulsion.&lt;/p&gt;&lt;p&gt;Bedhead painted in &lt;a href="/pale-powder/colours//fcp-product/100204"&gt;Pale Powder No.204&lt;/a&gt; Estate Emulsion.&lt;/p&gt;'
		},

		{
			title: 'Featuring',
			top: 0,
			left: 2874,
			height: 412,
			width: 247,
			description: '&lt;p&gt;Wallpaper &lt;a href="/the-st-antoine-papers-bp-953/st-antoine//fcp-product/200953"&gt;St Antoine BP 953&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;Panelling painted in &lt;a href="/mahogany/colours//fcp-product/100036"&gt;Mahogony No.36&lt;/a&gt; Estate Eggshell.&lt;/p&gt;'
		},

		{
			title: 'Featuring',
			top: 0,
			left: 3122,
			height: 412,
			width: 254,
			description: '&lt;p&gt;Walls painted in &lt;a href="/all-white/colours//fcp-product/102005"&gt;All White No.2005&lt;/a&gt; Estate Emulsion.&lt;/p&gt;&lt;p&gt;Floor painted in &lt;a href="/down-pipe/colours//fcp-product/100026"&gt;Down Pipe No.26&lt;/a&gt; Floor Paint.&lt;/p&gt;'
		},

		{
			title: 'Featuring',
			top: 0,
			left: 3377,
			height: 412,
			width: 288,
			description: '&lt;p&gt;Wall painted in &lt;a href="/rectory-red/colours//fcp-product/100217"&gt;Rectory Red No.217&lt;/a&gt; Estate Emulsion.&lt;/p&gt;'
		},

		{
			title: 'Featuring',
			top: 0,
			left: 3666,
			height: 214,
			width: 166,
			description: '&lt;p&gt;Gate painted in &lt;a href="/off-white/colours//fcp-product/100003"&gt;Off-White No.3&lt;/a&gt; Exterior Eggshell.&lt;/p&gt;'
		},

		{
			title: 'Featuring',
			top: 215,
			left: 3666,
			height: 197,
			width: 166,
			description: '&lt;p&gt;Wallpaper &lt;a href="/rosslyn-papers-bp-1947/rosslyn//fcp-product/201947"&gt;Rosslyn Papers BP 1947&lt;/a&gt;.&lt;/p&gt;'
		},

		{
			title: 'Featuring',
			top: 0,
			left: 3832,
			height: 412,
			width: 239,
			description: '&lt;p&gt;Wall painted in &lt;a href="/wimborne-white/colours//fcp-product/100239"&gt;Wimborne White No.239&lt;/a&gt; Estate Emulsion.&lt;/p&gt;&lt;p&gt;Dado rail painted in &lt;a href="/incarnadine/colours//fcp-product/100248"&gt;Incarnadine No.248&lt;/a&gt; Estate Eggshell.&lt;/p&gt;&lt;p&gt;Wall below dado rail painted in &lt;a href="/incarnadine/colours//fcp-product/100248"&gt;Incarnadine No.248&lt;/a&gt; Estate Emulsion.&lt;/p&gt;&lt;p&gt;Chest of Drawers painted in &lt;a href="/drawing-room-blue/colours//fcp-product/100253"&gt;Drawing Room Blue No.253&lt;/a&gt; Estate Eggshell.&lt;/p&gt;'
		},

		{
			title: 'Featuring',
			top: 0,
			left: 4072,
			height: 412,
			width: 238,
			description: '&lt;p&gt;Walls painted in &lt;a href="/shaded-white/colours//fcp-product/100201"&gt;Shaded White No.201&lt;/a&gt; Modern Emulsion.&lt;/p&gt;&lt;p&gt;Woodwork painted in &lt;a href="/london-stone/colours//fcp-product/100006"&gt;London Stone No.6&lt;/a&gt; Estate Eggshell.&lt;/p&gt;&lt;p&gt;Ceiling painted in &lt;a href="/strong-white/colours//fcp-product/102001"&gt;Strong White No.2001&lt;/a&gt; Modern Emulsion.&lt;/p&gt;'
		},

		{
			title: 'Featuring',
			top: 0,
			left: 4311,
			height: 412,
			width: 239,
			description: '&lt;p&gt;Panelling painted in &lt;a href="/porphyry-pink/colours//fcp-product/100049"&gt;Porphyry Pink No.49&lt;/a&gt; Estate Eggshell.&lt;/p&gt;&lt;p&gt;Woodwork painted in &lt;a href="/off-white/colours//fcp-product/100003"&gt;Off-White No.3&lt;/a&gt; Estate Eggshell.&lt;/p&gt;'
		},

		{
			title: 'Featuring',
			top: 0,
			left: 4551,
			height: 412,
			width: 239,
			description: '&lt;p&gt;Door painted in &lt;a href="/lichen/colours//fcp-product/100019"&gt;Lichen No.19&lt;/a&gt; Exterior Eggshell.&lt;/p&gt;'
		},

		{
			title: 'Featuring',
			top: 0,
			left: 4790,
			height: 412,
			width: 219,
			description: '&lt;p&gt;Walls painted in &lt;a href="/string/colours//fcp-product/100008"&gt;String No.8&lt;/a&gt; Estate Emulsion.&lt;/p&gt;&lt;p&gt;Woodwork painted in &lt;a href="/off-white/colours//fcp-product/100003"&gt;Off-White No.3&lt;/a&gt; Estate Eggshell.&lt;/p&gt;'
		},

		{
			title: 'Featuring',
			top: 0,
			left: 5010,
			height: 412,
			width: 219,
			description: '&lt;p&gt;Wallpaper &lt;a href="/wisteria-bp-2206/wisteria//fcp-product/202206"&gt;Wisteria BP 2206&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;Skirting board painted in &lt;a href="/charleston-gray/colours//fcp-product/100243"&gt;Charleston Gray No.243&lt;/a&gt; Estate Eggshell.&lt;/p&gt;&lt;p&gt;Floor painted in &lt;a href="/pitch-black/colours//fcp-product/100256"&gt;Pitch Black No.256&lt;/a&gt; Floor Paint.&lt;/p&gt;'
		},

		{
			title: 'Featuring',
			top: 0,
			left: 5230,
			height: 259,
			width: 299,
			description: '&lt;p&gt;Bird house painted in &lt;a href="/lulworth-blue/colours//fcp-product/100089"&gt;Lulworth Blue No.89&lt;/a&gt; Exterior Eggshell.&lt;/p&gt;'
		},

		{
			title: 'Featuring',
			top: 261,
			left: 5230,
			height: 151,
			width: 299,
			description: '&lt;p&gt;Wallpaper &lt;a href="/the-bamboo-papers-bp-2113/bamboo//fcp-product/202113"&gt;The Bamboo Papers BP 2113&lt;/a&gt;.&lt;/p&gt;'
		},

		{
			title: 'Featuring',
			top: 0,
			left: 5529,
			height: 412,
			width: 219,
			description: '&lt;p&gt;Walls painted in &lt;a href="/stone-blue/colours//fcp-product/100086"&gt;Stone Blue No.86&lt;/a&gt; Estate Emulsion.&lt;/p&gt;&lt;p&gt;Woodwork painted in &lt;a href="/all-white/colours//fcp-product/102005"&gt;All White No.2005&lt;/a&gt; Estate Eggshell.&lt;/p&gt;'
		},

		{
			title: 'Featuring',
			top: 0,
			left: 5748,
			height: 412,
			width: 241,
			description: '&lt;p&gt;Walls painted in &lt;a href="/down-pipe/colours//fcp-product/100026"&gt;Down Pipe No.26&lt;/a&gt; Estate Emulsion.&lt;/p&gt;&lt;p&gt;Floor and stairs painted in &lt;a href="/off-white/colours//fcp-product/100003"&gt;Off White No.3&lt;/a&gt; Floor Paint.&lt;/p&gt;'
		},

		{
			title: 'Featuring',
			top: 0,
			left: 5990,
			height: 412,
			width: 241,
			description: '&lt;p&gt;Wallpaper &lt;a href="/peony-bp-2316/peony//fcp-product/202316"&gt;Peony BP 2316&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;Floor painted in &lt;a href="/lamp-room-gray/colours//fcp-product/100088"&gt;Lamp Room Gray No.88&lt;/a&gt; Floor Paint.&lt;/p&gt;&lt;p&gt;Skirting board painted in &lt;a href="/all-white/colours//fcp-product/102005"&gt;All White No.2005&lt;/a&gt; Estate Eggshell.&lt;/p&gt;'
		},

		{
			title: 'Featuring',
			top: 0,
			left: 6232,
			height: 205,
			width: 232,
			description: '&lt;p&gt;Walls painted in &lt;a href="/hague-blue/colours//fcp-product/100030"&gt;Hague Blue No.30&lt;/a&gt; Modern Emulsion.&lt;/p&gt;&lt;p&gt;Skirting board painted in &lt;a href="/all-white/colours//fcp-product/102005"&gt;All White No.2005&lt;/a&gt; Estate Eggshell.&lt;/p&gt;'
		},

		{
			title: 'Featuring',
			top: 207,
			left: 6232,
			height: 205,
			width: 232,
			description: '&lt;p&gt;Wallpaper &lt;a href="/block-print-stripe-bp-754/block-print-stripe//fcp-product/200754"&gt;Block Print Stripe BP 754&lt;/a&gt;.&lt;/p&gt;'
		},

		{
			title: 'Featuring',
			top: 0,
			left: 6465,
			height: 412,
			width: 241,
			description: '&lt;p&gt;Woodwork painted in &lt;a href="/slipper-satin/colours//fcp-product/102004"&gt;Slipper Satin No.2004&lt;/a&gt; Estate Eggshell.&lt;/p&gt;&lt;p&gt;Walls painted in &lt;a href="/archive/colours//fcp-product/100227"&gt;Archive No.227&lt;/a&gt; Estate Emulsion.&lt;/p&gt;&lt;p&gt;Dado Rail and below painted in &lt;a href="/london-stone/colours//fcp-product/100006"&gt;London Stone No.6&lt;/a&gt; Estate Emulsion.&lt;/p&gt;&lt;p&gt;Ceiling painted in &lt;a href="/white-tie/colours//fcp-product/102002"&gt;White Tie No.2002&lt;/a&gt; Estate Emulsion.&lt;/p&gt;'
		},

		{
			title: 'Featuring',
			top: 0,
			left: 6706,
			height: 412,
			width: 214,
			description: '&lt;p&gt;Door painted in &lt;a href="/skimming-stone/colours//fcp-product/100241"&gt;Skimming Stone No.241&lt;/a&gt; Exterior Eggshell.&lt;/p&gt;&lt;p&gt;Walls painted in &lt;a href="/wimborne-white/colours//fcp-product/100239"&gt;Wimborne White No.239&lt;/a&gt; Exterior Masonry.&lt;/p&gt;&lt;p&gt;Railings painted in &lt;a href="/pitch-black/colours//fcp-product/100256"&gt;Pitch Black No.256&lt;/a&gt; Full Gloss.&lt;/p&gt;'
		},

		{
			title: 'Featuring',
			top: 0,
			left: 6920,
			height: 412,
			width: 529,
			description: '&lt;p&gt;Walls painted in &lt;a href="/slipper-satin/colours//fcp-product/102004"&gt;Slipper Satin No.2004&lt;/a&gt; Modern Emulsion.&lt;/p&gt;&lt;p&gt;Skirting Board painted in &lt;a href="/pointing/colours//fcp-product/102003"&gt;Pointing No.2003&lt;/a&gt; Estate Eggshell.&lt;/p&gt;&lt;p&gt;Kitchen painted in &lt;a href="/lime-white/colours//fcp-product/100001"&gt;Lime White No.1&lt;/a&gt; Full Gloss.&lt;/p&gt;'
		},

		{
			title: 'Featuring',
			top: 0,
			left: 7450,
			height: 206,
			width: 214,
			description: '&lt;p&gt;Wallpaper &lt;a href="/the-ranelagh-papers-bp-1817/ranelagh//fcp-product/201817"&gt;The Ranelagh Papers BP 1817&lt;/a&gt;.&lt;/p&gt;'
		},

		{
			title: 'Featuring',
			top: 207,
			left: 7450,
			height: 205,
			width: 214,
			description: '&lt;p&gt;Walls painted in &lt;a href="/down-pipe/colours//fcp-product/100026"&gt;Down Pipe No.26&lt;/a&gt; Estate Emulsion.&lt;/p&gt;&lt;p&gt;Door painted in &lt;a href="/down-pipe/colours//fcp-product/100026"&gt;Down Pipe No.26&lt;/a&gt; Estate Eggshell.&lt;/p&gt;&lt;p&gt;Floor and stairs painted in &lt;a href="/slipper-satin/colours//fcp-product/102004"&gt;Slipper Satin No.2004&lt;/a&gt; Floor Paint.&lt;/p&gt;'
		}


	];
	
	var galleryWindow = $('div#gallery_window');
	
	if(galleryWindow.length &gt; 0) {
		galleryWindow.inspirationGallery({}, galleryConfig);
	}
	
});
</script>
</div>
<div id="cms_content" class="cont_main">
    <div id="contentLeftNav">
        <ul class="contentLNavigation">
            <li><a href="/introduction-to-colour/content/fcp-content">Introduction to Colour Schemes</a></li>
            <li class="selected"><a href="/colour-tips/content/fcp-content">Colour Tips</a></li>
            <li><a href="/how-light-affects-colour/content/fcp-content">How Light Affects Colour</a></li>
            <li><a href="/neutral-colour-schemes/content/fcp-content">Neutral Colour Schemes</a></li>
            <li><a href="/grey-colour-schemes/content/fcp-content">Grey Colour Schemes</a></li>
            <li><a href="/yellow-schemes/content/fcp-content">Yellow Colour Schemes</a></li>
            <li><a href="/black-schemes/content/fcp-content">Black Colour Schemes</a></li>
            <li><a href="/colour-schemes/content/fcp-content">Colour Schemes</a></li>
            <li><a href="/feel-good-rooms/content/fcp-content">Colour Supplements</a></li>
        </ul>
    </div>
    <div id="contentWording">
        <h2 class="cms_subHeading">
            Colour Tips</h2>
        <h3 class="cms_subHeading">
            LAYERING COLOUR</h3>
        <p>
            Layer more than one colour in a room to create added interest. For example, if you
            use Matchstick No.2013 on the walls, String No.8 could be used on the woodwork and
            a stronger colour such as Cat’s Paw No.240 or Mouse's Back No.40 could be introduced
            on furniture, fireplaces or in the backs of bookcases.</p>
        <ul class="colourSchemes">
            <li>
                <img width="75" src="../../Content/images/FB/exemple/102013.jpg" alt="Matchstick">
                <span>Matchstick<br>
                2013 </li>
            <li>
                <img width="75" src="../../Content/images/FB/exemple/100008.jpg" alt="String">
                <span>String
                <br>
                8 </li>
            <li>
                <img width="75" src="../../Content/images/FB/exemple/100240.jpg" alt="Cat's Paw">
                <span>Cat's Paw<br>
                240 </li>
            <li class="ContLast">
                <img width="75" src="../../Content/images/FB/exemple/100040.jpg" alt="Mouse's Back">
                <span>Mouse's Back<br>
                40 </li>
        </ul>
        <h3 class="cms_subHeading">
            <cufon class="cufon cufon-canvas" alt="COOL " style="width: 46px; height: 14px;"><canvas width="59" height="16" style="width: 59px; height: 16px; top: -1px; left: -1px;"></canvas><cufontext>COOL </cufontext></cufon>
            <cufon class="cufon cufon-canvas" alt="COLOURS" style="width: 71px; height: 14px;"><canvas width="81" height="16" style="width: 81px; height: 16px; top: -1px; left: -1px;"></canvas><cufontext>COLOURS</cufontext></cufon>
        </h3>
        <p>
            In general, cool colours make a room feel larger and give a more formal look to
            a room. To create a cool scheme, try colours such as Strong White No.2001, Blackened
            No.2011, Skylight No.205, Green Ground No.206, and Pavilion Gray No.242. To make
            a room feel larger choose cool colours, but beware of making a room feel cold by
            using strong shades of blues and greens. In normal situations a mid tone green or
            blue colour like Cooking Apple Green No.32, Light Blue No.22 or Blue Gray No.91
            work best.</p>
        <ul class="colourSchemes">
            <li><a href="/strong-white/colours//fcp-product/102001">
                <img width="75" src="/pws/client/images/catalogue/products/102001/thumbnail/102001.jpg"
                    alt="Strong White">
            </a><span>Strong White<br>
                2001 </li>
            <li><a href="/blackened/colours//fcp-product/102011">
                <img width="75" src="/pws/client/images/catalogue/products/102011/thumbnail/102011.jpg"
                    alt="Blue Gray">
            </a><span>Blackened<br>
                2011 </li>
            <li><a href="/skylight/colours//fcp-product/100205">
                <img width="75" src="/pws/client/images/catalogue/products/100205/thumbnail/100205.jpg"
                    alt="Skylight">
            </a><span>Skylight
                <br>
                205 </li>
            <li class="ContLast"><a href="/green-ground/colours//fcp-product/100206">
                <img width="75" src="/pws/client/images/catalogue/products/100206/thumbnail/100206.jpg"
                    alt="Green Ground">
            </a><span>Green Ground<br>
                206 </li>
        </ul>
        <ul class="colourSchemes">
            <li><a href="/pavilion-gray/colours//fcp-product/100242">
                <img width="75" src="/pws/client/images/catalogue/products/100242/thumbnail/100242.jpg"
                    alt="Pavilion Gray">
            </a><span>Pavilion Gray
                <br>
                242 </li>
            <li><a href="/cooking-apple-green/colours//fcp-product/100032">
                <img width="75" src="/pws/client/images/catalogue/products/100032/thumbnail/100032.jpg"
                    alt="Cooking Apple Green">
            </a><span>Cooking Apple Green
                <br>
                32 </li>
            <li><a href="/light-blue/colours//fcp-product/100022">
                <img width="75" src="/pws/client/images/catalogue/products/100022/thumbnail/100022.jpg"
                    alt="Light Blue">
            </a><span>Light Blue
                <br>
                22 </li>
            <li class="ContLast"><a href="/blue-gray/colours//fcp-product/100091">
                <img width="75" src="/pws/client/images/catalogue/products/100091/thumbnail/100091.jpg"
                    alt="Blue Gray">
            </a><span>Blue Gray<br>
                91 </li>
        </ul>
        <h3 class="cms_subHeading">
            <cufon class="cufon cufon-canvas" alt="WARM " style="width: 52px; height: 14px;"><canvas width="65" height="16" style="width: 65px; height: 16px; top: -1px; left: -1px;"></canvas><cufontext>WARM </cufontext></cufon>
            <cufon class="cufon cufon-canvas" alt="COLOURS" style="width: 71px; height: 14px;"><canvas width="81" height="16" style="width: 81px; height: 16px; top: -1px; left: -1px;"></canvas><cufontext>COLOURS</cufontext></cufon>
        </h3>
        <p>
            Warm colours make a room feel smaller and give a more relaxed feel. If this is your
            wish, the world is your oyster and the stronger the tone the greater the impact.
            Try Picture Gallery Red No.42 Estate Emulsion or, for the really adventurous, Radicchio
            No.96 in Full Gloss on the walls. A combination of Joa’s White No.226 and Archive
            No.227 with Dimity No.2008 is also an attractive and warm scheme.</p>
        <ul class="colourSchemes">
            <li><a href="/picture-gallery-red/colours//fcp-product/100042">
                <img width="75" src="/pws/client/images/catalogue/products/100042/thumbnail/100042.jpg"
                    alt="Picture Gallery Red">
            </a><span>Picture Gallery Red
                <br>
                42 </li>
            <li class="ContLast"><a href="/radicchio/colours//fcp-product/100096">
                <img width="75" src="/pws/client/images/catalogue/products/100096/thumbnail/100096.jpg"
                    alt="Radicchio">
            </a><span>Radicchio<br>
                96 </li>
        </ul>
        <ul class="colourSchemes">
            <li><a href="/joa%27s-white/colours//fcp-product/100226">
                <img width="75" src="/pws/client/images/catalogue/products/100226/thumbnail/100226.jpg"
                    alt="Joa's White">
            </a><span>Joa's White<br>
                226 </li>
            <li><a href="/archive/colours//fcp-product/100227">
                <img width="75" src="/pws/client/images/catalogue/products/100227/thumbnail/100227.jpg"
                    alt="Archive">
            </a><span>Archive
                <br>
                227 </li>
            <li class="ContLast"><a href="/dimity/colours//fcp-product/102008">
                <img width="75" src="/pws/client/images/catalogue/products/102008/thumbnail/102008.jpg"
                    alt="Dimity">
            </a><span>Dimity<br>
                2008 </li>
        </ul>
        <h3 class="cms_subHeading">
            <cufon class="cufon cufon-canvas" alt="CALM " style="width: 45px; height: 14px;"><canvas width="58" height="16" style="width: 58px; height: 16px; top: -1px; left: -1px;"></canvas><cufontext>CALM </cufontext></cufon>
            <cufon class="cufon cufon-canvas" alt="COLOURS" style="width: 71px; height: 14px;"><canvas width="81" height="16" style="width: 81px; height: 16px; top: -1px; left: -1px;"></canvas><cufontext>COLOURS</cufontext></cufon>
        </h3>
        <p>
            For a restful look it is best to use a single neutral colour. Contrasts and strong
            colours create a distraction and take away from a feeling of calm. If you use a
            single colour then you can afford to use slightly stronger tones such as Savage
            Ground No.213, Stony Ground No.211 or Joa's White No.226, all of which are very
            popular.</p>
        <ul class="colourSchemes">
            <li><a href="/savage-ground/colours//fcp-product/100213">
                <img width="75" src="/pws/client/images/catalogue/products/100213/thumbnail/100213.jpg"
                    alt="Savage Ground">
            </a><span>Savage Ground<br>
                213 </li>
            <li><a href="/stony-ground/colours//fcp-product/100211">
                <img width="75" src="/pws/client/images/catalogue/products/100211/thumbnail/100211.jpg"
                    alt="Stony Ground">
            </a><span>Stony Ground
                <br>
                211 </li>
            <li class="ContLast"><a href="/joa%27s-white/colours//fcp-product/100226">
                <img width="75" src="/pws/client/images/catalogue/products/100226/thumbnail/100226.jpg"
                    alt="Joa's White">
            </a><span>Joa's White<br>
                226 </li>
        </ul>
        <h3 class="cms_subHeading">
            <cufon class="cufon cufon-canvas" alt="CREATING " style="width: 80px; height: 14px;"><canvas width="93" height="16" style="width: 93px; height: 16px; top: -1px; left: -1px;"></canvas><cufontext>CREATING </cufontext></cufon>
            <cufon class="cufon cufon-canvas" alt="LIGHT " style="width: 48px; height: 14px;"><canvas width="61" height="16" style="width: 61px; height: 16px; top: -1px; left: -1px;"></canvas><cufontext>LIGHT </cufontext></cufon>
            <cufon class="cufon cufon-canvas" alt="AND " style="width: 36px; height: 14px;"><canvas width="49" height="16" style="width: 49px; height: 16px; top: -1px; left: -1px;"></canvas><cufontext>AND </cufontext></cufon>
            <cufon class="cufon cufon-canvas" alt="SPACE" style="width: 44px; height: 14px;"><canvas width="52" height="16" style="width: 52px; height: 16px; top: -1px; left: -1px;"></canvas><cufontext>SPACE</cufontext></cufon>
        </h3>
        <p>
            If you are looking to expand on light and space, use the lightest colour on the
            biggest area. Contrast this with darker woodwork to make the walls look even lighter.</p>
        <h3 class="cms_subHeading">
            <cufon class="cufon cufon-canvas" alt="WEIGHT " style="width: 63px; height: 14px;"><canvas width="76" height="16" style="width: 76px; height: 16px; top: -1px; left: -1px;"></canvas><cufontext>WEIGHT </cufontext></cufon>
            <cufon class="cufon cufon-canvas" alt="OF " style="width: 24px; height: 14px;"><canvas width="37" height="16" style="width: 37px; height: 16px; top: -1px; left: -1px;"></canvas><cufontext>OF </cufontext></cufon>
            <cufon class="cufon cufon-canvas" alt="COLOUR" style="width: 64px; height: 14px;"><canvas width="70" height="16" style="width: 70px; height: 16px; top: -1px; left: -1px;"></canvas><cufontext>COLOUR</cufontext></cufon>
        </h3>
        <p>
            If you want a house to flow from room to room, choose paints that have the same
            weight of colour within them. Strong colours are great but do think about how they
            relate to one another. Make sure you are happy with the flow and that it doesn’t
            shock or jar from one room to another. A Stone Blue No.86 hallway leading into a
            Rectory Red No.217 living room will work well because the weight of colour is balanced.</p>
        <ul class="colourSchemes">
            <li><a href="/stone-blue/colours//fcp-product/100086">
                <img width="75" src="/pws/client/images/catalogue/products/100086/thumbnail/100086.jpg"
                    alt="Stone Blue">
            </a><span>Stone Blue
                <br>
                86 </li>
            <li class="ContLast"><a href="/rectory-red/colours//fcp-product/100217">
                <img width="75" src="/pws/client/images/catalogue/products/100217/thumbnail/100217.jpg"
                    alt="Rectory Red">
            </a><span>Rectory Red
                <br>
                217 </li>
        </ul>
    </div>
    <div id="contentImage">
        <img src="../../Content/images/FB/exemple/inspiration-colour-colour-tips.jpg" />
        <br>
        Wall: Shaded White No.201 Modern Emulsion
        <br>
        Woodwork: London Stone No.6 Estate Eggshell
        <br>
        Ceiling: Strong White No.2001 Modern Emulsion
    </div>
</div>
