
@{
    ViewBag.Title = "FARROW & BALL - Обои - Мандерс - Manders";
    
}









<div>Кроме того, мы производим обои ручной выделки. Мы используем наши краски для нанесения оттисков на бумагу, используя традиционную технологию клише, а также методы трафаретной печати, благодаря чему они приобретают свою уникальную текстуру.

Наши обои берут свое начало от подлинных образцов XVIII-го и XIX-го столетий, поэтому они обладают непреходящим и неподвластным времени очарованием. 

В этом буклете Вы найдете множество идей и советов по выбору цвета, независимо от Ваших предпочтений, а наши консультанты по подбору красок всегда окажут Вам помощь в наших демонстрационных залах и фирмах, имеющих запасы готовой продукции, в любой точке мира. Кроме того, Вы сможете познакомиться с другими идеями на нашем веб-сайте www.farrow-ball.com.

Мы надеемся, что Вы с удовольствием подберете краски и обои для своего дома из нашего ассортимента. 

Желаем Вам счастливого и удачного ремонта, 

С уважением, коллектив Farrow & Ball. 
 
P3-4

</div>
<div>
Производство и мастерство

В компании Farrow & Ball мы чрезвычайно гордимся тем, что прилагаем максимум усилий к тому, что у нас получается лучше всего: производить не имеющие аналогов краски и обои, украшающие стены домов во всем мире. 

Наша специализация – внимание к деталям и исключительное качество. Мы строго контролируем каждую партию краски и обоев – как крупную, так и небольшую, – которая выходит из цеха нашего производства. 

Поэтому, независимо от того, приобретаете ли Вы 5 или 500 литров краски Elephant’s Breath®, мы одинаково тщательно проверим каждую банку на соответствие цвета и качество. 

Поэтому единственное, на что все будут обращать внимание в Вашей комнате, – это цвет нашей краски. 



P5-6 
</div>
<div>
Производство и мастерство

Наши окрашенные обои обладают исключительным качеством, поскольку они произведены на основе наших экологически чистых красок на водной основе и с использованием традиционных технологий.

Чрезвычайно требовательные специалисты нашего производства контролируют каждый этап технологического процесса. Нам нравится наносить изображения традиционными блоками или методом «царапанья», создавая изысканные решения. 

Для нанесения грунтового слоя мы используем ручной способ окраски кистью, что как раз и придает нашим обоям необычайно приятную на ощупь текстуру.
 
Такой подход, в сочетании с нанесением еще одного слоя краски для создания узоров или полос, обеспечивает несравненное качество обоев. 

Мы добавляем слой превосходного лака особого состава, чтобы обеспечить долговечность и легкую в уходе поверхность.

Все обои с любовью изготавливаются под заказ на нашем производстве в графстве Долсет, Англия.

Вся продукция изготавливается на наших производственных площадях, поэтому Вы всегда можете быть уверены в ее наилучшем качестве. 



P7-8
</div>
<div>
Цвет в Вашем доме

Вам необязательно обучаться искусству оформления интерьеров, чтобы выбрать свою цветовую гамму. Мы считаем, что самое главное – это ощущение уюта и комфорта в доме. 

Прежде чем перейти к выбору цвета, подумайте о стиле, назначении и форме пространства, которое Вы намерены декорировать. 

Освещение – это ключевой фактор, над которым стоит задуматься, так как количество света и его направленность могут изменять оттенок краски в течение дня. 

Мы предпочитаем начинать подбор цвета с прихожей, чтобы создать естественный цветовой переход из комнаты к комнате.

Мы выбрали 132 цветовых варианта красок, которые представляют собой подготовленную палитру, благодаря которой легко сказать, какие оттенки дополняют друг друга, позволяя создать гамму настроений и стилей, от мягких и нейтральных, до ярких и оригинальных. 



P9-10 
</div>
<div>
Нейтральные цвета Farrow & Ball далеко не бесцветны. Наша компания славится их сдержанной гармонией и способностью изящно украшать комнату. 

Наши обои тоже не занимают нейтральную позицию. Традиционно изготовленные с использованием нашей собственной краски, они созданы, чтобы гармонично сочетаться с оттенками наших красок. На следующей странице мы предлагаем несколько вариантов сочетаний обоев для каждой из четырех групп нейтральных оттенков:



P9-10
</div> 
<div>
Такие теплые серые тона как Slipper Satin®, Lime White, Off-White и Old White обеспечивают утонченный эффект присутствия. Это традиционные цвета, которые также отлично смотрятся в современных интерьерах. 

В этой группе акцент может быть сделан при использовании обоев St Antoine 9-10, Light Gray или Mouse’s Back®. 



P11-12
</div>
<div> 
Нейтральные цвета на красной основе

Теплые тона предназначены не только для продуваемых сквозняком комнат. Pointing®, Dimity®, Joa’s White® и Archive® помогают создать уютную атмосферу в любом пространстве. 

В этой группе акцент может быть сделан при использовании обоев Silvergate 8-03, Oxford Stone или London Stone. 

Несмотря на то, что наши цвета глубоко традиционны, наши оттенки красок, отделочные покрытия и обои соответствуют как современным, так и традиционным интерьерам. 

Нейтральные цвета на желтой основе

Мы с особым удовольствием рассказываем о наших нейтральных цветах на желтой основе. Мы считаем, что White Tie®, New White, Matchstick® и String® создают очаровательный деревенский стиль «кантри» и приятную для жизни атмосферу. 

В этой группе акцент также может быть сделан при использовании обоев Ringwold 16-11, Cord® или Cat’s Paw®.



P13-14
</div>
<div> 
Современные нейтральные цвета

Холодные серые тона придадут Вашей комнате более современный вид с подразумеваемым теплым колоритом. К ним относятся Wimborne White, Strong White®, Skimming Stone® и Elephant’s Breath®. 

В этой группе акцент может быть сделан при использовании обоев Lotus 20-12, Dove Tale или Charleston Gray®.



P15-16 
</div>
<div>
Рекомендации по декорированию: Как создать иллюзию большого пространства

Не считая дорогостоящих пристроек и услуг архитекторов, чтобы изменить форму комнаты, можно использовать цвет. Более темный цвет стены приблизит ее к Вам, тогда как более светлый цвет создает иллюзию, что стена расположена дальше. 

Вы можете также не допустить, чтобы узкие прихожие выглядели «туннелеобразными», покрасив торцевую стену в более темный оттенок, чем боковые стены. 

Создание гармоничных переходов во всем доме

Возможно, мы чрезмерно увлечены красками, но мы знаем, как легко можно допустить ошибку, занимаясь художественным оформлением всего дома. Мы рекомендуем подбирать цвета, имеющие одинаковую тональную насыщенность. Лучше всего выполнять декорирование поэтапно, этаж за этажом: учитывая линию прямой видимости между комнатами – причем, в данном случае нет никакой необходимости в соблюдении абсолютной точности, но стоит предусмотреть, как цвета смежных комнат будут дополнять друг друга.

Можно получить интересный эффект, создав контраст цвета стен и столярных изделий, комната за комнатой, и сочетать цвет стен в главной зоне с цветом столярных изделий других комнат. Это создает ощущение целостности и разнообразит получаемый эффект, так как некоторые комнаты будут светлее других. 



P17-18
</div>
<div> 
Как создать ощущение более светлой комнаты

Используя темные тона красок в прихожей, Вы сразу же добиваетесь того, что комнаты, удаленные от прихожей, кажутся более теплыми и яркими, а также более просторными. Загляните в светлую комнату из затемненного пространства, и Вы обязательно почувствуете, что как бы находитесь в пещере.

Оптимальный интерьер комнаты с незначительным уровнем естественной освещенности

Большинство из нас живет в достаточно небольших комнатах, в которых полностью не ощущается преимущество естественного света, и всем нам свойственно стремление окрасить свою комнату в невероятный белый цвет для создания иллюзии ее освещенности.

Но вместо того, чтобы непреднамеренно превращать свою ванную комнату на нижнем этаже в приемную врача, гораздо разумнее использовать теплые, слегка темные тона или даже обои с рельефным узором, чтобы создать яркую и одновременно уединенную атмосферу. 

Создание ощущения высокого потолка

Чтобы создать иллюзию более высокого потолка, лучше всего использовать один и тот же цвет для столярных изделий, стен и карнизов или свода потолка, поскольку это создаст ощущение более высоких стен. Для этих же целей может подойти и белый цвет потолка, гармонирующий с цветом стен, что не акцентирует Ваше внимание на том, где заканчивается стена, а где начинается потолок. Льюис Кэрролл не возражал бы против такого решения. 



P19-20
</div>
<div>
 
Различные стили декорирования

Существует несметное множество способов, облегчающих процесс декорирования, однако, в основе всего, в том числе и Ваших предпочтений в отношении дома, лежат выбор цвета и дизайн. Не существует догматических принципов относительно дизайна интерьера, однако, известны несколько наиболее популярных стилей, которые могут Вам помочь в поиске решения: 

Цветные стены и белые столярные изделия

В основе традиционного стиля – использование одного цвета для стен и белого лака для столярных изделий интерьера.

Визуально он воспринимается как нечто светлое и лишенное излишних деталей, однако, мы считаем, что иногда решение в таком стиле может оказаться раздражающим. Чтобы сгладить контрастность: выберите мягкий дополняющий цвет для потолка. Благодаря этому контраст между границами цветов будет более сглаженным, и в результате комната будет выглядеть удивительно просторной. 

Чтобы ознакомиться с предлагаемыми дополняющими нейтральными цветами, зайдите на наш веб-сайт и нажмите выбранный Вами вариант краски.

Светлые стены и более темные столярные изделия

Превосходный способ создать ощущение света и простора – использовать самые светлые тона на самых крупных поверхностях, таких как стены, и более темный тон для столярных изделий. 

Такой подход дает очень неплохие результаты, если Вы используете нейтральную цветовую гамму, и создает более выраженное ощущение «декорированности». 

Использование темного цвета для плинтусов не только придает стенам большую яркость из-за контраста, но также создает выразительный современный стиль – придавая всем предметам, находящимся выше, ощущение удлиненности и легкости. 

Один и тот же цвет для стен и столярных изделий

Использование одного и того же цвета для окраски стен и столярных изделий является достаточно популярным в современных интерьерах, поскольку создает выразительный и свежий внешний вид. 

Такой подход создает в комнате атмосферу покоя, одновременно расширяя ее пространство, поскольку отсутствуют контрастные переходы, привлекающие взгляд. 

Мы подобрали несколько вариантов нашей краски Calamine®, обеспечивающие необычайно успокаивающее воздействие на атмосферу комнаты. 



P21
</div>
<div>
Примеры для вдохновения



P33-34 
</div>
<div>
Обои

Наши дизайнеры демонстрируют самые настоящие чудеса при разработке рисунков для обоев: благодаря цветочным узорам, узорам в стиле дамаск, узорам из полос и геометрическим узорам, воплощенным в более чем 1000 цветовых решений, мы можем удовлетворить любую Вашу прихоть, связанную с обоями.

Пожалуйста, познакомьтесь с лучшим, что накоплено и создано нашим коллективом, посетив наши демонстрационные залы, фирмы, имеющие запасы готовой продукции, или веб-сайт, где Вы найдете полный ассортимент красок и образцов. На следующих страницах представлены образцы всех наших обоев, доступных в настоящее время.

Выбор варианта краски для отделки Вашей комнаты может быть нелегким, но достичь гармоничного сочетания очень просто, поскольку при изготовлении наших обоев мы используем собственные краски, обеспечивающие идеальную сочетаемость вариантов.

Для любого вида наших обоев Вы сможете подобрать рекомендуемый вариант дополняющего нейтрального цвета – либо на обороте подшивок с образцами обоев, либо на нашем веб-сайте. Для каждого варианта краски и каждого цветового решения обоев Вы также сможете найти на нашем веб-сайте по три предлагаемых цветовых сочетания. 


P45-46
</div>
<div> 
Внутренние стены и потолки

Все наши краски имеют водную основу, слабый запах и быстро высыхают. Если не указано иное, все отделочные покрытия имеют 132 варианта цвета. 

Estate® Emulsion

Отделочная краска, придающая такой желанный характерный вид Farrow & Ball. Может применяться для покрытия стен и потолков, имеет известково-белую матовую фактуру и обладает бесподобной глубиной цвета. 

Modern Emulsion

Modern Emulsion является оптимальной высококачественной альтернативой Estate® Emulsion. Она не придает особого блеска поверхности, но поддается мойке и обеспечивает превосходную устойчивость против пятен и царапин. Это покрытие идеально подходит для стен и потолков в кухнях, ванных комнатах, прихожих, детских комнатах и прочих помещениях, которые часто используются. 

P47-48
<div> 
Внутренние деревянные и металлические поверхности

Estate® Eggshell

Чрезвычайно прочное и долговечное покрытие с блеском яичной скорлупы (иронично названное по аналогии со своей хрупкой тезкой), которое легко протирать и подвергать мойке. Идеально подходит для покрытия внутренних столярных и металлических изделий, включая радиаторы отопления. Незначительная степень блеска этого покрытия делает его идеальным дополнением для Estate® Emulsion и Modern Emulsion.

Dead Flat

Традиционное матирующее покрытие поверхности подходит для использования при внутренних работах для покраски деревянных изделий, штукатурки и металлических поверхностей, для которых необходима исключительно матовая, элегантная отделка. Не подходит для применения в кухонных и ванных помещениях, для покрытия мебели или поверхностей, подвергающихся значительным нагрузкам.    

Floor Paint

Эта износостойкая краска имеет классическую фактуру яичной скорлупы, благодаря которой сможет оживить поверхность любого деревянного или каменного пола внутри помещения, включая гаражи и мастерские. Не рекомендуется использовать эту краску для покрытия внешних настилов или иных поверхностей, подвергающихся внешним воздействиям вне помещений. 

Full Gloss

Традиционное глянцевое покрытие с 95%-й степенью блеска. Обладает универсальностью и прочностью, подходит для покрытия как внешних, так и внутренних деревянных и металлических поверхностей.

Dead Flat and Eggshell Varnishes

Dead Flat Varnish придает классический матовый внешний вид, в то время как Eggshell Varnish обладает низкой степенью блеска. Оба покрытия являются высококачественными, слабо пахнущими лаками, идеально подходящими для неотделанной и окрашенной древесины или металлических поверхностей. Dead Flat Varnish можно протирать, а Eggshell Varnish – подвергать мойке. 



P49-50
</div>
<div> 
Краски для внешних работ

Exterior Eggshell

Подходит для применения по мягкой и твердой древесине, для оконных рам, наружной обшивки зданий и садовой мебели. Это покрытие достаточно долговечно и пластично, обладает высокой устойчивостью против отслаивания и шелушения. Его также можно применять для покрытия изгородей, ворот, кровельных желобов, фурнитуры и прочих металлических поверхностей.

Full Gloss

Традиционное глянцевое покрытие с 95%-й степенью блеска. Обладает универсальностью и прочностью, подходит для покрытия как внешних, так и внутренних деревянных и металлических поверхностей. 

Вы будете приятно удивлены тем, в какой степени Cabbage White® на Ваших оконных рамах сможет заменить отсутствующий вид овощной грядки в Центральном Лондоне. 



P51-52
</div>
<div> 
Exterior Masonry

Дом нуждается в косметическом ремонте фасада? Это покрытие является символом матовости Farrow & Ball в сочетании с исключительной долговечностью. Чрезвычайно прочное и износостойкое покрытие, которое может использоваться для всех каменных кладок. Доступны более 100 вариантов оттенков. Чтобы ознакомиться подробнее, пожалуйста, зайдите на наш веб-сайт. 

Limewash

Эта готовая к применению побелка limewash подходит для внутренних стеновых покрытий, потолков и внешних стеновых покрытий. Доступны белый цвет и отдельные варианты оттенков. Чтобы ознакомиться подробнее, пожалуйста, зайдите на наш веб-сайт. 






Специальные отделочные покрытия

Чтобы удачно осуществить косметический ремонт исторического и антикварного имущества наши специальные отделочные покрытия являются обязательным компонентом для создания подлинного вида. Эти покрытия изготавливаются под заказ с использованием традиционных и натуральных компонентов и не подлежат возврату.

Casein Distemper

Усиленная клеевая краска с добавлением казеина, поверхность которой можно протирать. Подходит для внутренних оштукатуренных стен и потолков, обладает отличной кроющей способностью, обеспечивает «дыхание» окрашенной поверхности. 

Soft Distemper

Простая, традиционная клеевая краска в сочетании с натуральным полимером образует чрезвычайно ровную и крайне рыхлую фактуру. Такое покрытие обеспечивает «дыхание» потолков, а также может использоваться для окончательной отделки деталей оштукатуренных поверхностей. Доступен только в светлых цветах. Чтобы ознакомиться подробнее, пожалуйста, зайдите на наш веб-сайт. 

Limewash

Пожалуйста, обратитесь к информации на противоположной стороне.

Dead Flat

Традиционное матирующее покрытие поверхности подходит для использования при внутренних работах для покраски деревянных изделий, штукатурки и металлических поверхностей, для которых необходима исключительно матовая, элегантная отделка. Не подходит для применения в кухонных и ванных помещениях, для покрытия мебели или поверхностей, подвергающихся значительным нагрузкам. 



P53-54
</div>
<div>
Грунтовки и первичные покрытия 
Грунтовки и первичные покрытия Farrow & Ball – это более чем необходимая основа для наших непревзойденных отделочных покрытий.

Для каждой из наших 132 красок имеется особый грунтовочный цвет, созданный для того, чтобы гарантировать, что Ваше покрытие усилено грунтовкой. 

Они были разработаны на основе тех же натуральных компонентов и интенсивных красителей, которые придают высокую степень качества нашим отделочным покрытиям. 

Чтобы подобрать соответствующий грунтовочный цвет, пожалуйста, обратитесь к нашей удобной карточке красок или зайдите на веб-сайт, чтобы получить более подробную информацию. 





P53-54
</div>
<div>
Wall & Ceiling Primer & Undercoat 

Предназначена для нанесения под Estate® Emulsion и Modern Emulsion. Применение этой грунтовки позволяет обеспечить ровную поверхность отделочного слоя. Доступны в упаковках по 2,5 л. и 5 л.

Interior Wood Primer & Undercoat

Для использования по неотделанной древесине или ранее окрашенным деревянным поверхностям. Этот продукт позволяет обеспечить идеальную основу для нанесения выбранного отделочного покрытия. Доступны в упаковках по 750 мл., 2,5 л. и 5 л.

Exterior Wood Primer & Undercoat

Для применения по наружной необработанной древесине с целью обеспечения защиты, пластичности и «дыхания». Доступны в упаковках по 750 мл. и 2,5 л.

Metal Primer & Undercoat

Препятствующая образованию ржавчины грунтовка для всех непокрытых поверхностей из черных металлов. Ее также можно использовать для покрытия ворот, изгородей, фурнитуры, радиаторов и водосточных труб. Доступна в упаковке 750 мл.

Wood Floor Primer & Undercoat

Для использования на всех видах деревянных полов внутри помещений перед нанесением Floor Paint. Обеспечивает образование идеальной основы и долговечности покрытия. Доступна в упаковках по 750 мл. и 2,5 л.

Masonry & Plaster Stabilising Primer

Для применения по каменным кладкам, оштукатуренным поверхностям с пористой структурой, содержащей известь или незначительно изношенным, но структурно целостным. Доступна в упаковке 5 л.

Wood Knot & Resin Blocking Primer

Для применения по внутренним и наружным деревянным изделиям. Блокирует образование смолистых пятен на необработанной твердой древесине, смолистой мягкой древесине и сучковатых поверхностях. Доступна только в одном цветовом варианте и в упаковках по 750 мл. и 2,5 л.





P55-56
</div>
<div>
Вы делаете выбор

Мы можем наслаждаться нашими фантазиями, представляя себе карнизы цвета Cooking Apple Green®, а также воображаемую кухню цвета светло-розового антрацита Cinder Rose…

Но мы действительно понимаем всю степень сложности, поскольку Вам приходится ориентироваться в огромном количестве образцов красок и обоев. 

Мы готовы помочь Вам принять решение максимально удобным для Вас способом: в наших демонстрационных залах, фирмах с запасами готовой продукции или если Вы свяжетесь с нами непосредственно.

Кроме нашего бесплатного индивидуального совета, на нашем веб-сайте Вы найдете много полезной информации и помощь, включая составленную цветовую гамму для каждого из наших оттенков, полезные советы и рекомендации по сочетанию цветов для Вашего интерьера, а также информацию о наших продуктах.

С максимальной пользой используйте наши банки для пробы краски и возьмите домой понравившийся цвет, чтобы Вы могли увидеть, как он смотрится в течение дня в комнате, стены которой Вы намереваетесь окрасить. 

У нас также есть образцы обоев формата A4 всех рисунков и сочетаний цветов, чтобы гарантировать, что Вы абсолютно довольны и цветом и рисунком прежде, чем разместить свой заказ. 



P57-58
</div>
<div>
Применение

Малярные кисти и валики Farrow & Ball 

Старую пословицу «У плохого мастера всегда виновата пила» невозможно применить к нашей краске, если Вы используете серию наших эксклюзивно разработанных малярных кистей и валиков.

Приверженцы краски Farrow & Ball изготовили эту продукцию, чтобы результатом покраски всегда была надежная и непревзойденная отделка Ваших стен. 

Малярные кисти с рукоятками из березы имеют высококачественную синтетическую щетину, которая не оставляет следов от кисти и обеспечивает великолепное равномерное нанесение.

Кроме того, они весьма прочные. И к тому же сохраняют форму кисти во время применения и после него. 

Специально разработанные валики также обеспечивают безупречное отделочное покрытие с великолепным равномерным распределением. 

Клей для обоев Farrow & Ball

Наш клей для обоев был специально разработан для гармоничной работы с обоями Farrow & Ball. 

Порошкообразный клей поставляется в тубе, которая складывается вдвое в виде измерительной емкости, что облегчает смешивание и использование клея для обоев.

 Каждая туба рассчитана для наклеивания до пяти рулонов обоев. 

Расчет необходимого Вам количества обоев

Мы с удовольствием поможем Вам рассчитать количество обоев, которое вероятно понадобится для Вашего дома, но наш совет дается исключительно в виде рекомендации. Вышлите нам информацию с указанием дизайна, высоты стен под оклейку обоев, количества стен и их длины на номер факса +44 (0)1202 873793 или на адрес электронной почты sales@farrow-ball.com. В рамках оценки мы не будем учитывать наличие окон или дверей, но для удобства мы включим дополнительный рулон для использования в случае непредвиденных обстоятельств (случайной порчи) при наклейке или для выполнения ремонта в будущем. Пожалуйста, согласуйте количество со своим дизайнером прежде, чем разместить Ваш окончательный заказ. 


</div>
<div>
Как сделать заказ
Продукция Farrow & Ball продается во всех странах в демонстрационных залах и фирмами, имеющими запасы готовой продукции. Вы также можете сделать заказ непосредственно у нас или на нашем веб-сайте.

Большинство вариантов цвета красок и отделочных покрытий можно сразу купить в наших демонстрационных залах и у фирм, имеющих запасы готовой продукции, а все, чего нет в наличии, можно заказать, все обои изготавливаются на заказ.

Чтобы получить консультацию относительно выбора цвета, отделочных покрытий или обоев, свяжитесь с нами по телефону +44 (0) 1202 876141 или посетите один из наших демонстрационных залов или фирму, имеющую запасы готовой продукции, – чтобы найти ближайшего к Вам розничного продавца, посетите наш веб-сайт.

Вы также можете приобрести нашу продукцию:

По телефону: Звоните нам на номер +44 (0) 1202 876141 с 8:00 до 20:00 с понедельника по пятницу и с 8:00 до 13:00 по субботам

На веб-сайте: Весь ассортимент продукции можно заказать на www.farrow-ball.com

По электронной почте: Отправьте Ваш заказ на адрес sales@farrow-ball.com

По факсу: Отправьте Ваш заказ по факсу +44 (0) 1202 873793

Farrow & Ball, Uddens Estate, Wimborne, Dorset, BH21 7NL.



</div>