<hr class="featurette-divider">
<div>
    <h1 class="featurette-heading">Вас приветствует компания Farrow & Ball</h1>
    <h2 class="featurette-heading, muted">Вдохновение...</h2>
    <hr class="featurette-divider">
    <div style="background-color: #000000; padding: 7px 5px 5px 5px; margin-right: 10px" class="featurette ui-corner-all">
        <iframe width="640" height="360" src="http://www.youtube.com/embed/ZIyD5BmcwF4?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <a name="BackToMenu"></a>
    <hr class="featurette-divider">
    <div>
        <ul class="menuProduct" style="width: 450px;">
            <li><a href="#Vas_privetstvuet_kompania_F&B" title="Вас приветствует компания Farrow & Ball">Вас приветствует компания Farrow & Ball</a></li>
            <li><a href="#Proizvodstvo_&_masterstvo" title="Производство и мастерство">Производство и мастерство</a></li>
            <li><a href="#Tsvet_v_Vashem_dome">Цвет в Вашем доме</a></li>
            <li><a href="#">Рекомендации по декорированию</a></li>
            <li><a href="#">Примеры для вдохновения</a></li>
            <li><a href="#">Оболи</a></li>
            <li><a href="#">Интерьерные краски</a></li>
            <li><a href="#">Краски для внешних работ</a></li>
            <li><a href="#">Специальные отделочные покрытия</a></li>
            <li><a href="#">Грунтовки и первичные покрытия</a></li>
            <li><a href="#">ВЫ делаете выбор</a></li>
            <li><a href="#">Применение</a></li>
            <li><a href="#">Как сделать заказ</a></li>
        </ul>
    </div>
    <a name="Vas_privetstvuet_kompania_F&B"></a>
    <hr class="featurette-divider">

    <div class="lead">
        <p>Краски Farrow & Ball возникли и всегда производились в графстве Дорсет, Англия. Да, именно так. Мы всегда находились в Англии, еще с тех времен, когда Джон Фэрроу и его друг Ричард Болл, энтузиаст в области разработок красок, впервые основали компанию.</p>
        <p>Их страсть к изготовлению красок только из лучших компонентов и традиционные технологии позволили нашей компании выдержать проверку временем и изменчивость модных тенденций.</p>
        <p>Они были настолько скрупулезны в своем стремлении создать не имеющие аналогов краски, что мы гарантируем, что Вы едва ли найдете подобные краски и сегодня, поскольку со временем, созданные ими рецептуры и технологические процессы претерпели лишь незначительные изменения.</p>
        <p>В процессе создания наших красок присутствует элемент «алхимии». Это — высококачественные пигменты, богатые связующие смолы и высокая степень стойкости основных компонентов, которые создают такую глубину и насыщенность цвета.</p>
        <p>Мы считаем, что краска - это нечто большее, чем просто покрытие поверхности. Именно поэтому краска Borrowed Light® точно передает оттенок солнечного света, позаимствованный тенистой прохладой. Наши краски создают образ дома.</p>
        <p>Кроме того, мы производим обои ручной выделки. Мы используем наши краски для нанесения оттисков на бумагу, используя традиционную технологию клише, а также методы трафаретной печати, благодаря чему они приобретают свою уникальную текстуру.</p>
        <p>На нашем сайте Вы найдете множество идей и советов по выбору цвета, независимо от Ваших предпочтений, а наши консультанты по подбору красок всегда окажут Вам помощь в наших демонстрационных залах и фирмах, имеющих запасы готовой продукции, в любой точке мира. Кроме того, Вы сможете познакомиться с другими идеями на веб-сайте www.farrow-ball.com.</p>
        <p>Мы надеемся, что Вы с удовольствием подберете краски и обои для своего дома из нашего ассортимента.</p>
        <p>Желаем Вам счастливого и удачного ремонта. С уважением, коллектив компании Manders.</p>

    </div>
    <a name="Proizvodstvo_&_masterstvo"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Производство и мастерство</h2>
    <div class="lead">

        <p>В компании Farrow & Ball мы чрезвычайно гордимся тем, что прилагаем максимум усилий к тому, что у нас получается лучше всего: производить не имеющие аналогов краски и обои, украшающие стены домов во всем мире.</p>
        <p>Наша специализация - внимание к деталям и исключительное качество. Мы строго контролируем каждую партию краски и обоев - как крупную, так и небольшую, - которая выходит из цеха нашего производства.</p>
        <p>Поэтому, независимо от того, приобретаете ли Вы 5 или 500 литров краски Elephant's Breath®, мы одинаково тщательно проверим каждую банку на соответствие цвета и качество.</p>
        <p>Поэтому единственное, на что все будут обращать внимание в Вашей комнате, — это цвет нашей краски.</p>
        
        <p>Наши окрашенные обои обладают исключительным качеством, поскольку они произведены на основе наших экологически чистых красок на водной основе и с использованием традиционных технологий.</p>
        <p>Чрезвычайно требовательные специалисты нашего производства контролируют каждый этап технологического процесса. Нам нравится наносить изображения традиционными блоками или методом «царапанья», создавая изысканные решения.</p>
        <p>Для нанесения грунтового слоя мы используем ручной способ окраски, что как раз и придает нашим обоям необычайно приятную на ощупь текстуру. Такой подход, в сочетании с нанесением еще одного слоя краски для создания узоров или полос, обеспечивает несравненное качество обоев. Мы добавляем слой превосходного лака особого состава, чтобы обеспечить долговечность и легкую в уходе поверхность.</p>
        <div class="featurette">
            <img class="featurette-image pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/PoizvMaster.png")" />
         
        </div>
        <p>Вся продукция изготавливается на наших производственных площадях, поэтому Вы всегда можете быть уверены в ее наилучшем качестве. </p>
    </div>
     <a name="Tsvet_v_Vashem_dome"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Цвет в Вашем доме</h2>
    <div class="lead">
        <p>Вам необязательно обучаться искусству оформления интерьеров, чтобы выбрать свою цветовую гамму. Мы считаем, что самое главное - это ощущение уюта и комфорта в доме.</p>
        <p>Прежде чем перейти к выбору цвета, подумайте о стиле, назначении и форме пространства, которое Вы намерены декорировать.</p>
        <p>Мы предпочитаем начинать подбор цвета с прихожей, чтобы создать естественный цветовой переход из комнаты к комнате.</p>
        <p>Мы выбрали 132 цветовых варианта красок, которые представляют собой подготовленную палитру, благодаря которой легко сказать, какие оттенки дополняют друг друга, позволяя создать гамму настроений и стилей, от мягких и нейтральных, до ярких и оригинальных.</p>
        <div class="featurette">
            <img class="featurette-image pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/PoizvMaster.png")" />
         
        </div>
        <p>Вся продукция изготавливается на наших производственных площадях, поэтому Вы всегда можете быть уверены в ее наилучшем качестве. </p>
    </div>
    </div>

<div style="position:relative; left: 400px;">
                <a class="fl floating" href="#BackToMenu" title="Back to menu Farrow & Ball">Вернуть к меню Farrow & Ball</a>
</div>
   
    <div>
        <a href="@Url.Action("William_Howard", "Products", new { id = "Products__part_WH__William_Howard_catalog" })">
            <img src="@Url.Content("~/Content/images/WH/pdf/catalog.png")" title="Каталог компании W. Howard Limited"/></a>

    </div>




