
@{
    ViewBag.Title = "FARROW & BALL";
    
}

   

<div id="opis" class="cont_main">

<h3>Вас приветствует компания Farrow & Ball - Manders.</h3>

<p>Краски <b> Farrow & Ball</b> возникли и всегда производились в графстве <b>Дорсет</b>,<b> Англия</b>. Да, именно так.</p>
<p> Мы всегда находились в <b>Англии</b>, еще с тех времен, когда <b>Джон Фэрроу</b> и его друг <b>Ричард Болл</b>, энтузиаст в области разработок красок, впервые основали компанию. 
<b>А теперь и на Украине появилась уникальная возможность приобрести эти краски.</b></p>

<p>Их страсть к изготовлению красок только из лучших компонентов и традиционные технологии позволили нашей компании выдержать проверку временем и изменчивость модных тенденций.</p>

Они были настолько скрупулезны в своем стремлении создать не имеющие аналогов краски, что мы гарантируем, что Вы едва ли найдете подобные краски и сегодня, поскольку со временем, созданные ими рецептуры и технологические процессы претерпели лишь незначительные изменения.

<p>В процессе создания наших красок присутствует элемент «алхимии». Это – высококачественные пигменты, богатые связующие смолы и высокая степень стойкости основных компонентов, которые создают такую глубину и насыщенность цвета.</p> 

<p>Мы считаем, что краска – это нечто большее, чем просто покрытие поверхности. Именно поэтому краска <b>Borrowed Light®</b> точно передает оттенок солнечного света, позаимствованный тенистой прохладой. </p>
<p>Наши краски создают образ дома.</p>
</div>
