<a name="Wallpaper"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Обои</h2>

    <div class="lead">

        <p>Наши дизайнеры демонстрируют самые настоящие чудеса при разработке рисунков для обоев: благодаря цветочным узорам, узорам в стиле дамаск, узорам из полос и геометрическим узорам, воплощенным в более чем 1000 цветовых решений, мы можем удовлетворить любую Вашу прихоть, связанную с обоями.</p>
        <p>Пожалуйста, познакомьтесь с лучшим, что накоплено и создано нашим коллективом, посетив наши демонстрационные залы, фирмы, имеющие запасы готовой продукции, или веб-сайт, где Вы найдете полный ассортимент красок и образцов. На следующих страницах представлены образцы всех наших обоев, доступных в настоящее время.</p>
        <p>Выбор варианта краски для отделки Вашей комнаты может быть нелегким, но достичь гармоничного сочетания очень просто, поскольку при изготовлении наших обоев мы используем собственные краски, обеспечивающие идеальную сочетаемость вариантов.</p>
        <p>Для любого вида наших обоев Вы сможете подобрать рекомендуемый вариант дополняющего нейтрального цвета - либо на обороте подшивок с образцами обоев, либо в нашем магазине.</p>

        <div class="featurette">
            <img class="featurette-image  pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler13.jpg")" />

        </div>
    </div>
