<a name="acrylic-matt-emulsion"></a>
<div class="ui-widget-content">
    <img src="http://www.littlegreene.eu/media/catalog/category/file_58_2.jpg" alt="Colours Shown
Walls: Citrine 71
Mirror &amp; Woodwork: Slaked Lime 105"
        title="Colours Shown
Walls: Citrine 71
Mirror &amp; Woodwork: Slaked Lime 105"><p title="Our most popular paint, Absolute Matt Emulsion (formerly known as 'Acrylic Matt Emulsion') is the classic finish for interior walls and ceilings. It's a water-based, environmentally friendly paint and dries to an incredibly flat finish that exudes character." >
    Наши самые популярные краски, абсолютно матово-эмульсионная краска (ранее известная как "акрилово эмульсионно-матовая") является классической краской для отделки внутренних стен и потолков.
    Она на водной основе, экологически чистая и при высыхании невероятно гладкая поверхность, которая источает характер поверхности.
                                        </p>
    <p title="Absolute Matt Emulsion is available in 5L, 2.5L and 1L tins - so you can buy as much or as little as you need.">Краска доступна в 5 Л, 2.5 Л и 1 Л фасовках - и Вы можете преобрести столько краски или литров, сколько Вам необходимо.</p>
    <ul>
        <li>Экологически чистая.</li>
        <li>На водной основе.</li>
        <li>Прекрасный гладкий вид после высыхания. Подходит для отделки стен и потолков.</li>
        <li>Сертифицировано. Полностью безопасны для детских комнат ('Toy Paint Regulations' <a href="http://www.guangdongjinyi.com/Technical/Environmental/EN71-Part3.pdf" title="BRITISH STANDARD">BS EN 71-3:1995</a>).</li>
        <li>Степень блеска - 3% (очень матовый).</li>
        <li>Охватывает около 14 квадратных метров за литр (один слой).</li>
        <li>Доступна во всех цветах.</li>
        <li>Доступный в 3 видах фасовки - 5 л, 2,5 л и 1 л</li>
        <li>Также доступна в 60 мл баночках-примерах.</li>
    </ul>
</div>
