<a name="acrylic-gloss"></a>
<div class="ui-widget-content">
<img src="http://www.littlegreene.eu/media/catalog/category/Acrylic_Gloss.jpg" alt="Colours Shown
Wall: Slipper
" title="Colours Shown
Wall: Slipper
"><p title="A tough, washable paint with a high sheen, Acrylic Gloss is a quick-drying alternative Oil Gloss and is suitable for interior or exterior use.">
    Жесткая, моющаяся краска с высоким блеском, акриловый блеск быстросохнущая альтернатива жирного блеска и подходит для внутреннего или наружного использования.
  </p>
<p title="It is ideal for use on interior woodwork, metals and plaster walls, particularly in rooms which need to be cleaned frequently such as kitchens and bathrooms.">
    Она идеально подходит для использования в интерьере из дерева, металла и штукатурки стен, особенно в помещениях, которые должны часто мыться, таких как кухни и ванные комнаты.
</p>
<ul>
    <li>Экологически чистая.</li>
    <li>На водной основе.</li>
    <li>Полностью моющийся.</li>
    <li>Подходит для покраски внутренних деревянных поверхностей, штукатурки стен и прогрунтованых металлов.</li>
    <li>Уровень блеска - 75% (высокий).</li>
    <li>Охватывает около 14 квадратных метров за литр (один слой).</li>
    <li>Доступна во всех цветах.</li>
    <li>Доступный в 1л фасофках.</li>
</ul>
</div>
