<a name="distemper"></a>
<div class="ui-widget-content">
<img src="http://www.littlegreene.eu/media/catalog/category/file_77.jpg" alt="" title="">
    <p title="A traditional breathable paint, commonly used in older buildings and loved because of its soft, powdery finish. Water-based and environmentally friendly, our Distemper is strengthened to be wipeable but is not recommended for areas of high traffic or condensation.">
        Традиционно воздухопропускаемой краской, обычно пользуются в старых зданиях. Любят использовать её из-за мягкой, рассыпчатой поверхностью. 
        Краска на водной основе и экологически чистая. Наша Distemper усилена, чтобы быть моющейся, но не рекомендуется для помещений высокого трафика или с повышеным содержанием конденсата.
    </p>
<ul>
    <li>Экологически чистая.</li>
    <li>На водной основе.</li>
    <li>Моющаяся.</li>
    <li>Воздухопроницаемая.</li>
    <li>Уровень блеска - 3% (очень матовая).</li>
    <li>Охватывает около 15 квадратных метров за литр (один слой).</li>
    <li>Доступные в широком выборе цветов.</li>
    <li>Доступна в 5Л фасовках.</li>
    <li>Distemper производятся под заказ. Пожалуйста, свяжитесь с @Html.ActionLink("менеджером", "Contact", "Home", null, new {title ="Контакты Manders в Украине" }) для уточнения сроков поставки.</li>
</ul>
</div>
