<a name="floor-paint"></a>
<div class="ui-widget-content">
<img src="http://www.littlegreene.eu/media/catalog/category/file_66.jpg" alt="Colours Shown
Floor: Salix 99" title="Colours Shown
Floor: Salix 99"><p title="Painting the floor is an easy yet dramatic way to change the feel of a room, and with the full Little Greene colour range at your fingertips you can be as bold or a subtle as you like.">
    Покраска пола простой, но драматический путь изменения вида комнаты. С полной цветовой гаммой на кончиках ваших пальцев вы можете сделать его маслянистым, блестящим или утонченным, изящным, как вам нравится.
                 </p>
<p title="Floor Paint has an attractive and extremely tough mid sheen finish and uses our eco-oil recipe, which has been formulated using naturally occurring vegetable oils.">
    Краски для пола имеют привлекательный и очень жесткий, серединий блеск, конечного покрытия. В основе используется наш эко-масляный рецепт, который был изобретен используя естественные растительные масла.
</p>
<ul>
    <li>Экологически чистый продукт.</li>
    <li>На масляной основе.</li>
    <li>Прочный и полностью моющийся.</li>
    <li>Может использоваться на деревянных и бетонных полах.</li>
    <li>Уровень блеска - 50% (средний).</li>
    <li>Охватывает около 14 квадратных метров за литр (один слой).</li>
    <li>Доступна во всех цветах.</li>
    <li>Доступна фасовка 2,5 л жестяная банка.</li>
</ul>
</div>
