<a name="ultimatt-emulsion"></a>
<div class="ui-widget-content">
    <img src="http://www.littlegreene.eu/media/catalog/category/Intelligent_Matt.jpg"
        alt="Colours Shown
Walls:  Juniper Ash 115
Desk &amp; Chair: Stock 37
Floor: Linen Wash 33"
        title="Colours Shown
Walls:  Juniper Ash 115
Desk &amp; Chair: Stock 37
Floor: Linen Wash 33"><p title="Intelligent Matt Emulsion (formerly known as 'Ultimatt') is Little Greene's ground-breaking
            paint - it's matt, environmentally-friendly and completely washable. This makes
            it suitable for all areas of your home including kitchens, bathrooms, children's
            rooms and high-traffic hallways.">
    Интеллектуальные матово-эмульсионные краски (ранее известные как "Ultimatt") являются новаторством компании Little Greene. Краска - эта матовая, экологически чистая и полностью моющаяся.
    Это делает её подходящей для всех областей Вашего дома, включая кухни, ванные комнаты, детские комнаты и комнаты с высоким трафиком, коридорах.
            </p>
    <ul>
        <li>Экологически чистая</li>
        <li>На водной основе</li>
        <li>Моющаяся</li>
        <li>Отлично подходит для стен потолков</li>
        <li>Может использоваться даже на деревянных поверхностях и радиаторах</li>
        <li>Сертифицировано полностью безопасны для детских комнат и мебели ('Toy Paint Regulations'
            <a href="http://www.guangdongjinyi.com/Technical/Environmental/EN71-Part3.pdf" title="BRITISH STANDARD">BS EN 71-3:1995</a></li>
        <li>Степень блеска - 5% (очень матовый)</li>
        <li>Охватывает около 13 квадратных метров за литр (один слой)</li>
        <li>Доступна во всех цветах</li>
        <li>Доступна в 3-ох фасовках - 5 л, 2,5 л и 1л</li>
    </ul>
</div>

