<a name="acrylic-eggshell"></a>
<div class="ui-widget-content">
<img src="http://www.littlegreene.eu/media/catalog/category/Intelligent_Eggshell.jpg" alt="Colours Shown
Kitchen Units: Lead Colour 117
Walls: China Clay 1
Floor: Linen Wash 33" title="Colours Shown
Kitchen Units: Lead Colour 117
Walls: China Clay 1
Floor: Linen Wash 33"><p title="Formulated to resist moisture, staining and general wear and tear, Intelligent Eggshell (formerly known as 'Acrylic Eggshell') has a tough yet subtle finish and is a superb paint for woodwork and kitchen &amp; bathroom walls.">
    Создана, чтобы противостоять влаге, окрашиванию и общего износа, интелектуальня 'яичная скорлупа' (ранее известна как "Акриловая яичная скорлупа") имеет жесткое тонкое покрытие и является превосходной краской для дерева, кухни, а также для стен ванной.
                      </p>
<p title="It will give tremendous service in a busy home and is an ideal solution for those who want durability with a soft, low-sheen finish.">
    Она сослужит огромную службу в оживленном дома и является идеальным решением для тех, кто хочет долговечности мягкой, с низким блеском поверхности.</p>
<ul>
    <li>Экологически чистая.</li>
    <li>На водной основе.</li>
    <li>Полностью моющийся.</li>
    <li>Подходит для большинства поверхностей, включая стены, деревянные и прогрунтованые металлы, такие как радиаторы и трубопроводы.</li>
   <li>Сертифицировано. Полностью безопасны для детских комнат ('Toy Paint Regulations' <a href="http://www.guangdongjinyi.com/Technical/Environmental/EN71-Part3.pdf" title="BRITISH STANDARD">BS EN 71-3:1995</a>).</li>
    <li>Уровень блеска - 20% (низкий).</li>
    <li>Охватывает около 14 квадратных метров за литр (один слой).</li>
    <li>Доступна во всех цветах.</li>
    <li>Доступный в 3 фасовках - 5 л, 2,5 л и 1л.</li>
</ul>
</div>
