<a name="limewash"></a>
<div class="ui-widget-content">
<img src="http://www.littlegreene.eu/media/catalog/category/Limewash.jpg" alt="" title=""><p title="Limewash is a very traditional finish, used to decorate and protect porous stone and lime-rendered surfaces. Like Distemper, Limewash is a breathable finish making it suitable for old and damp-problematic walls. Unlike paint, limewash penetrates the surface and the colour is built up by applying successive coats.">
    Серия Limewash очень традиционная. Используется для украшения и защиты пористого камня и известковых поверхностей.
    Как Distemper, Limewash является воздухопропускающей, что делает её пригодной для старых и стен влажно-проблематичных. В отличие от краски, Limewash проникает в поверхность и цвет создается путем применения последовательных слоев.
                                                                                          </p>
<ul>
    <li>Экологически чистая.</li>
    <li>На водной основе.</li>
    <li>Рекомендуется для наружного использования только на известь штукатурки и пористый камень.</li>
    <li>Уровень блеска - 3% (очень матовая).</li>
    <li>Охватывает около 6 квадратных метров на литр (один слой).</li>
    <li>Доступные в широком выборе цветов.</li>
    <li>Доступна в 5Л фасовках.</li>
    <li>Limewash производятся под заказ. Пожалуйста, свяжитесь с @Html.ActionLink("менеджером", "Contact", "Home", null, new {title ="Контакты Manders в Украине" }) для уточнения сроков поставки.</li>
    
</ul>
</div>
