<a name="exterior-masonry"></a>
<div class="ui-widget-content">
<img src="http://www.littlegreene.eu/media/catalog/category/file_62_1.jpg" alt="Colours Shown
Door: Jack Black 119" title="Colours Shown
Door: Jack Black 119"><p title="Gone are the days of a limited colour choice for exterior painting... Little Greene's Exterior Masonry Paint is available in almost all colours - use it to achieve a long-lasting matt finish on brick, stone or rendered walls.">
    Прошли те времена, ограниченного выбора цветов для окраски внешних поверхностей ... <br />
    Внешняя Кирпичная краска доступны почти во всех цветах.
    Используйте её для достижения длительного матового эффекта на кирпиче, камене или стенах Вашего дома.
                      </p>
<ul>
    <li>Экологически чистая.</li>
    <li>На водной основе.</li>
    <li>Быстро сохнет на гладкой поверхности.</li>
    <li>Эффект длиться 15 лет на наружных стенах до следующей перекраски.</li>
    <li>Грязеотталкивающая.</li>
    <li>Обладает противогрибковые и анти-стареющие свойствами, чтобы хорошо выглядеть в течение долгого времени.</li>
    <li>Уровень блеска - 5% (очень матовая).</li>
    <li>Охватывает около 13 квадратных метров за литр (один слой).</li>
    <li title="Уточните у менеджера доступность цвета."><b>Доступно почти во всех цветах.</b></li>
    <li>Доступна в 5Л фасовках.</li>
</ul>
</div>
