<a name="acrylic-satin-emulsion"></a>
<div class="ui-widget-content">
<img src="http://www.littlegreene.eu/media/catalog/category/file_78.jpg" alt="Colours Shown
Wall: Eau de Nil 90
Desk, Lamp &amp; Picture Frame: Lead White 57
Plant Pot: Kitchen Green 85" title="Colours Shown
Wall: Eau de Nil 90
Desk, Lamp &amp; Picture Frame: Lead White 57
Plant Pot: Kitchen Green 85"><p title="Satin Emulsion paint (formerly known as 'Acrylic Satin Emulsion') is a chic finish that carries a low-sheen and offers good washability. 
    Commonly used in children's rooms and hallways, and particularly useful in dark areas where the soft satin finish can help maximise light reflection."> 
    Атласные эмульсионные краски (ранее известные как "атласная акриловая эмульсия" ), это шикарный вид, который имеет мягкий блеск и предлагает хорошую стойкость к мойке.
    Обычно используются в детских комнатах и коридорах, и особенно полезно в темных областях, где мягкий блеск атласной краски может помочь максимизировать отражение света.</p>
<ul>
    <li>Экологически чистая.</li>
    <li>На водной основе.</li>
    <li>Моющаяся.</li>
    <li>Отлично подходит для стен и потолков.</li>
    <li>Подходит для мест с высокой посещаемостью.</li>
    <li>Уровень блеска 20% (низкий).</li>
    <li>Охватывает около 14 квадратных метров за литр (один слой).</li>
    <li>Доступна во всех цветах.</li>
    <li>Доступный в 3 фасовках - 5 л, 2,5 л и 1л.</li>
</ul>
</div>
