<a name="oil-eggshell"></a>
<div class="ui-widget-content">
<img src="http://www.littlegreene.eu/media/catalog/category/file_64.jpg" alt="Colours Shown
Architrave &amp; Panel: Stock Deep 174
Radiator: Stock Dark 175
Wall: Stock 37" title="Colours Shown
Architrave &amp; Panel: Stock Deep 174
Radiator: Stock Dark 175
Wall: Stock 37"><p title="Oil Eggshell is the traditional paint for woodwork and metalwork. With a low sheen it's the perfect complement to a matt wall paint and is tough enough to withstand wear and tear and repeated cleaning.">
    Масляная краска "Яичная скорлупа" является традиционной для дерева и металла. 
    С низким блеском это прекрасное дополнение к матовой краске для стен и является достаточно устойчивой, чтобы выдерживать износ и частую мойук.
                </p>
<p title="Oil Eggshell is suitable for interior and exterior applications and uses our eco-oil recipe, which has been formulated using naturally occurring vegetable oils.">
  Масляная краска "Яичная скорлупа" подходят для внутреннего и наружного применения и использует наш эко-масляный рецепт, который был собран используя естественные растительные масла.
</p>
<ul>
    <li>Экологически чистая.</li>
    <li>Мясляная основа.</li>
    <li>Полностью моющийся.</li>
    <li>Классическая, долговечное покрытие для деревянных и загрунтованных металлоконструкций.</li>
    <li>Подходит для внутренних и наружных работ.</li>
    <li>Уровень блеска - 20% (средний)</li>
    <li>Охватывает около 16 квадратных метров за литр (один слой).</li>
    <li>Доступна во всех цветах.</li>
    <li>Доступный в 3 видах фасовок размером - 5 л, 2,5 л и 1л.</li>
</ul>
</div>
