<a name="oil-gloss"></a>
<div class="ui-widget-content">
<img src="http://www.littlegreene.eu/media/catalog/category/file_65.jpg" alt="Colours Shown
Door: Celestial Blue 101
Bench: French Grey 113
Watering Can: Slaked Lime 105
Bird House: Shirting 129" title="Colours Shown
Door: Celestial Blue 101
Bench: French Grey 113
Watering Can: Slaked Lime 105
Bird House: Shirting 129"><p>Oil Gloss has a classic high sheen finish which is popular (and very smart) on front doors and also used on interior/exterior woodwork and metalwork.</p>
<p>Extremely hard-wearing and shiny enough to reflect a lot of light, Oil Gloss is both practical and extremely elegant and uses our eco-oil recipe, which has been formulated with naturally occurring vegetable oils.</p>
<p>&nbsp;</p>
<ul>
    <li>Environmentally-friendly</li>
    <li>Oil-based</li>
    <li>Completely washable</li>
    <li>A classic, durable finish for woodwork and primed metalwork</li>
    <li>Suitable for interior and exterior use</li>
    <li>Gloss level - 85% (very high)</li>
    <li>Covers approx 16 square metres per litre (one coat)</li>
    <li>Available in all colours</li>
    <li>Available in 2 tin sizes - 2.5L and 1L</li>
</ul>
</div>
