<div class="featurette lead" id="WallpaperAdvice"">
    <h2 class="featurette-heading">РЕКОМЕНДАЦИИ ПО НАКЛЕИВАНИЮ ОБОЕВ</h2>
    <p>Перед оклеиванием рекомендуем произвести осмотр рулонов, чтобы заранее выявить возможные повреждения, а также убедиться в соответствии цветовой гаммы и в совпадении артикула. После нарезки обоев рекламации не принимаются.</p>
    <h3 class="muted">ПОДГОТОВКА ПОВЕРХНОСТИ.</h3>
    <p>Очистить поверхность от загрязнений, старых обоев, краски. Трешины и неровности зашпаклевать и выровнять. Поверхности, подверженные плесени, обработать фунгицидным раствором. Особо пористые и рыхлые поверхности предварительно прогрунтовать разбавленным клеем, лав поверхности просохнуть. Глянцевые поверхности перед наклеиванием обоев следует обработать шкуркой. Линованную бумагу наклеивайте горизонтально. Используйте один и тот же клей как для бумаги, так для обоев. Рекомендуем наклеить первых три полосы и прекратить работу. Если на следующий день качество работы вас устроит, продолжите наклеивание.</p>

    <h3 class="muted">РИСУНОК</h3>
    <p>Перед тем как отрезать полосу обоев в соответствии с высотой стен, проверьте совпадение рисунка. Подготовьте три полосы. Промаркируйте каждую отрезанную полосу карандашом на обратной стороне по порядку.</p>
    <ul>
        <li>перед наклеиванием обоев с крупным раппортом или орнаментом, отрежьте полосу так. чтобы вверх) стены находился рисунок целиком;</li>
        <li>будьте внимательны при Haf Drope (половинчатое смещение рисунка);</li>
        <li>соблюдайте очередность при наклеивании обоев STRIE (полосы): верх-низ, низ-верх, верх-низ и т.д.</li>
    </ul>
    <h3 class="muted">КЛЕЙ</h3>
    <p>
       Наносить аккуратно равномерным слоем, начиная от центра к краям. Иное движение кисти приводит к попаданию клея на лицевую сторону обоев. Выступивший за края клей немедленно и аккуратно у далить. 
       Перед наклеиванием дайте обоям пропитаться в течение 5 минут. Для этого сложите промазанные клеем поверхности пополам, клеем внутрь и сверните в рулон. Это предотвратит высыхание клея по краям. 
       Во избежание усадки обоев не наносить клей в избыточном количестве, особенно для тонких обоев, не допускать избыточного намокания и перетяжки обоев. КЛЕИ «The Little Greene» - готов к применению. 
       Расход; 2.5л на 3 рулона. КЛЕИ «Farrow-BALL» - изготавливается в соответствии с инструкцией. Один тубус на 5 ру лонов. Потребуется 6 литров холодной и чистой воды. Тубус можно использовать в качестве мензурки: 8 тубусов воды эквивалентно 6 литрам воды. В воду добавить содержимое, постепенно перемешать. Оставить состав на 3 МИНУТЫ.
       Перемешать вновь. Ваш клей FB готов. Вы также можете использовать для наклеивания любой другой импортный клей, в аннотации которого сказано, что он рекомендован для бумажных обоев.
    </p>

    <h3 class="muted">ВЛАЖНЫЕ ПОМЕЩЕНИЯ можно оклеивать</h3>
    <p>Необходимо оценить помещение: размер, наличие вытяжной вентиляции, уровень общей влажности. Эти факторы определяют уровень конденсации, поэтому мы не можем гарантировать пригодность обоев для любых условий. Перед наклейкой обоев Вы должны самостоятельно оценить состояние помещения и принять решение под свою ответственность. Рекомендуем не наклеивать обои на холодную поверхность и при уровне влажности более 65%</p>
    <h3 class="muted">СТОЙКОСТЬ К МЫТЬЮ</h3>
    <p>См. рекомендации к обоям: Washable - влажная чистка; Spongeable - су хая чистка. Запрещено использовать абразивные и химические элементы, способные повредить лицевую сторону обоев.</p>
    <h3 class="muted">БОРДЮРЫ</h3>
    <p>Убедитесь, что основные обои просохли. После этого поверх наклеивайте бордюр. Используйте специальный клей для бордюров.</p>


    <br />
    <h3 class="featurette-heading">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ:</h3>

    <h3 class="muted">ПОЧЕМУ ОБОИ СКРУЧИВАЮТСЯ?</h3>
    <p>Проверьте степень разбавления клея. Клей слишком водянистый. Приготовьте клей более густой консистенции. </p>
    <h3 class="muted">ПОЧЕМУ ОБРАЗОВАЛИСЬ ПРОСВЕТЫ В МЕСТАХ СТЫКОВ ПОЛОС?</h3>
    <p>Произошла перетяжка. Во время наклеивания обои были слишком растянуты и при высыхании сжались. Причиной этого может быть: слишком водянистый, либо излишний клей (или его недостача), а также механическая растяжка полосы при соединении стыков. 
    <h3 class="muted">ПОЧЕМУ ВИДНЫ БЕЛЫЕ СТЫКИ?</h3>
    <p>Края обоев белые. Стыки обоев с темным фоном более заметны. Рекомендуем нанести на предполагаемое место стыка на стене (2-3 см) краску в тон фона обоев, а для краев использовать водный карандаш цвета фона. </p>
    <h3 class="muted">ПОЧЕМУ ПОСЛЕ НАКЛЕЙКИ ОБОЕВ ПОЯВИЛИСЬ ПУЗЫРИ?</h3>
    <p>Это может быть вызвано сквозняками в помещении, неправильной подготовкой поверхности стены, либо обои недостаточно тщательно разглаживались при наклейке.</p>
    <h3 class="muted">КАКОЙ ИНСТРУМЕНТ ИСПОЛЬЗОВАТЬ ДЛЯ РАЗГЛАЖИВАНИЯ ОБОЕВ?</h3>
    <p>Специальный обойный шпатель для разглаживания обоев или мягкая щетка. Движение руки при приглаживании - от середины к краям и сверху вниз. Не использовать полиуретановый валик. Они может повредить поверхность.</p>
    <h3 class="muted">В ЧЕМ ПРЕИМУЩЕСТВО БУМАЖНЫХ ОБОЕВ?</h3>
    <p>
        Бумажные обои наиболее экологичны (позволяют стенам дышать, не создают парникового эффекта, не выделяют вредных веществ в окружающую среду).
        Компания не несет ответственность за качество и профессионализм мастеров по наклеиванию обоев, а также за эксплуатационные повреждения продукции, возникшие в результате неправильного использования.
        Данная инструкция является обшей рекомендацией и не может учитывать все нюансы и особенности работы.
    </p>
</div>


