
    <div class="featurette lead" id="PaintAdvice">

        <h2 class="featurette-heading">Рекомендации</h2>
        <br />
        <h3 class="muted">НАЗНАЧЕНИЕ КРАСОК, ЛАКОВ, ЛЕССИРУЮЩИХ СОСТАВОВ  ДЛЯ ВНУТРЕННИХ РАБОТ</h3>
        <br />
        <p>
            Водные  краски: оштукатуренные поверхности; гипсокартон; кирпич; изделия из  гипса;  прогрунтованный МДФ; ЛИНКРУСТА;  прогрунтованные деревянные поверхности; стеклообои под покраску; прогрунтованный металл и пр.
            Органические краски: окрашенная или прогрунтованная штукатурка; ЛИНКРУСТА; прогрунтованные деревянные поверхности; прогрунтованный металл; прогрунтованный МДФ.
            Лаки, лессирующие составы: деревянные поверхности.
        </p>
                <br />
        <h3 class="muted">ПОДГОТОВКА ПОВЕРХНОСТИ  ПЕРЕД ОКРАШИВАНИЕМ </h3>
        <br />
        <p>Поверхность должна быть ровной, сухой, очищенной от пыли, грязи, плесени и пр. загрязнений. Окрашенные предварительно глянцевыми красками поверхности необходимо предварительно слегка зашкурить.  Новые деревянные и металлические поверхности – прогрунтовать (консультируйтесь со специалистами компании). </p>
                <br />
        <h3 class="muted">ПОДГОТОВКА  КРАСКИ  ПЕРЕД НАНЕСЕНИЕМ</h3>

        <ol class="round">
            <li class="one">Перемешайте краску перед тем, как залить ее в поддон для валика и перед ее разбавлением.</li>
            <li class="two">Если используется грунт, то грунт наносится без разбавления.</li>
            <li class="three">Если Вы работаете с красками самогрунтующимися, то краску  для первого слоя необходимо разбавить.</li>
            <li class="four">Разбавление: водные краски – водой на 10%-20% на 1л. Если ваша краска на органической основе - разбавляйте уайт-спиритом на 5%-10% на 1л.</li>
            <li class="five">Второй слой наносится без разбавления. Для водных красок через 4 часа; для органических красок через         16-24 часа. Полное высыхание поверхности: водные краски-4 часа, органические краски-24 часа.</li>
            <li class="six">Используемый инструмент: кисть, валик, распылитель. </li>
        </ol>
        <h3 class="muted">РЕКОМЕНДАЦИИ  ПО  ЭКСПЛУАТАЦИИ  ПОВЕРХНОСТИ</h3>
    
        <ol class="round">
            <li class="one">Если  часть поверхностей выкрашена, а ремонтные и пр.работы продолжаются, для предохранения от негативного  внешнего воздействия (пыль, брызги, удары и пр. загрязнения) рекомендуется укрывать поверхность маскировочной пленкой.</li>
            <li class="two">Чистка поверхностей, окрашенных водоэмульсионными матовыми красками: сухая чистка мягкой ветошью для удаления осевшей пыли, легких загрязнений. Движение рукой деликатное, без усилий по надавливанию в направлении против «примятости». Влажная уборка не рекомендуется.</li>
            <li class="three">Чистка поверхностей, окрашенных  водоэмульсионными влагостойкими красками: первичную уборку необходимо начать с сухой чистки мягкой тканью для удаления осевшей пыли. Далее для влажной уборки рекомендуется использовать мягкие моющие средства, например, мыльный раствор. Нанесите чистящий раствор на мягкую ветошь и удалите загрязнение (не растирая по всей поверхности). При необходимости процедуру повторить. Для удаления мыльного пятна поверхность рекомендуется  аккуратно промыть водой.</li>
            <li class="four">Запрещено для водных красок использовать щелочные средства, а также средства содержащие абразив.</li>
            <li class="five">Поверхности, окрашенные красками, подлежат мытью не ранее, чем через 7 дней после нанесения последнего слоя.</li>

            <p>Компания не несет  ответственность за нарушение технологии и за возникающие повреждения  поверхности в период эксплуатации.</p>
        </ol>
    <br />
    
        <h3 class="muted">ОБЩИЕ ПОЖЕЛАНИЯ</h3>
        <br />
        <p>
            Обеспылить поверхность: влажная тряпка, влажная кисточка, промышленный пылесос.
Обезжирить поверхность при работе с органическими красками.
При работе с водными красками устранить сквозняк, повысить влажность воздуха, работать в быстром темпе, отключить отопление в зимний период.
Краски  не наносить на влажную поверхность.
Радиаторы  окрашивать в охлажденном виде. 
Температура воздуха  при нанесении красок не должна быть ниже 50 С.
При окрашивании стеклообоев  водоэмульсионная краска разбавлению  не подлежит.
        </p>

            <br />
       <p> По всем возникающим вопросам звоните в компанию @Html.ActionLink("MANDERS", "Contacts", "Home")</p>
        
    </div>
