
<h1 class=" featurette-heading text-right">Новости - News</h1>
<div class="lead hero-unit">
    <h1 class="featurette-heading">Надежда Копаница</h1>
    <span class="label label-warning">8 ноября.</span>
    <h2>Участие Мандерса на выставке "Деревянное домостроительсо"</h2>
    <p>Мастер-класс Надежды Копаницы с использованием английской краски Little Greene на тему : "Символика моего дома" . Декорирование деревянных    поверхностей - смешанная техника декупаж и роспись".</p>
    @*<div id="Nadezhda_Kapanitsa" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#Nadezhda_Kapanitsa" data-slide-to="0" class="active"></li>
            <li data-target="#Nadezhda_Kapanitsa" data-slide-to="1"></li>
            <li data-target="#Nadezhda_Kapanitsa" data-slide-to="2"></li>
            <li data-target="#Nadezhda_Kapanitsa" data-slide-to="3"></li>
            <li data-target="#Nadezhda_Kapanitsa" data-slide-to="4"></li>
            <li data-target="#Nadezhda_Kapanitsa" data-slide-to="5"></li>
            <li data-target="#Nadezhda_Kapanitsa" data-slide-to="6"></li>
            <li data-target="#Nadezhda_Kapanitsa" data-slide-to="7"></li>
            <li data-target="#Nadezhda_Kapanitsa" data-slide-to="8"></li>
            <li data-target="#Nadezhda_Kapanitsa" data-slide-to="9"></li>

        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item text-center">
                <img class="photo" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/1146708_355479481265200_940494675_n.jpg" width="auto" />
            </div>
            <div class="item text-center">
                <img class="photo" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/1391997_355479431265205_1638706184_n.jpg" />
            </div>
            <div class="item text-center">
                <img class="photo" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/1441282_355478587931956_468498958_n.jpg" />
            </div>
            <div class="item text-center">
                <img class="photo" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/1441420_355479014598580_2121577462_n.jpg" />
            </div>
            <div class="item text-center">
                <img class="photo" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/1450748_355479374598544_715077314_n.jpg" />
            </div>


        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#Nadezhda_Kapanitsa" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#Nadezhda_Kapanitsa" data-slide="next">&rsaquo;</a>
    </div>*@
    <hr class="featurette-divider">

    <h1 class="featurette-heading">Анастасия Гетманенко</h1>
    <span class="label label-warning">9 ноября.</span>
    <h2>Участие Мандерса на выставке"Деревянное домостроительств</h2>
    <p>Мастер-класс Анастасии Гетманенко с использованием английской краски Little Greene на тему : "Оформление новогодней игрушки в Кантри стиле. Декорирование деревянных поверхностей – роспись по дереву"</p>
</div>
<hr class="featurette-divider">
<div class="lead hero-unit">
    <h1 class="featurette-heading">Надя Зотова</h1>
    <span class="label label-info">15-16 ноября прошло мероприятие</span>

    <h2>Двухдневный семинар Нади Зотовой</h2>
    <h2 style="color: #40894d">"Создание дома-мечты: теория и практика"!</h2>


    <h3><b>Семинар предназначен:</b></h3>
    <ul>
        <li>для тех, кто хочет создать свой дом мечты, но пока не знает, как это сделать;</li>
        <li>для тех, кто уже начал ремонт, но не представляет, что должно получиться в итоге;</li>
        <li>для тех, кто хочет опробовать свои декораторские способности;</li>
        <li>для начинающих дизайнеров интерьера.</li>
    </ul>
    <p>В ходе семинара мы получили теоретические и практические знания по созданию интерьера дома Вашей (и только Вашей) мечты.</p>
    <span class="label label-important">15 ноября (пятница) с 12:00 до 17:00 1-й семинар:</span>
    <h2 style="color: #40894d">"Создание дома-мечты: от концепции к воплощению"</h2>
    <p>Мы узнали о создании настроения интерьера, поиске вдохновения, адаптации идей к конкретному интерьеру, сочетании стилей и материалов, а также создадли концепцию-коллаж будущего интерьера.</p>
    <span class="label label-important ">16 ноября (суббота) с 12:00 до 17:00 2-й семинар:</span>
    <h2 style="color: #40894d">"Цвета и фактуры в интерьере, теория и практика"</h2>
    <p>Мы узнали о цвете, фактурах, орнаментах... о том, как создать многослойный интерьер, где все это идеально сочеталось бы и, конечно же, воплотите придуманную концепцию с помощью красок, тканей, дерева и других материалов.</p>
    <p>
        Семинар провела Надя Зотова – дизайнер интерьеров, выпускница  <a href="http://britishdesign.ru/">Британской Высшей Школы Дизайна</a>  и  <a href="http://www.sothebysinstitute.com/">Sotheby’s Institute of Art</a>,
        ведущая рубрики "Уроки Дизайна" в журнале <a href="http://www.seasons-project.ru/">Seasons</a>, создатель курса о дизайне интерьеров в <a href="http://www.seasons-project.ru/school/lesson.php?ELEMENT_ID=4204">Школе Seasons</a>. Студия дизайна интерьеров <a href="http://enjoyhome.ru/">Enjoy Home</a>, Москва. Надя прекрасно разбирается в колористике, декоративных материалах и планировании пространства, но самое главное – она умеет сделать любой дом таким, что, уходя из него, вы точно захотите поскорее вернуться обратно.
    </p>
    <p>
        "Спонсор мероприятия:"<a class="" href="@Url.Action("Index", "Home")" title="@ViewBag.Title - Элитные обои, английские краски, английский плинтус: sanderson, william howard, farrow ball, little green | Manders">
            <img itemprop="image" class="brand_img ui-corner-all" src="~/Content/images/Manders_logo.png" />
    </p>
    </a>
</div>
