<style>
    #img-fall_NK img {
        width: 115px;
        height: 95px;
    }
</style>
<h1 class=" featurette-heading text-right">Новости - News</h1>
<div class="lead hero-unit">
    <h1 class="featurette-heading">Надежда Копаница</h1>
    <span class="label label-warning">8 ноября.</span>
    <h2>Участие Мандерса на выставке "Деревянное домостроительсо"</h2>
    <p>Мастер-класс Надежды Копаницы с использованием английской краски Little Greene на тему : "Символика моего дома" . Декорирование деревянных    поверхностей - смешанная техника декупаж и роспись".</p>
    <div id="img-fall_NK">
        <a class="grouped_elements" rel="group1" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/1146708_355479481265200_940494675_n.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/1146708_355479481265200_940494675_n.jpg" width="115" height="95" alt="" /></a>
        <a class="grouped_elements" rel="group1" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/1391997_355479431265205_1638706184_n.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/1391997_355479431265205_1638706184_n.jpg" width="115" height="95" alt="" /></a>
        <a class="grouped_elements" rel="group1" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/1441282_355478587931956_468498958_n.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/1441282_355478587931956_468498958_n.jpg" width="115" height="95" alt="" /></a>
        <a class="grouped_elements" rel="group1" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/1441420_355479014598580_2121577462_n.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/1441420_355479014598580_2121577462_n.jpg" width="115" height="95" alt="" /></a>

        <a class="grouped_elements" rel="group1" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/1450748_355479374598544_715077314_n.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/1450748_355479374598544_715077314_n.jpg" width="115" height="95" alt="" /></a>
        <a class="grouped_elements" rel="group1" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/1452201_355479071265241_634974597_n.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/1452201_355479071265241_634974597_n.jpg" width="115" height="95" alt="" /></a>
        <a class="grouped_elements" rel="group1" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/1470004_355479274598554_1436950914_n.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/1470004_355479274598554_1436950914_n.jpg" width="115" height="95" alt="" /></a>
        <a class="grouped_elements" rel="group1" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/1470302_355478961265252_891971387_n.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/1470302_355478961265252_891971387_n.jpg" width="115" height="95" alt="" /></a>

        <a class="grouped_elements" rel="group1" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/264577_355478424598639_587484503_n.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/264577_355478424598639_587484503_n.jpg" width="115" height="95" alt="" /></a>
        <a class="grouped_elements" rel="group1" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/482436_355479197931895_391245233_n.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/482436_355479197931895_391245233_n.jpg" width="115" height="95" alt="" /></a>
        <a class="grouped_elements" rel="group1" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/644506_355479627931852_1604254683_n.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/644506_355479627931852_1604254683_n.jpg" width="115" height="95" alt="" /></a>
        <a class="grouped_elements" rel="group1" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/945464_355478767931938_899353459_n.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/945464_355478767931938_899353459_n.jpg" width="115" height="95" alt="" /></a>

        <a class="grouped_elements" rel="group1" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/995864_355479527931862_1148622822_n.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Kapanitsa/995864_355479527931862_1148622822_n.jpg" width="115" height="95" alt="" /></a>
    </div>



    <hr class="featurette-divider">

    <h1 class="featurette-heading">Анастасия Гетманенко</h1>
    <span class="label label-warning">9 ноября.</span>
    <h2>Участие Мандерса на выставке"Деревянное домостроительств</h2>
    <p>Мастер-класс Анастасии Гетманенко с использованием английской краски Little Greene на тему : "Оформление новогодней игрушки в Кантри стиле. Декорирование деревянных поверхностей – роспись по дереву"</p>
    <div id="img-fall_AG">
        <a class="grouped_elements" rel="group2" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Anastasiya_Getmanenko/1395134_355483404598141_1282721689_n.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Anastasiya_Getmanenko/1395134_355483404598141_1282721689_n.jpg" width="115" height="95" alt="" /></a>
        <a class="grouped_elements" rel="group2" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Anastasiya_Getmanenko/1395441_355483547931460_1370254305_n.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Anastasiya_Getmanenko/1395441_355483547931460_1370254305_n.jpg" width="115" height="95" alt="" /></a>
        <a class="grouped_elements" rel="group2" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Anastasiya_Getmanenko/1395939_355480374598444_166347941_n.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Anastasiya_Getmanenko/1395939_355480374598444_166347941_n.jpg" width="115" height="95" alt="" /></a>
        <a class="grouped_elements" rel="group2" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Anastasiya_Getmanenko/1441559_355480251265123_1202760921_n.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Anastasiya_Getmanenko/1441559_355480251265123_1202760921_n.jpg" width="115" height="95" alt="" /></a>

        <a class="grouped_elements" rel="group2" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Anastasiya_Getmanenko/1452220_355483644598117_150052282_n.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Anastasiya_Getmanenko/1452220_355483644598117_150052282_n.jpg" width="115" height="95" alt="" /></a>
        <a class="grouped_elements" rel="group2" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Anastasiya_Getmanenko/1453316_355480487931766_2119965977_n.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Anastasiya_Getmanenko/1453316_355480487931766_2119965977_n.jpg" width="115" height="95" alt="" /></a>
        <a class="grouped_elements" rel="group2" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Anastasiya_Getmanenko/1461018_355483457931469_851328888_n.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Anastasiya_Getmanenko/1461018_355483457931469_851328888_n.jpg" width="115" height="95" alt="" /></a>
        <a class="grouped_elements" rel="group2" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Anastasiya_Getmanenko/1463962_355480571265091_149540962_n.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Anastasiya_Getmanenko/1463962_355480571265091_149540962_n.jpg" width="115" height="95" alt="" /></a>

        <a class="grouped_elements" rel="group2" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Anastasiya_Getmanenko/1466123_355480841265064_198195811_n.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Anastasiya_Getmanenko/1466123_355480841265064_198195811_n.jpg" width="115" height="95" alt="" /></a>
        <a class="grouped_elements" rel="group2" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Anastasiya_Getmanenko/1471301_355480324598449_516194342_n.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Anastasiya_Getmanenko/1471301_355480324598449_516194342_n.jpg" width="115" height="95" alt="" /></a>
        <a class="grouped_elements" rel="group2" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Anastasiya_Getmanenko/563967_355480791265069_628986031_n.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Anastasiya_Getmanenko/563967_355480791265069_628986031_n.jpg" width="115" height="95" alt="" /></a>
        
    </div>
</div>
<hr class="featurette-divider">
<div class="lead hero-unit">
    <h1 class="featurette-heading">Надя Зотова</h1>
    <span class="label label-info">15-16 ноября прошло мероприятие</span>

    <h2>Двухдневный семинар Нади Зотовой</h2>
    <h2 style="color: #40894d">"Создание дома-мечты: теория и практика"!</h2>
    <div id="img-gall_NZ">
        <a class="grouped_elements" rel="group3" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0673.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0673.jpg" width="95" height="75" alt="" /></a>
        <a class="grouped_elements" rel="group3" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0674.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0674.jpg" width="95" height="75" alt="" /></a>
        <a class="grouped_elements" rel="group3" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0677.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0677.jpg" width="95" height="75" alt="" /></a>
        <a class="grouped_elements" rel="group3" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0679.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0679.jpg" width="95" height="75" alt="" /></a>

        <a class="grouped_elements" rel="group3" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0685.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0685.jpg" width="95" height="75" alt="" /></a>
        <a class="grouped_elements" rel="group3" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0688.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0688.jpg" width="95" height="75" alt="" /></a>
        <a class="grouped_elements" rel="group3" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0690.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0690.jpg" width="95" height="75" alt="" /></a>
        <a class="grouped_elements" rel="group3" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0698.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0698.jpg" width="95" height="75" alt="" /></a>

        <a class="grouped_elements" rel="group3" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0700.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0700.jpg" width="95" height="75" alt="" /></a>
        <a class="grouped_elements" rel="group3" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0703.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0703.jpg" width="95" height="75" alt="" /></a>
        <a class="grouped_elements" rel="group3" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0708.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0708.jpg" width="95" height="75" alt="" /></a>
        <a class="grouped_elements" rel="group3" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0713.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0713.jpg" width="95" height="75" alt="" /></a>

        <a class="grouped_elements" rel="group3" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0716.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0716.jpg" width="95" height="75" alt="" /></a>
        <a class="grouped_elements" rel="group3" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0719.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0719.jpg" width="95" height="75" alt="" /></a>
        <a class="grouped_elements" rel="group3" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0722.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0722.jpg" width="95" height="75" alt="" /></a>
        <a class="grouped_elements" rel="group3" href="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0729.jpg"><img class="img-polaroid" src="https://googledrive.com/host/0B-XhIa1K6_OiWnBZTlcyZkZaZGc/Nadezhda_Zotova/DSC_0729.jpg" width="95" height="75" alt="" /></a>











    </div>


    <h3><b>Семинар предназначен:</b></h3>
    <ul>
        <li>для тех, кто хочет создать свой дом мечты, но пока не знает, как это сделать;</li>
        <li>для тех, кто уже начал ремонт, но не представляет, что должно получиться в итоге;</li>
        <li>для тех, кто хочет опробовать свои декораторские способности;</li>
        <li>для начинающих дизайнеров интерьера.</li>
    </ul>
    <p>В ходе семинара мы получили теоретические и практические знания по созданию интерьера дома Вашей (и только Вашей) мечты.</p>
    <span class="label label-important">15 ноября (пятница) с 12:00 до 17:00 1-й семинар:</span>
    <h2 style="color: #40894d">"Создание дома-мечты: от концепции к воплощению"</h2>
    <p>Мы узнали о создании настроения интерьера, поиске вдохновения, адаптации идей к конкретному интерьеру, сочетании стилей и материалов, а также создадли концепцию-коллаж будущего интерьера.</p>
    <span class="label label-important ">16 ноября (суббота) с 12:00 до 17:00 2-й семинар:</span>
    <h2 style="color: #40894d">"Цвета и фактуры в интерьере, теория и практика"</h2>
    <p>Мы узнали о цвете, фактурах, орнаментах... о том, как создать многослойный интерьер, где все это идеально сочеталось бы и, конечно же, воплотите придуманную концепцию с помощью красок, тканей, дерева и других материалов.</p>
    <p>
        Семинар провела Надя Зотова – дизайнер интерьеров, выпускница  <a href="http://britishdesign.ru/">Британской Высшей Школы Дизайна</a>  и  <a href="http://www.sothebysinstitute.com/">Sotheby’s Institute of Art</a>,
        ведущая рубрики "Уроки Дизайна" в журнале <a href="http://www.seasons-project.ru/">Seasons</a>, создатель курса о дизайне интерьеров в <a href="http://www.seasons-project.ru/school/lesson.php?ELEMENT_ID=4204">Школе Seasons</a>. Студия дизайна интерьеров <a href="http://enjoyhome.ru/">Enjoy Home</a>, Москва. Надя прекрасно разбирается в колористике, декоративных материалах и планировании пространства, но самое главное – она умеет сделать любой дом таким, что, уходя из него, вы точно захотите поскорее вернуться обратно.
    </p>
    <p>
        "Спонсор мероприятия:"<a class="" href="@Url.Action("Index", "Home")" title="@ViewBag.Title - Элитные обои, английские краски, английский плинтус: sanderson, william howard, farrow ball, little green | Manders">
            <img itemprop="image" class="brand_img ui-corner-all" src="~/Content/images/Manders_logo.png" />
    </p>
    </a>
</div>


