<div class="featurette lead" id="LittleGreeneAdvice">
   <h2 class="featurette-heading">Рекомендации <span class="muted"> LITTLE GREENE</span></h2>
   <hr class="featurette-divider">
<h2 class="featurette-heading">НАЗНАЧЕНИЕ</h2>
<p>Высокоукрывистая водная и масляная краска с низким уровнем запаха. </p>
<p>*Конечный вид и матовость краска может принимать в течение 7 дней после нанесения, в зависимости от толщины пленки и условий высыхания.</p>
    <hr class="featurette-divider">
<h2 class="featurette-heading">СТАНДАРТЫ И ПОДТВЕРЖДЕНИЯ</h2>
<p>Производится под покровительством стандарта качества ISO9001:2008 и системы экологического менеджмента ISO 14001:2004.</p>
<p>BS EN 71-3:1995 (BS 5665-3^1995) Безопасность для детей. Спецификация по цирклуляции некоторых элементов. (Сертификат испытаний предоставляется по запросу)</p>
<p>2004/42/EC EU устанавливает лимит объема ЛОС для этого продукта (cat.A/awb): 30 гр/л (2010г.). Этот продукт содержит ЛОС максимум 2гр/л </p>
    <hr class="featurette-divider">
<h2 class="featurette-heading">ПОДГОТОВКА ПОВЕРХНОСТИ</h2>
<h3 class="muted">Свежее дерево</h3>
<p>Для мягких пород древесины, сучки должны быть прогрунтованы составом для заделки сучков для избежания выхода смолы, а затем прогрунтованы грунтовкой Little Greene Traditional Oil Primer Undercoat или Little Greene Acrylic Primer Undercoat. Смолистые твердые породы дерева требуют зачистки и пропитки с применением Little Greene Aluminium Wood Primer (обратитесь к соответствующим техническим данным за подробностями) перед грунтовкой.</p>
<p></p>Перед началом покраски убедитесь, что содержание влаги в древесине ниже 15%. Влажная древесина нельзя красить, так как это может привести к отторжению краски, шелушению, растрескиванию и преждевременному ремонту.<p />
<p>Дуб не следует красить, если после обработки прошло менее 6 месяцев.</p>

<h3 class="muted">Металлы</h3>
<p>Некрашеные ранее черные металлы необходимо вручную или механически очистить и удалить ржавый налет перед нанесением Little Greene Traditional Oil Primer Undercoat. Цветные металлы должны быть сначала протравлены или прогрунтованы с применением грунтовки специального назначения.</p>
<h3 class="muted">Существующая покраска</h3>
<p>Удалите рыхлую и шелушащуюся старую краску. Очистите от грязи с помощью специального раствора, такого как сахарное мыло. Зачистите среднезернистой наждачной бумагой, чтобы создать ровную свободную от дефектов поверхность, зачищая в сторону участков, где краска была удалена полностью. Качественно зашпаклюйте, зашкурьте и нанесите грунт на обнаженную поверхность. </p>

<h3 class="muted">Пластмасса</h3>
<p>Для длительного срока службы очистите и немного зашкурьте поверхность. Прогрунтуйте с использованием соответствующей грунтовки для нанесения на пластик перед нанесением финишной краски.</p>

<h3 class="muted">Свежая штукатурка</h3>
<p>Для высыхания верхнего слоя штукатурки должно пройти минимум 4 недели до полного высыхания. Нанесите грунтующий слой разбавлением краски на 5-25% чистой водой, исходя из пористости поверхности. Добавьте тем же растровом промежуточный слой кистью. Закончите покраску нанесением 2 слоев.</p>
<p>Для новых монолитных бетонных домов штукатурке необходимо дать не менее 6 месяцев для полного высыхания.</p>

<h3 class="muted">Существующая штукатурка</h3>
<p>Немного промойте существующую покраску для удаления цементного молока. Нанесите грунтовку разбавлением ее от 0 до 25% чистой водой, в зависимости от пористости поверхности. Закончите покраску нанесением как минимум одного слоя.</p>
<p>Если требуется серьезное контрастное обновление цвета стен, особо рекомендуется грунтовать грунтовкой Little Greene Acrylic Primer Undercoat.</p>
<p>Эту краску не рекомендуется наносить поверх известковой краски, известковой штукатурки или иных натуральных штукатурок. </p>
    <hr class="featurette-divider">
<h2 class="featurette-heading">НАНЕСЕНИЕ</h2>
<p>Тщательно перемешайте продукт перед нанесением. Не наносите на поверхности, когда окружающая температура ниже 5ОС.</p>
<h3 class="muted">Нанесение кистью</h3>
<p>Используйте высококачественную кисть с синтетической щетиной с шириной, необходимой для вашей решения вашей задачи. Свежие кисти должны быть сначала промыты чистой водой и полностью высушены чистой, безворсовой тканью.</p>
<p>Избегайте глубокого погружения кисти в краску, чтобы краска не попала на зажимающую щетину муфту кисти. Избегайте капания и брызгов незначительным намачиванием кисти краской. Наносите краску ровными мазками и плавно расширяйте область покраски, поддерживая край области покраски мокрым. Для наиболее выдающегося результата сохраняйте заданное направление движения кисти и старайтесь никогда не залезать на краску, начавшую подсыхать.</p>
<p>Для сложных элементов, или когда невозможно избежать высокой температуры окружающего воздуха или нельзя избежать сильного сквозняка, время схватывания краски может быть увеличено добавлением 10-15% водорастворимой добавки для этих целей. Эта рекомендация также годится при покраске больших площадей. Однако в этом случае уместно наносить краску валиком. </p>

<h3 class="muted">Нанесение валиком</h3>
<p>Используйте шерстяной валик с коротким ворсом для наилучшего результата на гладкой поверхности. Валик с более длинным ворсом годится для текстурированных поверхностей для ровного и тщательногопокрытия. Сохраняйте заданное направление движения валика, поддерживая край области покраски мокрым. Не поддавайтесь искушению прокрасить уже подсохнувшую поверхность, так как это может привести к заметному пятну и блеску. При высоких температурах окружающего воздуха или сильном сквозняке, время схватывания краски может быть увеличено добавлением 10-15% водорастворимой добавки для этих целей.</p>

<h3 class="muted">Нанесение распылителем</h3>
<table class="table table-striped table-hover">
<thead>
    <tr>
        <th colspan="2">Воздушный</th><th colspan="2">Безвоздушный</th>
    </tr>
    </thead>
    <tbody>
        <tr><td>Разбавление</td><td>40% водой</td><td>Разбавление</td><td>20% водой</td></tr>
<tr><td>Диаметр наконечника</td><td>От 1.60 до 2.00 мм (от 62 до 78 thou)</td><td>Диаметр наконечника</td><td>От 0.28 до 0.54 мм (от 11 до 21 thou)</td></tr>
<tr><td>Давление воздуха</td><td>От 0.28 до 0.41 Мпа (от 40 до 60 psi)</td><td>Давление на наконечнике</td><td>	От 12.6 до 19.6 Мпа (от 1800 до 2800 psi)</td></tr>
        </tbody>
</table>
    <hr class="featurette-divider">
<h2 class="featurette-heading">ОЧИСТКА</h2>
<p>Удалите излишки краски  и очистите оборудование чистой водой незамедлительно после использования. Никогда не оставляйте кисти и валики в воде так как это может привести ухудшению их кроющей способности.</p>

<h2 class="featurette-heading">ХРАНЕНИЕ И СРОК ГОДНОСТИ</h2>
<p>Храните неиспользуемую краску в прохладном, сухом, не замерзающем месте и вдали от прямых солнечных лучей. Убедитесь, что банки надежно и правильно закрыты крышками после использования краски. Герметично закрытая краска при соблюдении условий, описанных выше, хранится минимум два года.</p>
    <hr class="featurette-divider">
<h2 class="featurette-heading"> УХОД ЗА КРАСКОЙ</h2>
<h3 class="muted"> Чистка:</h3>
<p>Для легких загрязнений: используйте разбавленный теплый раствор домашней жидкости для мытья посуды и чистую губку или безворсовую ткань. Убедитесь, что губка или ткань хорошо смочены (но с них не капает), осторожно протрите загрязненный участок и повторите, если потребуется.</p>
<p>Для предотвращения более сложной уборки, проветривайте ваше помещения во время таких действий, как готовка на кухне. Пыль, образующаяся при мелком ремонте, желательно собирать у источника, либо сразу убирать пылесосом.</p>
<p>Чтобы защитить стены от царапин при уборке пылесосом, используйте наконечник с мягкой щеточкой.</p>

<h3 class="muted">Ремонт:</h3>
<p>Немного зачистите поверхность, которую собираетесь обновить. Нанесите подходящий грунт. Нанесите один или два слоя краски. Точечная покраска может в конечном итоге повлиять на ухудшении эстетического восприятия интерьера.</p>
    <hr class="featurette-divider">
<h2 class="featurette-heading">УТИЛИЗАЦИЯ</h2>
<p>Утилизируйте остатки краски в лицензированных пунктах приема. Пустая жестяная тара может быть утилизирована. Для этого снимите пластикое ручки с банок 2,5 и 5л</p>
    <hr class="featurette-divider">
<h2 class="featurette-heading">МЕРЫ БЕЗОПАСНОСТИ</h2>
<p>Всегда следуйте инструкции, прилагаемой на банке. Во время высыхания обеспечьте помещение хорошей вентиляцией. Обратитесь к листу безопасности за дополнительными сведениями.</p>
    <hr class="featurette-divider">
<h2 class="featurette-heading">ОТКАЗ</h2>
<p>Информация, приведенная в этих технических данных является достоверной, основанной на нашем опыте и знаниях. Компания оставляет за собой право вносить изменения в технические данные, без уведомления. Предоставленная информация не освобождает пользователя от ответственности при выполнении им собственных испытаний и экспериментов, так как не подразумевает под собой юридического обязательства в виде гарантии определенных свойств или пригодности для какой-либо конкретной цели. </p>
</div>
