@{
    ViewBag.Title = "Краска & Люкс обои Little Greene на manders.com.ua";
}

<script type="text/javascript">
    $(function () {
        $(".tabs_LG").tabs();
    });

    var opt = {
        autoOpen: true,
        maxHeight: 400,
        maxWidth: 700,
        minHeight: 300,
        minWidth: 600,
        show: {
            effect: "blind",
            duration: 1000
        },
        hide: {
            effect: "scale",
            duration: 1000
        }
    };
    $(function () {
        $(".btn_open").click(function () {
            $("#" + this.id.substr(2)).dialog(opt);

        });


    });
</script>

<style type="text/css">
    table.main {
    }

    tr.row {
    }

    td.cell {
    }

    div.block {
    }

    div.paragraph {
    }

    .font0 {
        font: 5pt Arial Unicode MS, sans-serif;
    }

    .font1 {
        font: 7pt Arial Unicode MS, sans-serif;
    }

    .font2 {
        font: 8pt Arial Unicode MS, sans-serif;
    }

    .font3 {
        font: 9pt Arial Unicode MS, sans-serif;
    }

    .font4 {
        font: 10pt Arial Unicode MS, sans-serif;
    }

    .font5 {
        font: 11pt Arial Unicode MS, sans-serif;
    }

    .font6 {
        font: 16pt Arial Unicode MS, sans-serif;
    }

    .font7 {
        font: 19pt Arial Unicode MS, sans-serif;
    }

    .font8 {
        font: 5pt Consolas, monospace;
    }

    .font9 {
        font: 6pt Consolas, monospace;
    }

    .font10 {
        font: 12pt Consolas, monospace;
    }

    .font11 {
        font: 6pt Georgia, serif;
    }

    .font12 {
        font: 25pt Georgia, serif;
        text-align: right;
        margin: 4px;
    }

    .font13 {
        font: 11pt Sylfaen, serif;
    }

    .font14 {
        font: 12pt Sylfaen, serif;
    }

    .font15 {
        font: 15pt Sylfaen, serif;
    }

    html > /**/ body .button_li li {
        list-style-type: none;
        margin: 5px;
    }

    .div_img {
        height: auto;
        margin: 4px;
    }

    button.btn_open {
        width: auto;
    }

    a.btn {
        float: left;
        padding: 5px;
        background-color: #D3DCE0;
    }

    table.table_modern {
        text-align: center;
    }

    .table_modern td, tr {
        border: 1px solid;
    }
</style>

<h2 class="font12">Little Greene</h2>
<div class="ui-helper-clearfix ui-widget-contrnt">
</div>
 
<div class="tabs_LG">
    <ul>
                <li class="li_LG"><a class="btn ui-corner-all" href="#wallpaper">
            <h3>Выбираем обои</h3>
        </a></li>

        <li class="li_LG"><a class="btn ui-corner-all" href="#wallpaperXVIII">
            <h3>Обои XVIII века</h3>
        </a></li>
        <li class="li_LG"><a class="btn ui-corner-all" href="#wallpaperXIX">
            <h3>Обои XIX века</h3>
        </a></li>
        <li class="li_LG"><a class="btn ui-corner-all" href="#wallpaperXX">
            <h3>Обои XX века</h3>
        </a></li>
    </ul>
    <div id="wallpaper">
        Выбираем обои

Каждая коллекция совмещает труд специалистов и традиционный метод производства на бумаге высшего сорта. Флексография, глубокая и поверхностная печать с одновременным использованием традиционной бумаги и бумаги на нетканой основе – флизелине – позволяют достичь наивысшей подлинности. Мы используем только водные чернила наивысшего качества, чтобы придать обоям утонченную текстуру, глубину цвета, изящный внешний вид и долговечность. Все обои могут подвергаться деликатной чистке, а некоторые – мытью.
Ко всем обоям мы рекомендуем цвета красок из нашей палитры ‘Colours of England’, чтобы Вам было проще и удобнее создать антураж Вашего дома.
    </div>
   <div id=""> Расчет количества обоев
Чтобы рассчитать количество рулонов, необходимых для оклеивания, обратитесь к помощи декоратора или мастеру, который будет осуществлять работы. Вы также можете воспользоваться нашим онлайн-калькулятором на нашем сайте www.littlegreene.com.
Все обои имеют ширину 52см и длину 10м. Минимальный заказ – от одного рулона.
       </div>
    <div id="">
Обойный клей Little Greene
Для инсталляции обоев Little Greene необходимо использовать готовый к нанесению обойный клей Little Greene Ready Mixed Wallpaper Paste. Специально разработанный для наших обоев клей расфасован в ведрах по 5кг и 2,5кг. Одного ведра 2,5кг хватает до 3 стандартных рулонов.
        </div>
    <div id="">
Образцы обоев
Помочь сделать правильный выбор помогут оригинальные образцы обоев формата А4, доступные во всех дизайнах и цветовых комбинациях. Вы можете заказать до 6 образцов обоев из различных коллекций у ближайшего продавца, либо на сайте www.littlegreene.com
</div>
    </div>
