<hr class="featurette-divider">


<div >
    <h1 class="featurette-heading">Вас приветствует компания Little Greene</h1>
    <h2 class="featurette-heading, muted">Краски...</h2>
    <a name="BackToMenu"></a>
    <hr class="featurette-divider">
    <ul class="menuProduct" style="width: 450px;">

        <li  ><a class="btn ui-corner-all" href="#colors_check" title="Выбираем цвета">
            Выбираем цвета
        </a></li>
        <li  ><a class="btn ui-corner-all" href="#paint_for_ceiling_wall" title="Краски для стен и потолков ">
             Краски для стен и потолков 
        </a></li>
        <li  ><a class="btn ui-corner-all" href="#paint_for_kitchen_bathroom" title="Краски для кухни и ванной комнаты">
             Краски для кухни и ванной комнаты 
        </a></li>
        <li  ><a class="btn ui-corner-all" href="#paints_for_wood_products" title="Краски для изделий из дерева">
             Краски для изделий из дерева 
        </a></li>
        <li  ><a class="btn ui-corner-all" href="#paint_for_outdoor_use" title="Краски для наружных работ">
             Краски для наружных работ 
        </a></li>
        <li  ><a class="btn ui-corner-all" href="#traditional_paint" title="Традиционные краски  ">
             Традиционные краски  
        </a></li>
        <li  ><a class="btn ui-corner-all" href="#primers" title="Грунтовки">
             Грунтовки  
        </a></li>
        <li  ><a class="btn ui-corner-all" href="#smart_paint" title="и руководство по использованию ">
             «Умные краски» 
        </a></li>


    </ul>
    <h2 class="featurette-heading">Выбираем цвета</h2>
    <div id="colors_check" class="lead">
        
        <a href="#myOrigcollrg" role="button" class="btn featurette-image pull-right ui-corner-all" data-toggle="modal" ><img src="~/Content/images/LG/paints/origcollrg.jpg" width="300"/></a>

<div id="myOrigcollrg" class="modal hide fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" style="display: none; width: 1024px;">
<div class="modal-header">
<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
<h3 id="myModalLabel">Таблица цветов</h3>
</div>
<div class="modal-body">
    <img src="~/Content/images/LG/paints/origcollrg.jpg" />
</div>
<div class="modal-footer">
<button data-dismiss="modal" class="btn">Закрыть</button>
</div>
</div>
        <p>Несмотря на сложность в выборе цвета, сам процесс может и должен приносить удовольствие. При выборе цвета нужно иметь в виду, что цвет краски должен определяться исходя из имеющихся цветов в интерьере и условий освещения. </p>
        <p>Наша классическая и современная палитра предлагает Вам нужное количество цветов для правильного выбора вне зависимости от стиля вашего интерьера.</p>

        <p>Выкрашенные вручную цветовые раскладки</p>
        <p>Палитры цветов Англии ‘Colour of England’ и цветная шкала ‘Colour Scales’ имеют 164 цвета, отличающиеся инновационными парящими цветными образцами. Просто согните цветовую раскладку вдоль и высвободите выкрашенный вручную образец цвета – теперь можно видеть его без белого фона.</p>

        <h3  class="muted">Пробники</h3>
        <p>Все наши цвета доступны в маленьких 60мл пробниках краски Absolute Matt и в более крупных пробниках объемом 250мл, если требуется выкрасить большую площадь. В отличие от многих других производителей Little Greene также производит все свои краски в таре объемом 1 литр.</p>

        <p>Профессиональные альбомы цвета</p>
        <p>Бесценный инструмент для серьезного декоратора и дизайнера, собравший в себя все цвета палитр ‘Colours of England’ и ‘Colour Scales’, выкрашенных на листах формата А5 вручную.</p>

        <h3  class="muted">Дощечки</h3>
        <p>В салонах наших дилеров Вы можете воспользоваться выкрашенными вручную дощечками, идеально передающими истинное представление о цвете и позволяющие Вам сравнивать их друг с другом, помогая выбрать нужный цвет. </p>

        <p>Для окончательного выбора нанесите содержимое пробника на одну или две стены в комнате. Понаблюдайте, как меняется цвет по мере изменения естественного освещения в течение дня и как он выглядит в вечернее время при искусственном освещении.</p>
    </div>
    <hr class="featurette-divider">

    <div id="paint_for_ceiling_wall" class="lead">
        <h2 class="featurette-heading">Краски для стен и потолков</h2>

        <p>Экологически чистые водные краски Little Greene обладают высочайшей кроющей способностью, что позволяет ограничиться меньшим количеством более тонких слоев, без подтеков и наплывов на углах. Все эти краски практически не имеют запаха и сохнут в течение двух часов на отлип.</p>
        <h3  class="muted">Intelligent Matt Emulsion (на водной основе)</h3>
        <p>Одна из самых экологически чистых красок разработана специально, чтобы обеспечить выдающиеся характеристики и непревзойденную глубину цвета. На 100% состоящая из акрила химическая формула краски противостоит загрязнению на поверхности. При этом обеспечивается исключительная стойкость к мытью, которая в среднем в 15 раз выше, чем у обычных матовых водоэмульсионных красок. Это лучший выбор для помещений с большой интенсивностью эксплуатации, включая коридоры, кухни, ванные и детские комнаты.</p>
        <ul class="unstyled">
            <li>Доступна во всех цветах</li>
            <li>В 15 раз прочнее, чем обычная матовая водная краска </li>
            <li>Универсальность использования - подходит для стен, плинтуса и радиаторных батарей </li>
            <li>Стойкая к мытью </li>
            <li>Экологически чистая - не содержит органических растворителей. </li>
        </ul>
        <h3  class="muted">Absolute Matt Emulsion (на водной основе) </h3>
        <p>Известная своей меловой поверхностью, которая поддерживается высокой пигментацией и высоким качеством использованных компонентов. Идеальна для использования в спальне, гостиной, рабочем кабинете или там, те желателен классический, абсолютно матовый внешний вид краски. </p>
        <ul class="unstyled">
            <li>Доступна в пробниках </li>
            <li>Доступна во всех цветах </li>
            <li>Пригодна для большинства поверхностей, включая стены, потолки, лепнину, обои под покраску </li>
            <li>Деликатная чистка </li>
            <li>Экологически чистая - не содержит органических растворителей. </li>
        </ul>
        <h3  class="muted">Satin Emulsion     (на водной основе) </h3>
        <p>Со всеми достоинствами матовой фаски Absolute Matt Emulsion, но с элегантным блеском. </p>
        <ul class="unstyled">
            <li>Доступна во всех цветах </li>
            <li>Пригодна для большинства поверхностей, включая стены, потолки, лепнину, обои под покраску </li>
            <li>Стойкая к мытью </li>
            <li>Экологически чистая — не содержит органических растворителей. </li>

        </ul>
        <div class="featurette">
            <table class="table table-striped table-hover">
                <thead>
                     <tr>
                    <th>Техническая информация  
                    </th>
                    <th>Intelligent Matt Emulsion  
                    </th>
                    <th>Absolute Matt Emulsion  
                    </th>
                    <th>Satin Emulsion  
                    </th>
                </tr>
                </thead>
                <tbody>
                    
               
                <tr>
                    <td>Расход, м2/л  
                    </td>
                    <td>13  
                    </td>
                    <td>14  
                    </td>
                    <td>14  
                    </td>
                </tr>
                <tr>
                    <td>Степень блеска, %  
                    </td>
                    <td>Матовая (5%)  
                    </td>
                    <td>Абсолютно матовая (3%)  
                    </td>
                    <td>Полуматовая (20%)  
                    </td>
                </tr>
                <tr>
                    <td>Стойкость к мытью  
                    </td>
                    <td>Чистка губкой  
                    </td>
                    <td>Деликатная чистка  
                    </td>
                    <td>Влажная уборка  
                    </td>
                </tr>
                <tr>
                    <td>Содержание ЛСЮ, %  
                    </td>
                    <td>Менее 0,1%  
                    </td>
                    <td>Менее 0,1%  
                    </td>
                    <td>Менее 0,1%  
                    </td>
                </tr>
                    </tbody>
            </table>
        </div>
    </div>
    <hr class="featurette-divider">

    <div id="paint_for_kitchen_bathroom" class="lead">
        <h2 class="featurette-heading">Краски для кухни и ванной комнаты</h2>
        <p>Краски Little Greene Intelligent Matt и Intelligent Eggshell являются наилучшим выбором для кухни и ванной комнаты. Специально разработанные, чтобы противостоять сырости и образованию загрязнений на поверхности, они настолько износоустойчивы, что их трудно повредить. Идеально подходят для целого ряда поверхностей, которым предстоит выдержать испытания современного образа жизни.</p>
        <h3  class="muted">Intelligent Matt Emulsion (на водной основе)</h3>
        <p>Одна из самых экологически чистых красок разработана специально, чтобы обеспечить выдающиеся характеристики и непревзойденную глубину цвета. На 100% состоящая из акрила химическая формула краски противостоит загрязнению на поверхности. При этом обеспечивается исключительная стойкость к мытью, которая в среднем в 15 раз выше, чем у обычных матовых водоэмульсионных красок. Это лучший выбор для помещений с большой интенсивностью эксплуатации, включая коридоры, кухни, ванные и детские комнаты.</p>
        <ul class="unstyled">
            <li>Доступна во всех цветах</li>
            <li>В 15 раз прочнее, чем обычная матовая водная краска</li>
            <li>Универсальность использования - подходит для стен, плинтуса и радиаторных батарей</li>
            <li>Стойкая к мытью</li>
            <li>Экологически чистая - не содержит органических растворителей.</li>
        </ul>
        <h3  class="muted">Intelligent Eggshell (на водной основе)</h3>
        <p>Краска с умеренной степенью блеска и исключительной долговечностью. Пригодна для различных поверхностей. Она специально разработана, чтобы противостоять сырости и образованию загрязнений на поверхности.</p>
        <ul class="unstyled">
            <li>Доступна во всех цветах </li>
            <li>Пригодна для большинства поверхностей, включая стены, прогрунтованные столярные изделия из дерева и металла, в т.ч. радиаторы и трубы </li>
            <li>Полностью стойкая к мытью </li>
            <li>Практически не имеет запаха во время нанесения и сохнет 2-4 часа </li>
            <li>Экологически чистая - не содержит органических растворителей. </li>
        </ul>
        <div class="featurette">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Техническая информация</th>
                    <th>Intelligent Matt Emulsion</th>
                    <th>Intelligent Eggshell</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Расход, м2/л </td>
                    <td>13 </td>
                    <td>14 </td>
                </tr>
                <tr>
                    <td>Степень блеска, % </td>
                    <td>Матовая (5%) </td>
                    <td>Полуматовая (20%) </td>
                </tr>
                <tr>
                    <td>Стойкость к мытью </td>
                    <td>Чистка губкой </td>
                    <td>Влажная уборка </td>
                </tr>
                <tr>
                    <td>Содержание ЛОС, % </td>
                    <td>Менее 0,1% </td>
                    <td>Менее 0,1% </td>
                </tr>
                    </tbody>
            </table>
        </div>
    </div>
    <hr class="featurette-divider">

    <div id="paints_for_wood_products" class="lead">
        <h2 class="featurette-heading">Краски для изделий из дерева</h2>
        <p>Для столярных изделий из дерева Вы можете выбрать полуматовые и глянцевые краски. Если требуется быстрое высыхание, низкий уровень запаха и экологическая чистота используйте краски на водной основе. С этими красками вы можете быть уверены в исключительном результате – качестве, простоте нанесения и долговечности. </p>
        <br />
                <h3  class="muted">Intelligent Eggshell (на водной основе) </h3>
            <p>Краска с умеренной степенью блеска и исключительной долговечностью. Пригодна для различных поверхностей. Она специально разработана, чтобы противостоять сырости и образованию загрязнений на поверхности.</p>
            <ul class="unstyled">
                <li>Доступна во всех цветах </li>
                <li>Пригодна для большинства поверхностей, включая стены, прогрунтованные столярные изделия из дерева и металла, в т.ч. радиаторы и трубы </li>
                <li>Полностью стойкая к мытью </li>
                <li>Практически не имеет запаха во время нанесения и сохнет 2-4 часа </li>
                <li>Экологически чистая - не содержит органических растворителей. </li>
            </ul>
            <br />
                <h3  class="muted">Acrylic Gloss (на водной основе) </h3>
                <p>Износоустойчивая и полностью стойкая к мытью краска с глянцевым блеском. Экологически чистая и практичная альтернатива масляной глянцевой краске для внутреннего и наружного применения. </p>
                <ul class="unstyled">
                    <li>Доступна во всех цветах </li>
                    <li>Пригодна для оштукатуренных стен и прогрунтованных изделий из дерева и металла. </li>
                    <li>Полностью стойкая к мытью </li>
                    <li>Практически не имеет запаха во время нанесения и сохнет 2-4 часа </li>
                    <li>Экологически чистая - не содержит органических растворителей. </li>
                </ul>
            <br />


            
                <h3  class="muted">Traditional Oil Eggshell (на масляной основе) </h3>
                <p>Традиционная масляная краска с низким уровнем запаха и пониженным содержанием ЛОC. Малой степени блеска достаточно, чтобы противостоять сырости и образованию загрязнений. Идеальна для столярных изделий из дерева и металла. Лучшее решение для окрашиваемых поверхностей в ванной комнате и на кухне. </p>
                <ul class="unstyled">
                    <li>Доступна во всех цветах </li>
                    <li>Пригодна для большинства поверхностей, включая стены, прогрунтованные столярные изделия из дерева и металла, в т.ч. радиаторы и трубы </li>
                    <li>Полностью стойкая к мытью </li>
                </ul>
            <br />
                <h3  class="muted">Traditional Oil Gloss (на масляной основе) </h3>
                <p>Традиционная масляная краска с пониженным содержанием ЛОС и низким уровнем запаха. Максимальная долговечность дополняется классическим глянцевым внешним видом. </p>
                <ul class="unstyled">
                    <li>Доступна во всех цветах </li>
                    <li>Пригодна для любых прогрунтованных изделий из дерева и металла </li>
                    <li>Полностью стойкая к мытью </li>
                </ul>
            <br />

        
        <div class="featurette">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <td>
                        <p>Техническая информация </p>
                    </td>
                    <td>
                        <p>Intelligent Eggshell </p>
                    </td>
                    <td>
                        <p>Acrylic Gloss </p>
                    </td>
                    <td>
                        <p>Traditional Oil Eggshell </p>
                    </td>
                    <td>
                        <p>Traditional Oil Gloss </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Расход, м2/л </p>
                    </td>
                    <td>
                        <p>14 </p>
                    </td>
                    <td>
                        <p>14 </p>
                    </td>
                    <td>
                        <p>16 </p>
                    </td>
                    <td>
                        <p>16 </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Степень блеска, % </p>
                    </td>
                    <td>
                        <p>Полуматовая (20%) </p>
                    </td>
                    <td>
                        <p>Глянцевая (75%) </p>
                    </td>
                    <td>
                        <p>Полуматовая (20%) </p>
                    </td>
                    <td>
                        <p>Глянцевая (85%) </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Стойкость к мытью </p>
                    </td>
                    <td>
                        <p>Влажная уборка </p>
                    </td>
                    <td>
                        <p>Влажная уборка </p>
                    </td>
                    <td>
                        <p>Влажная уборка </p>
                    </td>
                    <td>
                        <p>Влажная уборка </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Содержание ЛОС, % </p>
                    </td>
                    <td>
                        <p>Менее 0,1% </p>
                    </td>
                    <td>
                        <p>Менее 0,1% </p>
                    </td>
                    <td>
                        <p>Менее 20% </p>
                    </td>
                    <td>
                        <p>Менее 28% </p>
                    </td>
                </tr>
                    </tbody>
            </table>
        </div>
    </div>
    <hr class="featurette-divider">
    
    <div id="paint_for_outdoor_use" class="lead">
      <h2 class="featurette-heading">  Краски для наружных работ</h3>
<p>Эти краски разработаны для того, чтобы быть пригодными для наружных работ и они прошли соответствующее испытание временем, не требуя обновления на протяжении многих лет. Эти краски легко наносить и они обладают превосходной кроющей способностью, что делает работу легкой.</p>

<h3  class="muted"> Masonry Paint (на водной основе) </h3>
<p>Высокоэффективная краска на 100% состоящая из акрила с матовым блеском и лучшими характеристиками для покраски камня, кирпичной кладки и бетонной поверхности. </p>
<ul class="unstyled">
<li > Доступна во всех цветах </li>
<li > Гарантированная стойкость - 15 лет </li>
<li > Препятствует росту грибка и плесени </li>
<li > Полностью стойкая к любой погоде </li>
<li > Сохнет в течение 3-6 часов </li>
<li > Экологически чистая - не содержит органических растворителей. </li>
</ul>
<h3  class="muted" >Traditional Oil Eggshell (oliebasis) </h3>
<p >Традиционная масляная краска с низким уровнем запаха и пониженным содержанием ЛОС. Малой степени блеска достаточно, чтобы противостоять сырости и образованию загрязнений. Идеальна для столярных изделий из дерева и металла. Лучшее решение для окрашиваемых поверхностей в ванной комнате и на кухне. </p>
<ul class="unstyled">
<li > Доступна во всех цветах </li>
<li > Пригодна для большинства поверхностей, включая стены, прогрунтованные столярные изделия из дерева и металла, в т.ч. радиаторы и трубы </li>
<li > Полностью стойкая к мытью </li>
        </ul>
<h3  class="muted"> Traditional Oil Gloss (oliebasis) </h3>
<p>Традиционная масляная краска с пониженным содержанием ЛОС и низким уровнем запаха. Максимальная долговечность дополняется классическим глянцевым внешним видом. </p>
<ul class="unstyled">
<li > Доступна во всех цветах </li>
<li > Пригодна для любых прогрунтованных изделий из дерева и металла </li>
<li > Полностью стойкая к мытью </li>
</ul>
        <div class="featurette">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <td>
                        <p>Техническая информация </p>
                    </td>
                    <td>
                        <p>Masonry Paint </p>
                    </td>
                    <td>
                        <p>Traditional Oil Eggshell </p>
                    </td>
                    <td>
                        <p>Traditional Oil Gloss </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Расход, м2/л </p>
                    </td>
                    <td>
                        <p>13 </p>
                    </td>
                    <td>
                        <p>16 </p>
                    </td>
                    <td>
                        <p>16 </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Степень блеска, % </p>
                    </td>
                    <td>
                        <p>Матовая (5%) </p>
                    </td>
                    <td>
                        <p>Полуматовая (20%) </p>
                    </td>
                    <td>
                        <p>Высокоглянцевая (85%) </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>| Стойкость к мытью </p>
                    </td>
                    <td>
                        <p>Влажная уборка </p>
                    </td>
                    <td>
                        <p>Влажная уборка </p>
                    </td>
                    <td>
                        <p>Влажная уборка </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Содержание ЛОС, % </p>
                    </td>
                    <td>
                        <p>Менее 0,1% </p>
                    </td>
                    <td>
                        <p>Менее 20% </p>
                    </td>
                    <td>
                        <p>Менее 28% </p>
                    </td>
                </tr>
                    </tbody>
            </table>
            </div>
    </div>
    <hr class="featurette-divider">

    <div id="traditional_paint" class="lead">
        <h2 class="featurette-heading">ТРАДИЦИОННЫЕ КРАСКИ</h3>
        <p>В случаях, когда требуется использование традиционных красок или для тех, кто предпочитает историческую подлинность, здесь представлены фаски, которые были разработаны с использованием традиционных и природных материалов, таких как льняное масло, глина и известь. </p>
        <h3  class="muted">Distemper (на водной основе)</h3>
        <p>Эта традиционная фаска для стен внутри помещения производится с использованием мела и льняного масла. После нанесения образует очень нежный матовый блеск.</p>
        <ul class="unstyled">
            <li>Доступна в 73 светлых цветах </li>
            <li>Производится на заказ </li>
            <li>Пригодна для стен, потолков и лепного декора (только для внутренних работ) </li>
            <li>Готовая к разведению </li>
            <li>Допускает только деликатную чистку </li>
            <li>Экологически чистая - не содержит органических растворителей. </li>
        </ul>
        <h3  class="muted">Limewash (на водной основе) </h3>
        <p>Традиционная защитная матовая краска для наружных работ, производимая из гашеной извести и готовая к разведению и последующему нанесению. </p>
        <ul class="unstyled">
            <li>Доступна в 73 светлых цветах </li>
            <li>Производится на заказ </li>
            <li>Пригодная для наружного использования поверх известковой штукатурки или обмазки </li>
            <li>Экологически чистая - не содержит органических растворителей. </li>
        </ul>
        <h3  class="muted">Floor Paint (на масляной основе) </h3>
        <p>Уникальная краска для пола с пониженным уровнем запаха и простотой в нанесении и уходе, с непревзойденной долговечностью. Является великолепным выбором благодаря превосходной стойкости к истиранию и бытовым жидкостям. </p>
        <ul class="unstyled">
            <li>Доступна во всех цветах </li>
            <li>Практичный средний блеск </li>
            <li>Пригодна для деревянного и бетонного пола, металлических прогрунтованных конструкций внутри помещения </li>
            <li>Полностью стойкая к мытью </li>
        </ul>
        <div class="featurette"">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <td>
                        <p>Техническая информация </p>
                    </td>
                    <td>
                        <p>Distemper </p>
                    </td>
                    <td>
                        <p>Limewash </p>
                    </td>
                    <td>
                        <p>Roor Paint </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Расход, м2/л </p>
                    </td>
                    <td>
                        <p>15 </p>
                    </td>
                    <td>
                        <p>в </p>
                    </td>
                    <td>
                        <p>14 </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Степень блеска, % </p>
                    </td>
                    <td>
                        <p>Абсолютно матовая (3%) </p>
                    </td>
                    <td>
                        <p>Абсолютно матовая (3%) </p>
                    </td>
                    <td>
                        <p>Средний блеск (50%) </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Стойкость к мытью </p>
                    </td>
                    <td>
                        <p>Чистка губкой </p>
                    </td>
                    <td>
                        <p>Чистка губкой </p>
                    </td>
                    <td>
                        <p>Влажная уборка </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Содержание ЛОС, % </p>
                    </td>
                    <td>
                        <p>Менее 0,1% </p>
                    </td>
                    <td>
                        <p>Менее 20% </p>
                    </td>
                    <td>
                        <p>Менее 39% </p>
                    </td>
                </tr>
                    </tbody>
            </table>
        </div>
    </div>
    <hr class="featurette-divider">


    <div id="primers" class="lead">
        <h2 class="featurette-heading">ГРУНТОВКИ</h3>
<p>Мы предлагаем три грунтовки на выбор для правильной подготовки поверхности перед покраской. </p>
<h3  class="muted">Acrylic Primer Undercoat (на водной основе) </h3>
<p>Высококачественная экологически чистая грунтовка для нанесения на некрашеное дерево, металлические изделия и штукатурку внутри помещения для последующего нанесения красок Little Greene.</p>
        <ul class="unstyled">
<li>Доступна в цветах, подходящих к выбранному цвету финишной краски </li>
<li>Практически не имеет запаха во время нанесения и сохнет в течение 2-4 часов. </li>
<li>Экологически чистая - не содержит органических растворителей. </li>
</ul>
<h3  class="muted">Traditional Oil Primer Undercoat (на масляной основе) </h3>
<p>Традиционная масляная грунтовка с низким содержанием ЛОС. Служит высококачественной антикоррозионной грунтовкой для изделий из металла и некрашеной древесины для последующего нанесения любыми красками  <span class="font2">Little Greene. </p>
<ul class="unstyled">
<li>Доступна в цветах, подходящих к выбранному цвету финишной краски </li>
<li>Практически не имеет запаха во время нанесения и сохнет в течение 2-4 часов </li>
        </ul>
<h3  class="muted"> Aluminium Wood Primer (на масляной основе) </h3>
<p>Высококачественная алюминиевая грунтовка, препятствующая выходу смолы на твердых и мягких смолистых породах дерева, как для внутренних, так и для внешних работ. </p>
<ul class="unstyled">
<li>Отличная стойкость к смолам </li>
<li> Цвет - розовый </li>
        </ul>
        <div class="featurette">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <td>
                        <p>Техническая информация </p>
                    </td>
                    <td>
                        <p>Acrylic Primer Undercoat </p>
                    </td>
                    <td>
                        <p>Traditional Oil Primer Undercoat </p>
                    </td>
                    <td>
                        <p>Aluminium Wood Primer </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Расход, м2/л </p>
                    </td>
                    <td>
                        <p>14 </p>
                    </td>
                    <td>
                        <p>12 </p>
                    </td>
                    <td>
                        <p>12 </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Степень блеска, % </p>
                    </td>
                    <td>
                        <p>Матовая (5%) </p>
                    </td>
                    <td>
                        <p>Матовая (5%) </p>
                    </td>
                    <td>
                        <p>Матовая (5%) </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Стойкость к мытью </p>
                    </td>
                    <td>
                        <p>Отсутствует </p>
                    </td>
                    <td>
                        <p>Отсутствует </p>
                    </td>
                    <td>
                        <p>Отсутствует </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Содержание ЛОС, % </p>
                    </td>
                    <td>
                        <p>Менее 0,1% </p>
                    </td>
                    <td>
                        <p>Менее 20% </p>
                    </td>
                    <td>
                        <p>Менее 32% </p>
                    </td>
                </tr>
                    </tbody>
            </table>
        </div>
    </div>
    <hr class="featurette-divider">

    <div id="smart_paint" class="lead">
        <h2 class="featurette-heading">Умные краски</h3>

<p>Самым разумным выбором для Вашего дома и Вашей семьи являются водные краски Little Greene Intelligent Matt и Intelligent Eggshell, сочетающие в себе стойкость и красоту. Эти передовые краски предназначены для простого и быстрого нанесения. Они могут быть использованы в большинстве случаев: и для покраски стен, и для деревянных изделий, и для металлических радиаторов.</p>
       
<p>Водные краски Little Greene Intelligent Matt и Intelligent Eggshell:</p>
    <ul class="unstyled">
        <li>Две самые экологически чистые краски в ассортименте </li>
        <li>Безопасны для детей</li>
        <li>Стойкие к мытью</li>
        <li>Износоустойчивы</li>
        <li>Сохнут в течение 2-4 часов</li>
        <li>Нанесение валиком или кистью</li>
        <li>Не требуют предварительного грунтования </li>
        <li>Одного или двух слоев может быть достаточно</li>
        <li>Универсальность – краска можно наносить на стены, деревянные изделия и радиаторы отопления</li>
        <li>В некоторых случаях можно наносить снаружи</li>
    </ul>
        <p>Доступны во ВСЕХ цветах Little Greene в таре 5, 2,5 и 1л.</p>
        <table class="table table-hover featurette">
            <tbody>
            <tr>
                <td></td>
                <td><h3  class="muted">Intelligent Matt Emulsion</h3>
<p>Совершенно матовая, но полностью моющаяся альтернатива традиционным водным краскам.</p></td>
                <td></td>
                <td>
                    <h3  class="muted">Intelligent Eggshell</h3>
                    <p>Элегантная, с низкой степенью блеска краска, особо рекомендующаяся для деревянных изделий и стен там, где требуется особенная стойкость к мытью.</p>
                </td>
            </tr>
                </tbody>


        </table>
    </div>
    <hr class="featurette-divider">

</div>


