@{
    ViewBag.Title = "Little Greene Коллекция Лондон III. - Crooms Hill c.1760";
}


<div class="category-description">
    <img src="http://www.littlegreene.eu/media/catalog/category/Crooms_Hill.jpg" alt="Little Greene Коллекция Лондон III. - Crooms Hill c.1760" title="Little Greene Коллекция Лондон III. - Crooms Hill c.1760" style="float: left; margin: 0px 5px 0px 0px;">
    <p title="Print rooms became very fashionable in the late 18th Century and this design, from the Manor House on Crooms Hill, has been recreated from a vignette that possibly depicted scenes from the travels of Dr Burnaby, vicar of Greenwich from 1769-1812. 
        It was around this time that paper hangers began decorating rooms using full lengths of wallpaper rather than individual prints to achieve a similarly artisan effect.">
        Печати номеров стали очень модными в конце 18 века, и эта дизайн, из Manor House на Crooms Hill, был воссоздан с виньетки, что, возможно, изображены сцены из путешествий доктор Барнаби, викария Greenwich в 1769-1812.
Примерно в это же время, этими обоя начали украшать помещения с помощью полной длины обоев, а не отдельных отпечатков для достижения такого же эффекта.
    </p>
</div>
<br />

<div class="tab_of_coll">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td style="width: 25%">
                    <h5 title="Crooms Hill - Stucco">Crooms Hill - Stucco</h5>
                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/c/r/crooms_hill_-_stucco.jpg" alt="Crooms Hill - Stucco" title="Crooms Hill - Stucco" height="116" width="116">
                </td>
                
                <td style="width: 25%">
                    <h5 title="Crooms Hill - Breccia">Crooms Hill - Breccia</h5>
                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/c/r/crooms_hill_-_breccia.jpg" alt="Crooms Hill - Breccia" title="Crooms Hill - Breccia" height="116" width="116">
                </td>
                <td style="width: 25%">
                    <h5 title="Crooms Hill - Fresco">Crooms Hill - Fresco</h5>
                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/c/r/crooms_hill_-_fresco.jpg" alt="Crooms Hill - Fresco" title="Crooms Hill - Fresco" height="116" width="116">
                </td>
            </tr>
        </tbody>
    </table>
</div>

