@{
    ViewBag.Title = "Little Greene Коллекция Лондон III. - Crowe Hall Lane c.1898";
}


<div class="category-description">
    <img src="http://www.littlegreene.eu/media/catalog/category/Crowe.jpg" alt="Little Greene Коллекция Лондон III. - Crowe Hall Lane c.1898" title="Little Greene Коллекция Лондон III. - Crowe Hall Lane c.1898" style="float: left; margin: 0px 5px 0px 0px;">
    <p title="A large-scale, late 19th century wallpaper with a bold pattern of exotic birds and flowers. 
        The paper had been used in a curving stairwell in Crowe Hall, a Suffolk manor house where the vertical nature of the trailing pattern emphasised the height of the room.
    It is likely to have been hung around the turn of the century and was recovered during extensive conservation work to the house much later.">
        В большей части, конца 19 века, были обои с рельефными рисунками экзотических птиц и цветов.
        Обои были использованы возле изогнутой лестнице в Crowe Hall, Suffolk усадьбы, где вертикальная природы задней картина подчеркнула высоту помещения.
     Они, вероятно, были повешены на рубеже веков и были восстановлены ​​в ходе обширных работ по восстановлению дома намного позже.
    </p>
</div>

<br />

<div class="tab_of_coll">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td style="width: 25%">
                    <h5 title="Crowe Hall Lane - Talcum">Crowe Hall Lane - Talcum</h5>

                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/c/r/crowe_hall_lane_-_talcum.jpg" alt="Crowe Hall Lane - Talcum" title="Crowe Hall Lane - Talcum" width="116" height="116">
                </td>
                <td style="width: 25%">
                    <h5 title="Crowe Hall Lane - Charme">Crowe Hall Lane - Charme</h5>
                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/c/r/crowe_hall_lane_-_charme.jpg" alt="Crowe Hall Lane - Charme" title="Crowe Hall Lane - Charme" width="116" height="116">
                </td>



                <td style="width: 25%">

                    <h5 title="Crowe Hall Lane - Paradise">Crowe Hall Lane - Paradise</h5>
                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/c/r/crowe_hall_lane_-_paradise.jpg" alt="Crowe Hall Lane - Paradise" title="Crowe Hall Lane - Paradise" width="116" height="116">
                </td>
            </tr>
        </tbody>
    </table>
</div>


