@{
    ViewBag.Title = "Little Greene Коллекция Лондон III. - Grosvenor Street c.1830";
}


<div class="category-description">
    <img src="http://www.littlegreene.eu/media/catalog/category/Grosvenor.jpg" alt="Little Greene Коллекция Лондон III. - Grosvenor Street c.1830" title="Little Greene Коллекция Лондон III. - Grosvenor Street c.1830" style="float: left; margin: 0px 5px 0px 0px;">
    <p title="An early 19th Century hand-blocked wallpaper, this pattern features a bold trailing floral print on a pin-print honeycomb ground. 
                        The paper was the last but one in a ‘sandwich’ of 17 layers of wallpaper taken from this property; a of prize artefact in the English Heritage archive and one which singlehandedly documents a period of over a hundred years of historic wallpaper from one site.">
    </p>

</div>
<br />


<div class="tab_of_coll">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td style="width: 25%">
                    <h5 title="Grosvenor Street - Begonia">Grosvenor Street - Begonia</h5>
                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/g/r/grosvenor_-_begonia.jpg" alt="Grosvenor Street - Begonia" title="Grosvenor Street - Begonia" height="116" width="116">
                </td>
                <td style="width: 25%">
                    <h5 title="Grosvenor Street - Alchemy">Grosvenor Street - Alchemy</h5>
                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/g/r/grosvenor_-_alchemy.jpg" alt="Grosvenor Street - Alchemy" title="Grosvenor Street - Alchemy" height="116" width="116">
                </td>
                <td style="width: 25%">
                    <h5 title="Grosvenor Street - Primrose">Grosvenor Street - Primrose</h5>
                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/g/r/grosvenor_-_primrose.jpg" alt="Grosvenor Street - Primrose" title="Grosvenor Street - Primrose" height="116" width="116">
                </td>
                <td style="width: 25%">
                    <h5 title="Grosvenor Street - Cornflower">Grosvenor Street - Cornflower</h5>
                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/g/r/grosvenor_-_cornflower.jpg" alt="Grosvenor Street - Cornflower" title="Grosvenor Street - Cornflower" height="116" width="116">
                </td>
            </tr>

            <tr>
                <td style="width: 25%">
                    <h5 title="Grosvenor Street - Parlour">Grosvenor Street - Parlour</h5>
                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/g/r/grosvenor_-_parlour.jpg" alt="Grosvenor Street - Parlour" title="Grosvenor Street - Parlour" height="116" width="116">
                </td>
            </tr>
    </table>
</div>
