@{
    ViewBag.Title = "Little Greene Коллекция Лондон III. - High Street c.1885";
}


<div class="category-description">
    <img src="http://www.littlegreene.eu/media/catalog/category/High_Street.jpg" alt="Little Greene Коллекция Лондон III. - High Street c.1885" title="Little Greene Коллекция Лондон III. - High Street c.1885" style="float: left; margin: 0px 5px 0px 0px;">
    <p title="This paper is based on an early 18th Century ‘Tree of Life’ design, which found a place in English homes as an embroidered (and later block-printed) pattern on cotton, imported from India. 
        By the end of the 19th Century it was a machine-produced design, meaning it was manufactured in much larger batches; fragments of the same or similar papers are known to have been discovered at multiple sites from London to Scotland, hence its slightly ambiguous title in this collection.">
        Эти обои берут начало с раннего 18-го века, дизайн "Древо жизни", который нашел свое применение в английских домах, как вышитый (а затем и блок-печатный) узор на хлопоке, импортируемом из Индии.
        К концу 19-го века было налажено автоматическое производство, и это означает, что они были изготовлены ​​в гораздо больших партиях.
        Фрагменты таких обоев или аналогичные работы,  были обнаружены в нескольких местах от Лондона до Шотландии следовательно, это немного неоднозначное название в этой коллекции.
    </p>
</div>

<br />

<div class="tab_of_coll">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td style="width: 25%">


                    <h5 title="High Street - Chalice">High Street - Chalice</h5>
                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/h/i/high_street_-_chalice.jpg" alt="High Street - Chalice" title="High Street - Chalice" width="116" height="116">
                </td>
                <td style="width: 25%">
                    <h5 title="High Street - Wisp">High Street - Wisp</h5>
                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/h/i/high_street_-_wisp.jpg" alt="High Street - Wisp" title="High Street - Wisp" width="116" height="116">
                </td>
                <td style="width: 25%">
                    <h5 title="High Street - Lavender">High Street - Lavender</h5>

                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/h/i/high_street_-_lavender.jpg" alt="High Street - Lavender" title="High Street - Lavender" width="116" height="116">
                </td>
            </tr>
            <tr>
                <td style="width: 25%">

                    <h5 title="High Street - Lapis">High Street - Lapis</h5>
                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/h/i/high_street_-_lapis.jpg" alt="High Street - Lapis" title="High Street - Lapis" width="116" height="116">
                </td>


                <td style="width: 25%">
                    <h5 title="High Street - Eden">High Street - Eden</h5>
                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/h/i/high_street_-_eden.jpg" alt="High Street - Eden" title="High Street - Eden" width="116" height="116">
                </td>
                <td style="width: 25%">
                    <h5 title="High Street - Rouge">High Street - Rouge</h5>
                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/h/i/high_street_-_rouge.jpg" alt="High Street - Rouge" title="High Street - Rouge" width="116" height="116">
                </td>
            </tr>
        </tbody>
    </table>
</div>


