@{
    ViewBag.Title = "Little Greene Коллекция Лондон III. - New Bond Street c.1690";
}
<div class="category-description">
    <img src="http://www.littlegreene.eu/media/catalog/category/New_Bond_street.jpg" alt="Little Greene Коллекция Лондон III. - New Bond Street c.1690" title="Little Greene Коллекция Лондон III. - New Bond Street c.1690" style="float: left; margin: 0px 5px 0px 0px;">
    <p title="Based on one of the oldest surviving documents in English Heritage’s wallpaper archive, this fragment from an embossed leather wall hanging actually predates wallpaper. Panels of embossed and painted leather, usually with a floral pattern, were popular, though expensive, modes of decoration in the late 16th and 17th Centuries. 
        These panels were sewn together to create large-scale decorative hangings, much in the same way that drops of wallpaper are hung side-by-side to create a much more impressive statement.">
        Основываясь на одном из старейших сохранившихся документов в архиве обои Английское наследие, это фрагмент из тисненой кожи висящей на стене, на самом деле предшественник обоям.
        Панели из тисненой кожи и окрашенные, как правило, с цветочным рисунком, был популярным, хоть и дорогой, способ украшения в конце 16-го и 17-го веков.
        Эти панели были сшиты вместе, чтобы создать крупномасштабные декоративные драпировки.
    </p>

</div>


<br />


<div class="tab_of_coll">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                
                <td style="width: 25%">

                    <h5 title="New Bond Street - Victory">New Bond Street - Victory</h5>
                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/n/e/new_bond_street_-_victory.jpg" alt="New Bond Street - Victory" title="New Bond Street - Victory" height="116" width="116">
                </td>
                <td style="width: 25%">
                    <h5 title="New Bond Street - Burnish">New Bond Street - Burnish</h5>
                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/n/e/new_bond_street_-_burnish.jpg" alt="New Bond Street - Burnish" title="New Bond Street - Burnish" height="116" width="116">
                </td>

                <td style="width: 25%">
                    <h5 title="New Bond Street - Scroll">New Bond Street - Scroll</h5>

                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/n/e/new_bond_street_-_scroll.jpg" alt="New Bond Street - Scroll" title="New Bond Street - Scroll" height="116" width="116">
                </td>
            </tr>

        </tbody>
    </table>
</div>

