@{
    ViewBag.Title = "Little Greene Коллекция Лондон III. - North End Road c.1840";
}


<div class="category-description">
    <img src="http://www.littlegreene.eu/media/catalog/category/North_End_Road.jpg" alt="Little Greene Коллекция Лондон III. - North End Road c.1840" title="Little Greene Коллекция Лондон III. - North End Road c.1840" style="float: left; margin: 0px 5px 0px 0px;">
    <p title="This paper, from a West London property that was home to an antique dealer for much of the 20th Century, was only discovered in 1992 when the company sold off all its assets, including its panelled walls. 
                        The design is surprisingly graphic for its period – a more relaxed style, the likes of which undoubtedly influenced post-war 20th Century designers who were keen to bring a more expressive interior to the mainstream market.">
        Эти обои,из собствкенности в Западном Лондоне, который был домом антиквара на протяжении большей части 20-го века, были обнаружены только в 1992 году, когда компания продала все свои активы, в том числе панели на стенах.
Дизайн удивительный для своего времени - более спокойный стиль, подобного которому, несомненно, повлияло послевоенне время 20 века, дизайнеры которого были заинтересованы, чтобы принести более выразительный интерьер для массового рынка.
    </p>

</div>

<br />

<div class="tab_of_coll">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td style="width: 25%">
                    <h5 title="North End Road - Mischief">North End Road - Mischief</h5>
                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/n/o/north_end_road_-_mischief.jpg" alt="North End Road - Mischief" title="North End Road - Mischief" height="116" width="116">
                </td>
                <td style="width: 25%">

                    <h5 title="North End Road - Warm Silver">North End Road - Warm Silver</h5>
                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/n/o/north_end_road_-_warm_silver.jpg" alt="North End Road - Warm Silver" title="North End Road - Warm Silver" height="116" width="116">
                </td>
                <td style="width: 25%">
                    <h5 title="North End Road - Oxford">North End Road - Oxford</h5>
                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/n/o/north_end_road_-_oxford.jpg" alt="North End Road - Oxford" title="North End Road - Oxford" height="116" width="116">
                </td>
                <td style="width: 25%">
                    <h5 title="North End Road - Cartouche">North End Road - Cartouche</h5>
                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/n/o/north_end_road_-_cartouche.jpg" alt="North End Road - Cartouche" title="North End Road - Cartouche" height="116" width="116">
                </td>
            </tr>
        </tbody>
    </table>
</div>


