@{
    ViewBag.Title = "Little Greene Коллекция Лондон III. - Wilton c.1760";
}







<div class="category-description">
    <img src="http://www.littlegreene.eu/media/catalog/category/Wilton.jpg" alt="Little Greene Коллекция Лондон III. - Wilton c.1760" title="Little Greene Коллекция Лондон III. - Wilton c.1760" style="float: left; margin: 0px 5px 0px 0px;">

    <p title="A classic damask design that is very typical of the popular large-scale pomegranate patterns of the mid 18th Century, this would originally have been a flock wallpaper and hung in a grand English home. 
        Flock papers were an English speciality and were really just imitations of expensive textiles, but were nonetheless expensive to produce and a bold statement of luxury and social status.">
        Классический дамасский дизайн ,это очень типиченый популярной в крупном масштабе гранатового листа рисунок, середины 18-го века, это изначально были дорогие обои и висела в домах великих англичан.
        Доргостоящие обои были на самом деле просто имитацией дорогих тканей, но, тем не менее дороги в производстве и это было смелое заявление роскоши и социального статуса владельца.
    </p>

</div>

<br />

<div class="tab_of_coll">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">

        <tbody>
            <tr>
                <td style="width: 25%">

                    <h5 title="Wilton - Sovereign">Wilton - Sovereign</h5>
                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/w/i/wilton_-_sovereign.jpg" alt="Wilton - Sovereign" title="Wilton - Sovereign" height="116" width="116">
                </td>
                <td style="width: 25%">
                    <h5 title="Wilton - Amethyst">Wilton - Amethyst</h5>
                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/w/i/wilton_-_amethyst.jpg" alt="Wilton - Amethyst" title="Wilton - Amethyst" height="116" width="116">
                </td>
                <td style="width: 25%">
                    <h5 title="Wilton - Library Red">Wilton - Library Red</h5>
                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/w/i/wilton_-_library_red.jpg" alt="Wilton - Library Red" title="Wilton - Library Red" height="116" width="116">
                </td>
                <td style="width: 25%">
                    <h5 title="Wilton - Kelp">Wilton - Kelp</h5>
                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/w/i/wilton_-_kelp.jpg" alt="Wilton - Kelp" title="Wilton - Kelp" height="116" width="116">
                </td>
            </tr>
            <tr>

                <td style="width: 25%">
                    <h5 title="Wilton - Cravat">Wilton - Cravat</h5>
                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/w/i/wilton_-_cravat.jpg" alt="Wilton - Cravat" title="Wilton - Cravat" height="116" width="116">
                </td>
                <td style="width: 25%">
                    <h5 title="Wilton - Halo">Wilton - Halo</h5>
                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/w/i/wilton_-_halo.jpg" alt="Wilton - Halo" title="Wilton - Halo" height="116" width="116">
                </td>
                <td style="width: 25%">
                    <h5 title="Wilton - Drapery">Wilton - Drapery</h5>
                    <img src="http://www.littlegreene.eu/media/catalog/product/cache/1/small_image/116x116/9df78eab33525d08d6e5fb8d27136e95/w/i/wilton_-_drapery.jpg" alt="Wilton - Drapery" title="Wilton - Drapery" height="116" width="116">
                </td>
                
            </tr>

        </tbody>
    </table>
</div>

